/*
 * Les Ourses à plumes
 * Dev Cascading Style Sheet
 * Requires CSS Main File
 * Includes CSS Debug and Named Components
 */

/* ------------------------------------------------------------------ */
/* # CSS Debug */
/* ------------------------------------------------------------------ */

/* Icons */
.css-debug .icon {background-color: rgba(255, 255, 0, .25);}
.css-debug .icon > svg {background-color: rgba(0, 255, 0, .25);}
.css-debug .icon > .text {background-color: rgba(0, 255, 255, .25);}

/* Frame */

/* Nav Pane */
.css-debug .logo {background-color: rgba(255, 0, 0, .25);}
.css-debug .main-nav {background-color: rgba(255, 0, 255, .25);}
.css-debug .main-nav li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .main-nav li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* Main Pane */

/* Header */
.css-debug .user-connect {background-color: rgba(0, 0, 255, .25);}

/* Section */

/* Footer */

/* Main Nav */

/* Fast Nav */
.css-debug .fast-nav {background-color: rgba(255, 255, 0, .25);}
.css-debug .fast-nav .prev,
.css-debug .fast-nav .next {background: rgba(255, 0, 0, .25);}
.css-debug .fast-nav ul {background-color: rgba(255, 0, 255, .25);}
.css-debug .fast-nav ul li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .fast-nav ul li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* User Nav */
.css-debug .user-nav .close {background-color: rgba(0, 0, 255, .25);}
.css-debug .user-nav .user-name {background-color: rgba(0, 255, 0, .25);}

/* Site Nav */
.css-debug .site-nav {background-color: rgba(0, 255, 255, .25);}
.css-debug .site-nav ul li {background-color: rgba(255, 0, 0, .5);}
.css-debug .site-nav ul li:before {background-color: rgba(0, 0, 255, .25);}

/* Sub Navs */
.css-debug .sub-nav dt:nth-child(odd),
.css-debug .sub-nav dd:nth-child(odd),
.css-debug .sub-nav li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .sub-nav dt:nth-child(even),
.css-debug .sub-nav dd:nth-child(even),
.css-debug .sub-nav li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* Orbit Slider */
.css-debug .orbit-container {background-color: rgba(255, 255, 0, .25); /* DEBUG */}
.css-debug .orbit-container h1:nth-child(odd),
.css-debug .orbit-container h2:nth-child(odd),
.css-debug .orbit-container h3:nth-child(odd),
.css-debug .orbit-container h5:nth-child(odd),
.css-debug .orbit-container h4:nth-child(odd),
.css-debug .orbit-container h6:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .orbit-container h1:nth-child(even),
.css-debug .orbit-container h2:nth-child(even),
.css-debug .orbit-container h3:nth-child(even),
.css-debug .orbit-container h5:nth-child(even),
.css-debug .orbit-container h4:nth-child(even),
.css-debug .orbit-container h6:nth-child(even) {background-color: rgba(0, 255, 0, .25);}
.css-debug .orbit-container blockquote {background-color: rgba(255, 255, 0, .25);}
.css-debug .orbit-container blockquote cite {background-color: rgba(0, 255, 255, .25);}
.css-debug .orbit-slides-container {background-color: rgba(255, 0, 0, .25);}

/* Autocomplete */
.css-debug .autocomplete ul > li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .autocomplete ul > li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* Toolbar */
.css-debug .tool-bar {background-color: rgba(255, 255, 0, .25);}

/* Articles */
.css-debug .article .title {background-color: rgba(255, 0, 0, .25);}
.css-debug .article .author:not(p) {background-color: rgba(0, 255, 0, .25);}
.css-debug .article .date {background-color: rgba(0, 0, 255, .25);}
.css-debug .article .summary {background-color: rgba(255, 255, 0, .25);}
.css-debug .article .tags {background-color: rgba(0, 255, 255, .25);}
.css-debug .article h1,
.css-debug .article h2,
.css-debug .article h3,
.css-debug .article h4,
.css-debug .article h5,
.css-debug .article h6 {background-color: rgba(255, 0, 0, .25);}
.css-debug .article p {background-color: rgba(255, 255, 0, .25);}
.css-debug .article p + p:last-child {background-color: rgba(255, 0, 255, .25);}
.css-debug .article > *:first-child {background-color: rgba(255, 0, 0, .25);}
.css-debug .article > *:last-child {background-color: rgba(0, 0, 255, .25);}
.css-debug .article p.author {background-color: rgba(0, 255, 255, .25);}
.css-debug .article .callout {background-color: rgba(255, 0, 255, .25);}

/* Articles List */
.css-debug .article-list li:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .article-list li:nth-child(even) {background-color: rgba(255, 255, 0, .25);}
.css-debug .article-list li h4 {background-color: rgba(0, 255, 0, .25);}
.css-debug .article-list li h5 {background-color: rgba(0, 255, 255, .25);}
.css-debug .article-list li > ul {background-color: rgba(0, 255, 255, .25);}
.css-debug .article-list li .href-block {}
.css-debug .article-list li .title {background-color: rgba(0, 255, 0, .25);}
.css-debug .article-list li .overview {}
.css-debug .article-list li .date {background-color: rgba(255, 255, 0, .25);}
.css-debug .article-list li .summary {background-color: rgba(255, 255, 0, .25);}
.css-debug .article-list li .author {background-color: rgba(255, 0, 255, .25);}

/* Comment List */
.css-debug .comment-list .column:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .comment-list .column:nth-child(even) {background-color: rgba(0, 255, 0, .25);}
.css-debug .comment-list .topic {background-color: rgba(0, 0, 255, .25);}
.css-debug .comment-list .date {background-color: rgba(255, 255, 0, .25);}
.css-debug .comment-list .post {background-color: rgba(255, 0, 255, .25);}

/* User Profile */
.css-debug .user-profile .user-name {background-color: rgba(0, 0, 255, .25);}
.css-debug .user-profile .user-role {background-color: rgba(255, 255, 0, .75);}
.css-debug .user-profile .user-desc {background-color: rgba(0, 255, 0, .25);}

/* User Articles List */
.css-debug .user-article-list {background-color: rgba(255, 255, 0, .25);}
.css-debug .user-article-list > li {background-color: rgba(0, 255, 255, .25);}
.css-debug .user-article-list .summary {background-color: rgba(255, 0, 0, .25);}

/* FAQ */
.css-debug .faq .question {background-color: rgba(255, 0, 0, .25);}
.css-debug .faq .question > .text,
.css-debug .faq .question > input {background-color: rgba(255, 255, 0, .25);}
.css-debug .faq .answer {background-color: rgba(0, 255, 0, .25);}
.css-debug .faq .answer > p,
.css-debug .faq .answer > textarea {background-color: rgba(0, 0, 255, .25);}

/* Folders Switcher */
.css-debug .folder-switcher h4 {background-color: rgba(255, 0, 0, .5);}
.css-debug .folder-switcher .prev {background-color: rgba(0, 255, 0, .5);}
.css-debug .folder-switcher .next {background-color: rgba(0, 0, 255, .5);}
.css-debug .folder-switcher .prev .icon > svg,
.css-debug .folder-switcher .next .icon > svg {background-color: rgba(0, 255, 255, .5);}
.css-debug .folder-switcher .prev .text-label,
.css-debug .folder-switcher .next .text-label {background-color: rgba(255, 255, 0, .5);}

/* Folders List */
.css-debug .folder > .list > li:nth-child(odd) {background-color: rgba(255, 0, 0, .5);}
.css-debug .folder > .list > li:nth-child(even) {background-color: rgba(0, 255, 0, .5);}

/* Thanks */
.css-debug .thanks-list {background-color: rgba(255, 255, 0, .25);}
.css-debug .thanks-list li {background-color: rgba(255, 0, 0, .25);}
.css-debug .thanks-list .picture {background-color: rgba(0,0,255,.5);}

/* ------------------------------------------------------------------ */
/* # Named Components */
/* ------------------------------------------------------------------ */

/* Dev Toolbar */
#toolbar a:focus {outline-offset: -.5rem;}
#_null_links_toggle:before {content: 'Enable ';}
#_null_links_toggle.active:before {content: 'Disable ';}
#_css_fx_toggle:before,
#_svg_fx_toggle:before,
#_js_fx_toggle:before {content: 'Show ';}
#_css_fx_toggle.active:before ,
#_svg_fx_toggle.active:before,
#_js_fx_toggle.active:before {content: 'Hide ';}
#toolbar [id^='_css_debug_']:not(.disabled):before {content: 'Show ';}
#toolbar [id^='_css_debug_']:not(.disabled).active:before {content: 'Hide ';}
#_toolbar_stick_toggle:before {content: 'Undock ';}
#_toolbar_stick_toggle.active:before {content: 'Dock ';}

/* Dev Testbar */
#dev_testbar {position: absolute; width: 100%; height: 6rem; top: -6rem; left: 0; margin: 0; padding: 2rem 3rem; font-size: .875rem; color: rgba(255, 255, 255, .75); background-color: brown; border-color: transparent; box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); transition: top .5s; z-index: 2;}
#dev_testbar:hover {top: 0;}
#dev_testbar:before {content: ''; position: absolute; width: 7.5rem; height: 5rem; bottom: -8rem; left: 0; border-style: solid; border-color: transparent; border-width: 3.75rem; border-top: 1.25rem solid brown; opacity: 1;}
#dev_testbar > svg {position: absolute; width: 7.5rem; height: 5rem; bottom: -3rem; left: 0; padding: .25rem; fill: rgba(255, 255, 255, 1); background-color: brown;  opacity: 1;}
#dev_testbar:hover:before {opacity: 1;}
#dev_testbar:hover > svg {fill: rgba(255, 255, 255, .5); opacity: 1;}
#dev_testbar > h4 {display: inline-block; margin: .25rem 1rem .25rem 0; font-size: 112.5%; color: rgba(255, 255, 255, .5); line-height: 150%; vertical-align: middle;}
#dev_testbar > label {margin: 0 0 0 .5rem; color: white; vertical-align: middle}
#dev_testbar > input[type='checkbox'] {margin: 0; vertical-align: middle;}
#dev_testbar > input[type='button'] {margin-left: 1rem; vertical-align: middle;}
#dev_testbar > input[type='range'] {margin: 0; vertical-align: middle;}

/* Dev Container*/
#dev_container {padding: 1rem; left: 0; width: 100%;}
#dev_container > h2:first-of-type {margin-top: 0;}
