/*
 * VERSION
 * Les Ourses à plumes
 * CSS Debug Cascading Style Sheet
 * ver. alpha 2
 *
 */

/* ------------------------------------------------------------------ */
/* # Background Masks */
/* ------------------------------------------------------------------ */

/* Icons */
[class^="icon-"].css-debug, [class*="icon-"].css-debug {background-color: rgba(255, 255, 0, .5);}

/* Nav Pane */
.css-debug.nav-pane {background-color: rgba(0, 255, 255, .25);}
.css-debug.nav-pane .logo {background-color: rgba(255, 0, 0, .25);}
.css-debug.nav-pane .main-nav {background-color: rgba(255, 0, 255, .25);}
.css-debug.nav-pane .main-nav ul {background-color: rgba(0, 255, 0, .25);}
.css-debug.nav-pane .main-nav li {background-color: rgba(255, 255, 0, .25);}

/* Fast Nav */
.css-debug.fast-nav {background-color: rgba(255, 0, 255, .25);}

/* Site Nav */
.css-debug.site-nav {background-color: rgba(0, 255, 255, .25);}
.css-debug.site-nav ul li {background-color: rgba(255, 0, 0, .5);}
.css-debug.site-nav ul li:before {background-color: rgba(0, 0, 255, .25);}
.css-debug.site-nav [class^="icon-"], .site-nav.css-debug [class*="icon-"] {background-color: rgba(0, 255, 0, .25);}

/* Accessibility */
.css-debug.accessibility {background-color: rgba(255, 0, 0, .25);}
.css-debug.accessibility ul {background-color: rgba(0, 255, 0, .25);}
.css-debug.accessibility ul li {background-color: rgba(0, 0, 255, .25);}

/* Breadcrumbs */
.css-debug.breadcrumbs {background-color: rgba(255, 0, 0, .25);}
.css-debug.breadcrumbs ul {background-color: rgba(0, 255, 0, .25);}
.css-debug.breadcrumbs ul li {background-color: rgba(0, 0, 255, .25);}

/* Orbit Slider */
.css-debug.orbit-container h1:nth-child(odd),
.css-debug.orbit-container h2:nth-child(odd),
.css-debug.orbit-container h3:nth-child(odd),
.css-debug.orbit-container h5:nth-child(odd),
.css-debug.orbit-container h4:nth-child(odd),
.css-debug.orbit-container h6:nth-child(odd) {
  background-color: rgba(255, 0, 0, .25);
}
.css-debug.orbit-container h1:nth-child(even),
.css-debug.orbit-container h2:nth-child(even),
.css-debug.orbit-container h3:nth-child(even),
.css-debug.orbit-container h5:nth-child(even),
.css-debug.orbit-container h4:nth-child(even),
.css-debug.orbit-container h6:nth-child(even) {
  background-color: rgba(0, 255, 0, .25);
}
.css-debug.orbit-container blockquote {background-color: rgba(255, 255, 0, .25);}
.css-debug.orbit-container blockquote cite {background-color: rgba(0, 255, 255, .25);}

/* User List */
/* User Table */
/* User Account */
.css-debug .user-infos .column:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .user-infos .column:nth-child(even) {background-color: rgba(0, 255, 0, .25);}
.css-debug .user-infos .column h4 {background-color: rgba(255, 0, 0, .25);}
.css-debug .user-infos .column p {background-color: rgba(255, 255, 0, .25);}
.css-debug .user-infos .column ul {background-color: rgba(255, 0, 0, .25);}
.css-debug .user-infos .column li {background-color: rgba(0, 255, 255, .25);}
.css-debug .user-infos .column time {background-color: rgba(0, 0, 255, .25);}
.css-debug .user-infos .column blockquote {background-color: rgba(255, 0, 255, .25);}

/* Articles */
.css-debug [class*='icon-'] {background-color: rgba(255, 0, 255, .5);}
.css-debug.article .topic .title {background-color: rgba(255, 0, 0, .5);}
.css-debug.article .topic .author {background-color: rgba(0, 255, 0, .5);}
.css-debug.article .topic .date {background-color: rgba(0, 0, 255, .5);}
.css-debug.article .topic .summary {background-color: rgba(255, 255, 0, .5);}
.css-debug.article .topic .tags {background-color: rgba(0, 0, 255, .5);}
.css-debug.article .column h1,
.css-debug.article .column h2,
.css-debug.article .column h3,
.css-debug.article .column h4,
.css-debug.article .column h5,
.css-debug.article .column h6 {
  background-color: rgba(255, 255, 0, .25);
}
.css-debug.article .column p {background-color: rgba(0, 255, 255, .25);}
.css-debug.article .column p + p:last-child {background-color: rgba(255, 0, 0, .25);}
.css-debug.article .column > *:first-child {background-color: rgba(255, 0, 0, .5);}
.css-debug.article .column > *:last-child {background-color: rgba(0, 0, 255, .5);}
.css-debug.article .column > .author {background-color: rgba(0, 255, 0, .5);}
.css-debug.article .column .callout {background-color: rgba(255, 0, 255, .5);}
.css-debug.article .column .collapse {background-color: rgba(0, 255, 0, .5);}

/* Articles List */
.css-debug.articles-list li {}
.css-debug.articles-list li h4 {background-color: rgba(255, 255, 0, .5);}
.css-debug.articles-list li > ul {background-color: rgba(0, 255, 255, .5);}
.css-debug.articles-list li .href-block {}
.css-debug.articles-list li .title {background-color: rgba(0, 255, 0, .5);}
.css-debug.articles-list li .summary {background-color: rgba(255, 0, 0, .5);}
.css-debug.articles-list li .date {background-color: rgba(255, 255, 0, .5);}
.css-debug.articles-list li .author {background-color: rgba(0, 255, 0, .5);}

/* Comment List */
.css-debug.comment-list .column:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug.comment-list .column:nth-child(even) {background-color: rgba(0, 255, 0, .25);}
.css-debug.comment-list .topic {background-color: rgba(0, 0, 255, .25);}
.css-debug.comment-list .date {background-color: rgba(255, 255, 0, .25);}
.css-debug.comment-list .post {background-color: rgba(255, 0, 255, .25);}

