/*
 * VERSION
 * Les Ourses à plumes
 * Responsive Design Cascading Style Sheet
 * ver. alpha 2
 *
 */

/* ------------------------------------------------------------------ */
/* # Font Sizing */
/* ------------------------------------------------------------------ */

/* Hi-res */
@media (min-width: 2880px) {
  html {font-size: 21px;}
}
@media (min-width: 2720px) and (max-width: 2879px) {
  html {font-size: 20.5px;}
}
@media (min-width: 2560px) and (max-width: 2719px) {
  html {font-size: 20px;}
}
@media (min-width: 2400px) and (max-width: 2559px) {
  html {font-size: 19.5px;}
}
@media (min-width: 2240px) and (max-width: 2399px) {
  html {font-size: 19px;}
}
@media (min-width: 2080px) and (max-width: 2239px) {
  html {font-size: 18.5px;}
}
@media (min-width: 1920px) and (max-width: 2079px) {
  html {font-size: 18px;}
}
@media (min-width: 1760px) and (max-width: 1919px) {
  html {font-size: 17.5px;}
}

/* Medium-res */
@media (min-width: 1600px) and (max-width: 1759px) {
  html {font-size: 17px;}
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {font-size: 16.5px;}
}
@media (min-width: 1280px) and (max-width: 1439px) {
  html {font-size: 16px;}
}
@media (min-width: 1120px) and (max-width: 1279px) {
  html {font-size: 15.5px;}
}

/* Low-res */
@media (min-width: 960px) and (max-width: 1119px) {
  html {font-size: 15px;}
}
@media (min-width: 800px) and (max-width: 959px) {
  html {font-size: 14.5px;}
}
@media (min-width: 640px) and (max-width: 799px) {
  html {font-size: 14px;}
}
@media (min-width: 480px) and (max-width: 639px) {
  html {font-size: 13.5px;}
}
@media (max-width: 479px) {
  html {font-size: 13px;}
}

/* ------------------------------------------------------------------ */
/* # Display Sizing */
/* ------------------------------------------------------------------ */

/* Hi-res */
@media (min-width: 2880px) {
  .frame {left: 16.66666666666667%; width: 66.66666666666667%;}
}
@media (min-width: 2720px) and (max-width: 2879px) {
  .frame {left: 16.1764705882353%; width: 67.64705882352941%;}
}
@media (min-width: 2560px) and (max-width: 2719px) {
  .frame {left: 15.625%; width: 68.75%;}
}
@media (min-width: 2400px) and (max-width: 2559px) {
  .frame {left: 15%; width: 70%;}
}
@media (min-width: 2240px) and (max-width: 2399px) {
  .frame {left: 14.28571428571429%; width: 71.42857142857143%;}
}
@media (min-width: 2080px) and (max-width: 2239px) {
  .frame {left: 13.46153846153846%; width: 73.07692307692308%;}
}
@media (min-width: 1920px) and (max-width: 2079px) {
  .frame {left: 12.5%; width: 75%;}
}
@media (min-width: 1760px) and (max-width: 1919px) {
  .frame {left: 11.36363636363637%; width: 77.27272727272727%;}
}

/* Medium-res */
@media (min-width: 1600px) and (max-width: 1759px) {
  .frame {left: 10%; width: 80%;}
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .frame {left: 6.25%; width: 87.5%;}
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .frame {left: 3.125%; width: 93.75%;}
}
@media (min-width: 1120px) and (max-width: 1279px) {
  .frame {left: 1.785714285714285%; width: 96.42857142857143%;}
}

/* Low-res */
@media (max-width: 1119px) {
  .frame > .nav-pane {
    border-left: 0;
  }
}
@media (min-width: 960px) and (max-width: 1119px) {
}
@media (min-width: 800px) and (max-width: 959px) {
  .fast-nav ul li a {font-size: 90%;} /* TEMP : font size adjustment for 800px to 959px display width */
}
@media (max-width: 799px) {
  .frame > .nav-pane,
  .frame > .main-pane {
    display: inline-block;
    width: 100%;
  }
  .logo {
    width: 33.33333333333333%;
    float: left;
  }
  .nav-pane .search,
  .nav-pane .auth {
    width: 66.66666666666667%;
    float: right;
  }
  .main-nav {
    width: 100%;
  }
  .nav-pane .user-nav {
    clear: left;
  }
  .nav-pane .user-nav ul {
  }
  .nav-pane .user-nav ul li{
    float: left;
    width: 50%;
    line-height: 2rem;
  }
  .nav-pane .main-nav .sub-list {
    width: 100%;
  }
  .nav-pane .main-nav li {
    float: left;
    width: 33.33333333333333%;
    line-height: 3rem;
  }
  .fast-nav {
    margin: 0;
    width: 100%;
  }
  .fast-nav li {
    margin: 0;
    float: left;
    width: 50%;
  }
  .frame > .main-pane {
    width: 100%;
    display: block;
  }
  article .author {
    width: 100%;
  }
  article .date {
    float: left;
    width: 100%;
    text-align: left;
  }
}

