/*
 * Les Ourses à plumes
 * Effects Cascading Style Sheet
 * Includes CSS Effects and CSS Debug
 * ver. 1.0.3
 */

/* ------------------------------------------------------------------ */
/* # CSS Effects */
/* ------------------------------------------------------------------ */

/* Inputs */
.css-fx input[type="text"],
.css-fx input[type="password"],
.css-fx input[type="date"],
.css-fx input[type="datetime"],
.css-fx input[type="datetime-local"],
.css-fx input[type="month"],
.css-fx input[type="week"],
.css-fx input[type="email"],
.css-fx input[type="number"],
.css-fx input[type="search"],
.css-fx input[type="tel"],
.css-fx input[type="time"],
.css-fx input[type="url"],
.css-fx input[type="color"],
.css-fx textarea {
  -webkit-transition: -webkit-box-shadow .25s ease-in, border-color .25s ease-out, background-color .125s linear;
     -moz-transition:     moz-box-shadow .25s ease-in, border-color .25s ease-out, background-color .125s linear;
          transition:         box-shadow .25s ease-in, border-color .25s ease-out, background-color .125s linear;
  -webkit-box-shadow: 0 0 .125rem rgba(0, 0, 0, 0); /* Foundation override */
     -moz-box-shadow: 0 0 .125rem rgba(0, 0, 0, 0); /* Foundation override */
          box-shadow: 0 0 .125rem rgba(0, 0, 0, 0); /* Foundation override */
}
.css-fx input[type="text"]:focus,
.css-fx input[type="password"]:focus,
.css-fx input[type="date"]:focus,
.css-fx input[type="datetime"]:focus,
.css-fx input[type="datetime-local"]:focus,
.css-fx input[type="month"]:focus,
.css-fx input[type="week"]:focus,
.css-fx input[type="email"]:focus,
.css-fx input[type="number"]:focus,
.css-fx input[type="search"]:focus,
.css-fx input[type="tel"]:focus,
.css-fx input[type="time"]:focus,
.css-fx input[type="url"]:focus,
.css-fx input[type="color"]:focus,
.css-fx textarea:focus {
  -webkit-box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
          box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}
.css-fx input:focus + small.error,
.css-fx textarea:focus + small.error {
  -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
          box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
}

/* Buttons */
.css-fx button, .css-fx .button {
  box-shadow: 0 .125em 0 0 rgba(255, 255, 255, .25) inset, 0 .125rem .25rem 0 rgba(0, 0, 0, .25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -webkit-transition: background-color .1s ease-out, box-shadow .25s linear;
     -moz-transition: background-color .1s ease-out, box-shadow .25s linear;
       -o-transition: background-color .1s ease-out, box-shadow .25s linear;
          transition: background-color .1s ease-out, box-shadow .25s linear;
}
.css-fx button:hover, .css-fx .button:hover,
.css-fx button:focus, .css-fx .button:focus {
  box-shadow: 0 .125em 0 0 rgba(255, 255, 255, .125) inset, 0 .125rem .25rem 0 rgba(0, 0, 0, .25);
}
.css-fx button:active, .css-fx .button:active,
.css-fx button.active, .css-fx .button.active {
  box-shadow: 0 .125em 0 0 rgba(255, 255, 255, 0) inset, 0 .125rem .25rem 0 rgba(0, 0, 0, .25);
}
.css-fx button.secondary, .css-fx .button.secondary,
.css-fx button.secondary.disabled, .css-fx .button.secondary.disabled,
.css-fx button.secondary[disabled], .css-fx .button.secondary[disabled],
.css-fx button.secondary.disabled:hover, .css-fx .button.secondary.disabled:hover,
.css-fx button.secondary[disabled]:hover, .css-fx .button.secondary[disabled]:hover,
.css-fx button.secondary.disabled:focus, .css-fx .button.secondary.disabled:focus,
.css-fx button.secondary[disabled]:focus, .css-fx .button.secondary[disabled]:focus {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  box-shadow: 0 .125em 0 0 rgba(255, 255, 255, .66) inset, 0 .125rem .25rem 0 rgba(0, 0, 0, .25);
}
.css-fx button.secondary:hover, .css-fx .button.secondary:hover,
.css-fx button.secondary:focus, .css-fx .button.secondary:focus {
  box-shadow: 0 .125em 0 0 rgba(255, 255, 255, .33) inset, 0 .125rem .25rem 0 rgba(0, 0, 0, .25);
}
.css-fx button.secondary:active, .css-fx .button.secondary:active,
.css-fx button.secondary.active, .css-fx .button.secondary.active {
  box-shadow: 0 .125em 0 0 rgba(255, 255, 255, 0) inset, 0 .125rem .25rem 0 rgba(0, 0, 0, .25);
}

/* Buttons Disabled */
.css-fx button.disabled, .css-fx .button.disabled,
.css-fx button[disabled], .css-fx .button[disabled],
.css-fx button.disabled:hover, .css-fx .button.disabled:hover,
.css-fx button[disabled]:hover, .css-fx .button[disabled]:hover,
.css-fx button.disabled:focus, .css-fx .button.disabled:focus,
.css-fx button[disabled]:focus, .css-fx .button[disabled]:focus {
  box-shadow: none;
}

/* Keystrokes */
.css-fx kbd,
.css-fx .keystroke {
  text-shadow: 1px 1px 0 white;
  -webkit-box-shadow: 0 .25rem .25rem -.125rem gainsboro inset, .125rem .125rem .25rem 0 rgba(0, 0, 0, .075);
          box-shadow: 0 .125rem .5rem -.125rem gainsboro inset, .125rem .125rem .25rem 0 rgba(0, 0, 0, .075);
}

/* Containers */
.css-fx .frame {box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, .25);}
.css-fx .frame > .main-pane {box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .25);}
.css-fx .frame > .nav-pane input {box-shadow: 1px 1px 2.5px 0 rgba(0, 0, 0, .5) inset, 1px 1px 0 0 rgba(255, 255, 255, .25);}
.css-fx .frame > .nav-pane input:focus {box-shadow: 1px 1px 2.5px 0 rgba(0, 0, 0, .5) inset, 1px 1px 0 0 rgba(255, 255, 255, .25), 0 0 .75rem .25rem #a8c;}

/* Navs */
.css-fx .user-nav {box-shadow: .125rem .125rem .5rem .125rem rgba(0, 0, 0, .25);}
.css-fx .user-nav .user-name {text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .5);}
.css-fx .main-nav {
  -webkit-transition: top .5s ease-out; /* Sliding effect */
     -moz-transition: top .5s ease-out; /* Sliding effect */
          transition: top .5s ease-out; /* Sliding effect */
}
.css-fx .main-nav ul li a {text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);}
.css-fx .main-nav ul li > a:active,
.css-fx .main-nav ul li > a.current {text-shadow: -1px -1px 0px rgba(0, 0, 0, .5);}
.css-fx .site-nav {box-shadow: 0 .25rem .5rem .125rem rgba(0, 0, 0, .25);}
.css-fx .site-nav ul li {text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);}
.css-fx .site-nav ul li a:hover,
.css-fx .site-nav ul li a:focus {text-shadow: -1px -1px 0 rgba(0, 0, 0, .075), 0 0 .5rem #ffb;}

/* Disabled */
[class*="-nav"] ul li a.disabled,
[class*="-nav"] ul li a:hover.disabled,
[class*="-nav"] ul li a:focus.disabled,
[class*="-nav"] ul li a:active.disabled,
[class*="-nav"] ul li a.disabled.current,
[class*="-nav"] ul li a:hover.disabled.current,
[class*="-nav"] ul li a:focus.disabled.current,
[class*="-nav"] ul li a:active.disabled.current {
  text-shadow: none;
}

/* Logo */
.css-fx .logo a {
  -webkit-transition: background-color .25s ease-out;
     -moz-transition: background-color .25s ease-out;
          transition: background-color .25s ease-out;
}

/* Image Thumbnails */
.css-fx .th {
  -webkit-box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .125);
          box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .125);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.css-fx .th:hover, .th:focus {
  -webkit-box-shadow: 0 0 .5rem .125rem rgba(255, 32, 192, 0.5);
          box-shadow: 0 0 .5rem .125rem rgba(255, 32, 192, 0.5);
}

/* Articles List */
.article-list.draft .href-block {
  -webkit-transition: background-color .5s ease-out;
     -moz-transition: background-color .5s ease-out;
          transition: background-color .5s ease-out;
}
.css-fx .article-list.draft .href-block a:before {
  color: rgba(0, 0, 0, .375);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.css-fx .article-list.standby .href-block a {
  -webkit-transition: border-color .25s ease-out;
     -moz-transition: border-color .25s ease-out;
          transition: border-color .25s ease-out;
}
.css-fx .article-list.standby .href-block a:after {
  -webkit-transition: background-color .25s ease-out;
     -moz-transition: background-color .25s ease-out;
          transition: background-color .25s ease-out;
}
.css-fx .article-list.standby .href-block a:before {text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);}

/* Comment List */
.css-fx .comment-toggle a:after {
  -webkit-transition: color 1.5s ease-out .5s;
     -moz-transition: color 1.5s ease-out .5s;
          transition: color 1.5s ease-out .5s;
}
.css-fx .comment-list .reply textarea:focus {box-shadow: 0 0 .25rem .125rem silver inset;}

/* User Profile */
.user-profile .user-name {text-shadow: 1px 1px rgba(0,0,0,.5);}

/* Backgrounds Effects */
.css-fx.standard-layout {background-image: url('../img/ui/ui-noise.png'), url('../img/ui/pattern-lines.png');}
.css-fx button,
.css-fx .button,
.css-fx .site-nav,
.css-fx .user-profile {background-image: url('../img/ui/ui-noise.png');}
.css-fx .nav-pane {background-image: url('../img/ui/ui-noise.png'), url('../img/ui/pattern-meshes.png');}

/* Orbit */
@media (min-width: 800px) {
  .css-fx .orbit-container,
  .css-fx .site-nav {
    position: relative;
    width: 100%;
    left: 0;
  }
  .css-fx .orbit-container li:before,
  .css-fx .orbit-container li:after,
  .css-fx .site-nav ul:before,
  .css-fx .site-nav ul:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background-image: url('../img/ui/ui-carousel.png');
    background-repeat: no-repeat;
  }
  .css-fx .orbit-slides-container li:not(.black) {background-image: url('../img/ui/ui-noise.png');}
  .css-fx .orbit-container li:before,
  .css-fx .orbit-container li:after {top: 100%; height: 100%;}
  .css-fx .site-nav ul:before,
  .css-fx .site-nav ul:after {bottom: 100%; margin-bottom: .125rem;}
  .css-fx .orbit-container li:before,
  .css-fx .site-nav ul:before {left: 0;}
  .css-fx .orbit-container li:after,
  .css-fx .site-nav ul:after {right: 0;}
  .css-fx .orbit-container li:before {background-position: 0 0;}
  .css-fx .orbit-container li:after {background-position: right 0;}
  .css-fx .orbit-container .black:before {background-position: 0 -24px;}
  .css-fx .orbit-container .black:after {background-position: right -24px;}
  .css-fx .orbit-container .red:before {background-position: 0 -48px;}
  .css-fx .orbit-container .red:after {background-position: right -48px;}
  .css-fx .orbit-container .orange:before {background-position: 0 -72px;}
  .css-fx .orbit-container .orange:after {background-position: right -72px;}
  .css-fx .orbit-container .yellow:before {background-position: 0 -96px;}
  .css-fx .orbit-container .yellow:after {background-position: right -96px;}
  .css-fx .orbit-container .green:before {background-position: 0 -120px;}
  .css-fx .orbit-container .green:after {background-position: right -120px;}
  .css-fx .orbit-container .cyan:before {background-position: 0 -144px;}
  .css-fx .orbit-container .cyan:after {background-position: right -144px;}
  .css-fx .orbit-container .blue:before {background-position: 0 -168px;}
  .css-fx .orbit-container .blue:after {background-position: right -168px;}
  .css-fx .orbit-container .purple:before {background-position: 0 -192px;}
  .css-fx .orbit-container .purple:after {background-position: right -192px;}
  .css-fx .orbit-container .magenta:before {background-position: 0 -216px;}
  .css-fx .orbit-container .magenta:after {background-position: right -216px;}
  .css-fx .site-nav ul:before {background-position: 0 -240px;}
  .css-fx .site-nav ul:after {background-position: right -240px;}
  .css-fx .orbit-slides-container li {box-shadow: 0 .5rem .25rem -0.25rem rgba(0, 0, 0, .25);} 
  .css-fx .orbit-slides-container blockquote,
  .css-fx .orbit-slides-container h1,
  .css-fx .orbit-slides-container h2,
  .css-fx .orbit-slides-container h3 {text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);}
  .css-fx .orbit-slides-container cite,
  .css-fx .orbit-slides-container h4,
  .css-fx .orbit-slides-container h5,
  .css-fx .orbit-slides-container h6 {text-shadow: 1px 1px 0 rgba(255, 255, 255, .25);}
}

/* Responsive Ribbons Effect */
@media (min-width: 1120px) { /* Left and Right Ribbons */
  .css-fx .orbit-container,
  .css-fx .site-nav {width: 102%; left: -1%;}
  .css-fx .orbit-container li:before,
  .css-fx .orbit-container li:after ,
  .css-fx .site-nav ul:before,
  .css-fx .site-nav ul:after {width: 1%; height: 24px;}
}
@media (min-width: 800px) and (max-width: 1119px) { /* Left Ribbon */
  .css-fx .site-nav,
  .css-fx .orbit-container {width: 101%; left: -1%;}
  .css-fx .orbit-container li:before,
  .css-fx .site-nav ul:before {width: 1%; height: 24px;}
}
@media (max-width: 799px) {} /* No Ribbons */

/* ------------------------------------------------------------------ */
/* # CSS Debug */
/* ------------------------------------------------------------------ */

/* Icons */
.css-debug.icon {background-color: rgba(255, 255, 0, .25);}
.css-debug.icon > svg {background-color: rgba(0, 255, 0, .25);}
.css-debug.icon > .text {background-color: rgba(0, 255, 255, .25);}

/* Frame */

/* Nav Pane */
.css-debug .nav-pane {background-color: rgba(255, 255, 0, .25);}
.css-debug .nav-pane .logo {background-color: rgba(255, 0, 0, .25);}
.css-debug .nav-pane ul {background-color: rgba(255, 0, 255, .25);}
.css-debug .nav-pane ul li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .nav-pane ul li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* Main Pane */

/* Header */
.css-debug .header .right {background-color: rgba(0, 0, 255, .25);} /* user-connect icon container */

/* Section */

/* Footer */

/* Main Nav */

/* Fast Nav */
.css-debug .fast-nav {background-color: rgba(255, 255, 0, .25);}
.css-debug .fast-nav .prev,
.css-debug .fast-nav .next {background: rgba(255, 0, 0, .25);}
.css-debug .fast-nav ul {background-color: rgba(255, 0, 255, .25);}
.css-debug .fast-nav ul li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .fast-nav ul li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* User Nav */
.css-debug .user-nav .close {background-color: rgba(0, 0, 255, .25);}
.css-debug .user-nav .user-name {background-color: rgba(0, 255, 0, .25);}

/* Site Nav */
.css-debug .site-nav {background-color: rgba(0, 255, 255, .25);}
.css-debug .site-nav ul li {background-color: rgba(255, 0, 0, .5);}
.css-debug .site-nav ul li:before {background-color: rgba(0, 0, 255, .25);}

/* Accessibility */
/*
.css-debug .accessibility {background-color: rgba(255, 0, 0, .25);}
.css-debug .accessibility ul {background-color: rgba(0, 255, 0, .25);}
.css-debug .accessibility ul li {background-color: rgba(0, 0, 255, .25);}
*/

/* Breadcrumbs */
/*
.css-debug .breadcrumbs {background-color: rgba(255, 0, 0, .25);}
.css-debug .breadcrumbs ul {background-color: rgba(0, 255, 0, .25);}
.css-debug .breadcrumbs ul li {background-color: rgba(0, 0, 255, .25);}
*/

/* Sub Navs */
.css-debug .sub-nav dt:nth-child(odd),
.css-debug .sub-nav dd:nth-child(odd),
.css-debug .sub-nav li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .sub-nav dt:nth-child(even),
.css-debug .sub-nav dd:nth-child(even),
.css-debug .sub-nav li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* Orbit Slider */
.css-debug .orbit-container {background-color: rgba(255, 255, 0, .25); /* DEBUG */}
.css-debug .orbit-container h1:nth-child(odd),
.css-debug .orbit-container h2:nth-child(odd),
.css-debug .orbit-container h3:nth-child(odd),
.css-debug .orbit-container h5:nth-child(odd),
.css-debug .orbit-container h4:nth-child(odd),
.css-debug .orbit-container h6:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .orbit-container h1:nth-child(even),
.css-debug .orbit-container h2:nth-child(even),
.css-debug .orbit-container h3:nth-child(even),
.css-debug .orbit-container h5:nth-child(even),
.css-debug .orbit-container h4:nth-child(even),
.css-debug .orbit-container h6:nth-child(even) {background-color: rgba(0, 255, 0, .25);}
.css-debug .orbit-container blockquote {background-color: rgba(255, 255, 0, .25);}
.css-debug .orbit-container blockquote cite {background-color: rgba(0, 255, 255, .25);}
.css-debug .orbit-slides-container {background-color: rgba(255, 0, 0, .25);}

/* Autocomplete */
.css-debug .autocomplete ul > li:nth-child(odd) {background-color: rgba(0, 255, 0, .25);}
.css-debug .autocomplete ul > li:nth-child(even) {background-color: rgba(0, 0, 255, .25);}

/* Toolbar */
.css-debug .tool-bar {background-color: rgba(255, 255, 0, .25);}

/* Articles */
.css-debug .article .title {background-color: rgba(255, 0, 0, .25);}
.css-debug .article .author:not(p) {background-color: rgba(0, 255, 0, .25);}
.css-debug .article .date {background-color: rgba(0, 0, 255, .25);}
.css-debug .article .summary {background-color: rgba(255, 255, 0, .25);}
.css-debug .article .tags {background-color: rgba(0, 255, 255, .25);}
.css-debug .article h1,
.css-debug .article h2,
.css-debug .article h3,
.css-debug .article h4,
.css-debug .article h5,
.css-debug .article h6 {background-color: rgba(255, 0, 0, .25);}
.css-debug .article p {background-color: rgba(255, 255, 0, .25);}
.css-debug .article p + p:last-child {background-color: rgba(255, 0, 255, .25);}
.css-debug .article > *:first-child {background-color: rgba(255, 0, 0, .25);}
.css-debug .article > *:last-child {background-color: rgba(0, 0, 255, .25);}
.css-debug .article p.author {background-color: rgba(0, 255, 255, .25);}
.css-debug .article .callout {background-color: rgba(255, 0, 255, .25);}

/* Articles List */
.css-debug .article-list li:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .article-list li:nth-child(even) {background-color: rgba(255, 255, 0, .25);}
.css-debug .article-list li h4 {background-color: rgba(0, 255, 0, .25);}
.css-debug .article-list li h5 {background-color: rgba(0, 255, 255, .25);}
.css-debug .article-list li > ul {background-color: rgba(0, 255, 255, .25);}
.css-debug .article-list li .href-block {}
.css-debug .article-list li .title {background-color: rgba(0, 255, 0, .25);}
.css-debug .article-list li .overview {}
.css-debug .article-list li .date {background-color: rgba(255, 255, 0, .25);}
.css-debug .article-list li .summary {background-color: rgba(255, 255, 0, .25);}
.css-debug .article-list li .author {background-color: rgba(255, 0, 255, .25);}

/* Comment List */
.css-debug .comment-list .column:nth-child(odd) {background-color: rgba(255, 0, 0, .25);}
.css-debug .comment-list .column:nth-child(even) {background-color: rgba(0, 255, 0, .25);}
.css-debug .comment-list .topic {background-color: rgba(0, 0, 255, .25);}
.css-debug .comment-list .date {background-color: rgba(255, 255, 0, .25);}
.css-debug .comment-list .post {background-color: rgba(255, 0, 255, .25);}

/* User Profile */
.css-debug .user-profile .user-name {background-color: rgba(0, 0, 255, .25);}
.css-debug .user-profile .user-role {background-color: rgba(255, 255, 0, .75);}
.css-debug .user-profile .user-desc {background-color: rgba(0, 255, 0, .25);}

/* User Articles List */
.css-debug .user-article-list {background-color: rgba(255, 255, 0, .25);}
.css-debug .user-article-list > li {background-color: rgba(0, 255, 255, .25);}
.css-debug .user-article-list .summary {background-color: rgba(255, 0, 0, .25);}

/* FAQ */
.css-debug .faq .question {background-color: rgba(255, 0, 0, .25);}
.css-debug .faq .question > .text,
.css-debug .faq .question > input {background-color: rgba(255, 255, 0, .25);}
.css-debug .faq .answer {background-color: rgba(0, 255, 0, .25);}
.css-debug .faq .answer > p,
.css-debug .faq .answer > textarea {background-color: rgba(0, 0, 255, .25);}

/* Thanks */
.css-debug .thanks-list {background-color: rgba(255, 255, 0, .25);}
.css-debug .thanks-list li {background-color: rgba(255, 0, 0, .25);}
.css-debug .thanks-list .picture {background-color: rgba(0,0,255,.5);}
