/*
 * Les Ourses à plumes
 * Inline Icons Cascading Style Sheet
 * Require CSS Main File
 * ver. 0.0.7
 */

/* ------------------------------------------------------------------ */
/* # Icons */
/* ------------------------------------------------------------------ */

.icon {
  display: inline-block;
}

.icon > svg {
  fill: dimgray;
  width: 2.5rem; /* WARNING : this is defaut width (i.e. medium) */
  height: 2.5rem; /* WARNING : this is defaut height (i.e. medium) */
  padding: .075rem; /* WARNING : this is inner spacing adjustment (automatically deduced from element size) */
  vertical-align: middle;
}
.icon > .text {
  color: darkgray;
}

/* SVG Icons Sizing */
.icon.tiny > svg {width: 1.5rem; height: 1.5rem;} /* 24px */
.icon.small > svg {width: 2rem; height: 2rem;} /* 32px */
.icon.medium > svg {width: 2.5rem; height: 2.5rem;} /* 40px */
.icon.large > svg {width: 3.5rem; height: 3.5rem;} /* 56px */
.icon.huge > svg {width: 5rem; height: 5rem;} /* 80px */

/* SVG Icons Shaping (i.e. link and button boxes) */
a.icon {
  position: relative;
  outline-offset: -.125rem; /* Focus fix */
}
a.icon:not(.button) {
  line-height: 0;
  text-decoration: none; /* TEMP */
  border-radius: .5rem; /* TEMP : better use .radius class instead */
  transition: background-color .25s; /* TEMP */
}
a.icon.round:not(.button) {border-radius: 100%;}
a.icon.radius:not(.button) {border-radius: .5rem;}
a.icon:not(.button):not(.disabled):not(.no-bg):focus,
a.icon:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.active:not(.button):not(.disabled):not(.no-bg) {
  background-color: dimgray;
}
a.icon:not(.button):not(.disabled):not(.no-bg):active,
a.icon.active:not(.button):not(.disabled):not(.no-bg) {
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, .375) inset; /* WARNING : based on 'huge' size */
}
a.icon:not(.button):not(.disabled):focus > svg,
a.icon:not(.button):not(.disabled):hover > svg,
a.icon:not(.button):not(.disabled):active > svg,
a.icon.active:not(.button):not(.disabled) > svg {
  fill: white;
}
a.icon:not(.button) > .text {
  color: dimgray;
  font-size: 75%;
  text-transform: uppercase;
}
a.icon:not(.button):not(.disabled):hover > .text,
a.icon:not(.button):not(.disabled):focus > .text,
a.icon:not(.button):not(.disabled):active > .text,
a.icon.active:not(.button):not(.disabled) > .text {
  color: white;
}

button.icon,
a.button.icon {
  padding: 0;
}
button.icon > svg,
a.button.icon > svg {
  fill: white;
}
button.icon > .text,
.button.icon > .text {
  vertical-align: middle;
}

/* SVG Icons Positioning */
.icon > .text {
  margin-right: .75rem;
}
.icon + .icon {
  margin-left: .5rem;
}

/* SVG Icons Icons Visibility */
.icon.disabled {
  opacity: .25;
}
.icon.disabled:focus {
  -webkit-animation: blink .25s; /* Chrome, Safari, Opera */
          animation: blink .25s; /* Firefox */
}
@-webkit-keyframes blink { /* Chrome, Safari, Opera */
  50% {opacity: .75;}
}
@keyframes blink { /* Firefox */
  50% {opacity: .75;}
}

/* SVG Icons Coloring */
.icon.white > svg {fill: white;} /* Compatibility fix ; should not be used */
.icon.black > svg {fill: black;} /* Compatibility fix ; should not be used  */

.orange > svg {fill: #f73;} /* Like struggles */
a.icon.orange:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.orange:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.orange.active:not(.button):not(.disabled):not(.no-bg){background-color: #f73;}

.fuschia > svg {fill: #e2a;} /* Like ourbody (i.e. magenta) */
a.icon.fuschia:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.fuschia:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.fuschia.active:not(.button):not(.disabled):not(.no-bg) {background-color: #e2a;}

.red > svg {fill: #c33;} /* Like intersec */
a.icon.red:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.red:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.red.active:not(.button):not(.disabled):not(.no-bg) {background-color: #c33;}

.blue > svg {fill: #36c;} /* Like internat */
a.icon.blue:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.blue:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.blue.active:not(.button):not(.disabled):not(.no-bg) {background-color: #36c;}

.turquoise > svg {fill: #399;} /* Like educult (i.e. cyan) */
a.icon.turquoise:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.turquoise:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.turquoise.active:not(.button):not(.disabled):not(.no-bg) {background-color: #399;}

.golden > svg {fill: #ca0;} /* Like ideas */
a.icon.golden:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.golden:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.golden.active:not(.button):not(.disabled):not(.no-bg) {background-color: #ca0;}

.honey > svg {fill: #fa0;} /* Like syndicate */
a.icon.honey:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.honey:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.honey.active:not(.button):not(.disabled):not(.no-bg) {background-color: #fa0;}

.skyblue > svg {fill: #0be;} /* Like twitter */
a.icon.skyblue:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.skyblue:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.skyblue.active:not(.button):not(.disabled):not(.no-bg) {background-color: #0be;}

.royalblue > svg {fill: #359;} /* Like facebook, tumblr */
a.icon.royalblue:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.royalblue:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.royalblue.active:not(.button):not(.disabled):not(.no-bg) {background-color: #359;}

.firered > svg {fill: #b33;} /* Like googleplus, pinterest */
a.icon.firered:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.firered:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.firered.active:not(.button):not(.disabled):not(.no-bg) {background-color: #b33;}

.electricblue > svg {fill: #18c;} /* Like linkedin */
a.icon.electricblue:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.electricblue:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.electricblue.active:not(.button):not(.disabled):not(.no-bg) {background-color: #18c;}

.gingerred > svg {fill: #e42;} /* Like stumbleupon */
a.icon.gingerred:not(.button):not(.disabled):not(.no-bg):focus,
a.icon.gingerred:not(.button):not(.disabled):not(.no-bg):hover,
a.icon.gingerred.active:not(.button):not(.disabled):not(.no-bg) {background-color: #e42;}

/* Javascript Mouse Events Fixes */
a.icon:after {
  content: ""; /* CSS Cover Fix */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a.icon > svg {
  pointer-events: none; /* Pointer Events Fix */
}
