/*
 * VERSION
 * Les Ourses à plumes
 * Debug Cascading Style Sheet
 * ver. alpha 1
 *
 */

/* -------------------------------------------------------------------------- */
/* # Background Masks */
/* -------------------------------------------------------------------------- */

/* Typography */
h1, h2, h3, h4, h5, h6 {background-color: rgba(255, 0, 0, .25);}
p {background-color: rgba(0, 255, 0, .25);}
ul, ol {background-color: rgba(0, 0, 255, .25);}

/* Paragraphs Indentation and Spacing */
article .column p + p:last-child {background-color: rgba(255, 0, 0, .25);}

/* Sidebar */
.sidebar .search,
.sidebar .auth {background-color: rgba(0, 255, 0, .25);}
.sidenav {background-color: rgba(0, 255, 255, .25);}
.sidebar .sidenav ul {background-color: rgba(0, 255, 0, .25);}
.sidebar .sidenav li {background-color: rgba(255, 255, 0, .25);}

/* Logo */
.logo {background-color: rgba(255, 0, 0, .25);}

/* Navs */
.sidenav {background-color: rgba(255, 255, 0, .25);}
.supnav {background-color: rgba(255, 0, 255, .25);}
.subnav {background-color: rgba(0, 255, 255, .25);}

/* Subnav */
.subnav ul li {background-color: rgba(255, 0, 0, .5);}
.subnav ul li:before {background-color: rgba(0, 0, 255, .25);}
.subnav [class^="icon-"] a, .subnav [class*="icon-"] a {background-color: rgba(0, 255, 0, .25);}

/* Articles List */
.articles-list li {}
.articles-list li h4 {background-color: rgba(255, 255, 0, .5);}
.articles-list li .icon-list {background-color: rgba(0, 255, 255, .5);}
.articles-list li .href-block {}
.articles-list li .title {background-color: rgba(0, 255, 0, .5);}
.articles-list li .summary {background-color: rgba(255, 0, 0, .5);}
.articles-list li .date {background-color: rgba(255, 255, 0, .5);}
.articles-list li .author {background-color: rgba(0, 255, 0, .5);}
.icon-list [class^="icon-"], .icon-list [class*="icon-"] {background-color: rgba(255, 255, 0, .5);}

/* Article Header */
article .title {background-color: rgba(255, 0, 0, .5);}
article .author {background-color: rgba(0, 255, 0, .5);}
article .date {background-color: rgba(0, 0, 255, .5);}
article .summary {background-color: rgba(255, 255, 0, .5);}

/* Breadcrumbs */
.breadcrumbs {
  background-color: rgba(255, 0, 0, .25);
}

/* Accessibility */
.accessibility {
  background-color: rgba(255, 0, 0, .25);
}

