				<!--Notes-->
				<section>
					<!--Magellan Sticky Navigation-->
					<div data-magellan-expedition="fixed">
						<dl class="sub-nav">
							<dd data-magellan-arrival="main"><a href="#main" class="icon-up tiny"><strong class="hide">Haut de page</strong></a></dd>
							<dd data-magellan-arrival="naming_chart"><a href="#naming_chart">Charte de nommage HTML</a></dd>
							<dd data-magellan-arrival="html_chars"><a href="#html_chars">Caract&egrave;res HTML</a></dd>
							<dd data-magellan-arrival="css_units"><a href="#css_units">Unit&eacute;s</a></dd>
							<dd data-magellan-arrival="workspace"><a href="#workspace">Espace de travail</a></dd>
							<dd data-magellan-arrival="doc"><a href="#doc">Documentation</a></dd>
						</dl>
					</div>
					<h2 class="red">Notes de d&eacute;veloppement <small>_dev_notes</small></h2>
					<!--HTML Naming Chart-->
					<h3 id="naming_chart">Charte de nommage HTML</h3>
					<h4 class="subheader">Table de conversion</h4>
					<table style="width: 100%;">
						<tr><th>1.0.0</th><th>1.0.1</th><th>Fonctionnalit&eacute; associ&eacute;e</th></tr>
						<tr><td><strike class="red">account.html</strike></td><td><strong>account-add.html</strong></td><td class="text-charcoal">Ajouter un compte</td></tr>
						<tr><td><strike class="red">accounts.html</strike></td><td><strong>account-list.html</strong></td><td class="text-charcoal">Lister les comptes</td></tr>
						<tr><td>agenda.html</td><td>*</td><td class="text-charcoal">Agenda</td></tr>
						<tr><td><strike class="red">article.html</strike></td><td><strong>article-view.html</strong></td><td class="text-charcoal">Voir un article</td></tr>
						<tr><td><strike class="red">articles.html</strike></td><td><strong>article-list.html</strong></td><td class="text-charcoal">Lister les articles</td></tr>
						<tr><td><strike class="red">bug-tracker.html</strike></td><td><strong>bug-add.html</strong></td><td class="text-charcoal">Signaler un bug</td></tr>
						<tr><td><strike class="red">editor.html</strike></td><td><strong>article-edit.html</strong></td><td class="text-charcoal">&Eacute;crire/Modifier un article</td></tr>
						<tr><td>error.html</td><td>*</td><td class="text-charcoal">Erreur</td></tr>
						<tr><td><strike class="red">home.html</strike></td><td class="red">DELETED</td><td>*</td></tr>
						<tr><td>index.html</td><td>*</td><td class="text-charcoal">Accueil</td></tr>
						<tr><td>login.html</td><td>*</td><td class="text-charcoal">Connexion</td></tr>
						<tr><td><strike class="red">profile.html</strike></td><td><strong>profile-view.html</strong></td><td class="text-charcoal">Voir un profil</td></tr>
						<tr><td><strike class="red">updateAccount.html</strike></td><td><strong>account-edit.html</strong></td><td class="text-charcoal">Modifier mon compte</td></tr>
						<tr><td><strike class="red">updateProfile.html</strike></td><td><strong>profile-edit.html</strong></td><td class="text-charcoal">Modifier mon profil</td></tr>
					</table>
					<h4 class="subheader">Convention de nommage</h4>
					<p><var class="green"><strong>Nom de fichier</strong></var> = <var class="blue">Pr&eacute;fixe</var> + <var class="blue">Suffixe</var> + Extension</p>
					<p><var class="green">Pr&eacute;fixe</var>&thinsp;: n&rsquo;importe quel nom de fonctionnalit&eacute;</p>
					<p><var class="green">Suffixe</var>&thinsp;: n&rsquo;importe quel verbe transitif</p>
					<ul class="no-bullet panel">
						<li>&hellip;&thinsp;<strong>-list</strong></li>
						<li>&hellip;&thinsp;<strong>-add</strong> <small>(or -create ?)</small></li>
						<li>&hellip;&thinsp;<strong>-edit</strong></li>
						<li>&hellip;&thinsp;<strong>-view</strong> <small>(or -show ?)</small></li>
					</ul>
					<h4 class="subheader">R&egrave;gles de nommage</h4>
					<ol>
						<li><strong class="red">PAS de pluriel</strong>&thinsp;: n&rsquo;utiliser que le singulier (les mots au pluriel peuvent porter &agrave; confusion)</li>
						<li><strong class="red">PAS de majuscules</strong>&thinsp;: n&rsquo;utiliser que des minuscules (les URL ne sont pas sensibles &agrave; la casse, certains serveurs le sont)</li>
						<li><strong class="red">PAS de tiret bas</strong>&thinsp;: utiliser le tiret m&eacute;dian comme s&eacute;parateur (il para&icirc;t que le tiret bas c&rsquo;est le DIABLE pour les robots&thinsp;&hellip;)</li>
					</ol>
					<!--Characters Conversion-->
					<h3 id="html_chars">Table de conversion HTML</h4>
					<table style="width: 100%;">
						<tr><th>UTF-8</th><th>Entit&eacute; HTML num&eacute;rique</th><th>Entit&eacute; HTML symbolis&eacute;e</th><th>Description<th></tr>
						<tr><td>*</td><td><samp>&amp;#160;</samp></td><td><samp>&amp;nbsp;</samp></td><td>Espace ins&eacute;cable( No-Break Space)</td></tr>
						<tr><td>*</td><td><samp>&amp;#8201;</samp></td><td><samp><strong class="red">&amp;thinsp;</strong></samp></td><td>Espace fin (Thin Space)</td></tr>
						<tr><td>*</td><td><samp><strong class="green">&amp;#8239;</strong></samp></td><td>*</td><td>Espace fin ins&eacute;cable (Narrow No-Break Space)</td></tr>
						<tr><td>“</td><td><samp>&amp;#8220</samp></td><td><samp>&amp;ldquo;</samp></td><td>Guillemet double gauche</td></tr>
						<tr><td>”</td><td><samp>&amp;#8221</samp></td><td><samp>&amp;rdquo;</samp></td><td>Guillemet double droit</td></tr>
						<tr><td>«</td><td><samp>&amp;#171;</samp></td><td><samp>&amp;laquo;</samp></td><td>Guillemet typographique gauche</td></tr>
						<tr><td>»</td><td><samp>&amp;#187;</samp></td><td><samp>&amp;raquo;</samp></td><td>Guillemet typographique droit</td></tr>
						<tr><td>­</td><td><samp>&amp;#173;</samp></td><td><samp><strong class="blue">&amp;shy;</strong></samp></td><td>Tiret conditionnel</td></tr>
						<tr><td>—</td><td><samp>&amp;#8208</samp></td><td><samp><strong class="blue">&amp;hyphen;</strong></samp></td><td>Trait d&rsquo;union</td></tr>
						<tr><td>–</td><td><samp>&amp;#8211;</samp></td><td><samp>&amp;ndash;</samp></td><td>Tiret moyen (demi-cadratin)</td></tr>
						<tr><td>—</td><td><samp>&amp;#8212;</samp></td><td><samp>&amp;mdash;</samp></td><td>Tiret long (cadratin)</td></tr>
						<tr><td>…</td><td><samp>&amp;#133;</samp></td><td><samp>&amp;hellip;</samp></td><td>Points de suspension</td></tr>
						<tr><td>§</td><td><samp>&amp;#167;</samp></td><td><samp>&amp;sect;</samp></td><td>Paragraphe</td></tr>
						<tr><td>¶</td><td><samp>&amp;#182;</samp></td><td><samp>&amp;para;</samp></td><td>Pied de mouche</td></tr>
						<tr><td>©</td><td><samp>&amp;#169;</samp></td><td><samp>&amp;copy;</samp></td><td>Copyright</td></tr>
						<tr><td>®</td><td><samp>&amp;#174;</samp></td><td><samp>&amp;reg;</samp></td><td>Marque d&eacute;pos&eacute;e</td></tr>
						<tr><td>Œ</td><td><samp>&amp;#140;</samp></td><td><samp>&amp;OElig;</samp></td><td>OE ligatur&eacute; majuscule</td></tr>
						<tr><td>À</td><td><samp>&amp;#192;</samp></td><td><samp>&amp;Agrave;</samp></td><td>A accent grave majuscule</td></tr>
						<tr><td>Ç</td><td><samp>&amp;#199;</samp></td><td><samp>&amp;Ccedil;</samp></td><td>C c&eacute;dille majuscule</td></tr>
						<tr><td>È</td><td><samp>&amp;#200;</samp></td><td><samp>&amp;Egrave;</samp></td><td>E accent grave majuscule</td></tr>
						<tr><td>É</td><td><samp>&amp;#201;</samp></td><td><samp>&amp;Eacute;</samp></td><td>E accent aigu majuscule</td></tr>
						<tr><td>Ê</td><td><samp>&amp;#202;</samp></td><td><samp>&amp;Ecirc;</samp></td><td>E accent circonflexe majuscule</td></tr>
						<tr><td>Ë</td><td><samp>&amp;#203;</samp></td><td><samp>&amp;Euml;</samp></td><td>E tr&eacute;ma majuscule</td></tr>
						<tr><td>±</td><td><samp>&amp;#177;</samp></td><td><samp>&amp;plusmn;</samp></td><td>Plus ou moins</td></tr>
						<tr><td>×</td><td><samp>&amp;#215;</samp></td><td><samp>&amp;times;</samp></td><td>Fois</td></tr>
						<tr><td>√</td><td><samp>&amp;#8730;</td><td>*</td><td>Racine carr&eacute;e</td></tr>
						<tr><td>≈</td><td><samp>&amp;#8776;</td><td>*</td><td>Presque &eacute;gal</td></tr>
						<tr><td>‰</td><td><samp>&amp;#137;</td><td>*</td><td>Pour mille</td></tr>
						<tr><td>¼</td><td><samp>&amp;#188;</samp></td><td><samp>&amp;frac14;</samp></td><td>Fraction un quart</td></tr>
						<tr><td>½</td><td><samp>&amp;#189;</samp></td><td><samp>&amp;frac12;</samp></td><td>Fraction un demi</td></tr>
						<tr><td>¾</td><td><samp>&amp;#190;</samp></td><td><samp>&amp;frac34;</samp></td><td>Fraction trois-quarts</td></tr>
						<tr><td>†</td><td><samp>&amp;#134;</samp></td><td><samp>&amp;dagger;</samp></td><td>Ob&egrave;le</td></tr>
						<tr><td>‡</td><td><samp>&amp;#135;</samp></td><td><samp>&amp;Dagger;</samp></td><td>Double ob&egrave;le</td></tr>
						<tr><td>♀</td><td><samp>&amp;#9792;</td><td>*</td><td>Signe f&eacute;minin</td></tr>
						<tr><td>♂</td><td><samp>&amp;#9794;</td><td>*</td><td>Signe masculin</td></tr>
						<tr><td>↑</td><td><samp>&amp;#8593;</samp></td><td><samp>&amp;uarr;</samp></td><td>Fl&egrave;che vers le haut</td></tr>
						<tr><td>↓</td><td><samp>&amp;#8595;</samp></td><td><samp>&amp;darr;</samp></td><td>Fl&egrave;che vers le bas</td></tr>
						<tr><td>←</td><td><samp>&amp;#8592;</samp></td><td><samp>&amp;larr;</samp></td><td>Fl&egrave;che vers la gauche</td></tr>
						<tr><td>→</td><td><samp>&amp;#8594;</samp></td><td><samp>&amp;rarr;</samp></td><td>Fl&egrave;che vers la droite</td></tr>
						<tr><td>•</td><td><samp>&amp;#149;</samp></td><td><samp>&amp;bull;</samp></td><td>Balle</td></tr>
						<tr><td>◊</td><td><samp>&amp;#9674;</samp></td><td><samp>&amp;loz;</samp></td><td>Losange</td></tr>
						<tr><td>○</td><td><samp>&amp;#9675;</td><td>*</td><td>Cercle</td></tr>
						<tr><td>■</td><td><samp>&amp;#9632;</td><td>*</td><td>Carr&eacute;</td></tr>
						<tr><td>▲</td><td><samp>&amp;#9650;</td><td>*</td><td>Triangle vers le haut</td></tr>
						<tr><td>▼</td><td><samp>&amp;#9660;</td><td>*</td><td>Triangle vers le bas</td></tr>
						<tr><td>◄</td><td><samp>&amp;#9668;</td><td>*</td><td>Triangle vers la gauche</td></tr>
						<tr><td>►</td><td><samp>&amp;#9658;</td><td>*</td><td>Triangle vers la droite</td></tr>
						<tr><td>♥</td><td><samp>&amp;#9829;</samp></td><td><samp>&amp;hearts;</samp></td><td>Cœur</td></tr>
						<tr><td>♦</td><td><samp>&amp;#9830;</samp></td><td><samp>&amp;diams;</samp></td><td>Carreau</td></tr>
						<tr><td>♣</td><td><samp>&amp;#9827;</samp></td><td><samp>&amp;clubs;</samp></td><td>Tr&egrave;fle</td></tr>
						<tr><td>♠</td><td><samp>&amp;#9824;</samp></td><td><samp>&amp;spades;</samp></td><td>Pique</td></tr>
					</table>
					<!--Units-->
					<h3 id="css_units">Unit&eacute;s CSS</h3>
					<h4 class="subheader">Table de conversion</h4>
					<table style="width: 100%;">
						<caption>Base 16px</caption>
						<tr><th>Pixel</th><th>REM</th><th>EM</th><th>Pourcent</th></tr>
						<tr><td><samp>1px</samp></td><samp><td><samp>.0625rem</samp></td><samp><td><samp>.0625em</samp></td><samp><td><samp>6.25%</samp></td><samp></tr>
						<tr><td><samp>2px</samp></td><samp><td><samp>.125rem</samp></td><samp><td><samp>.125em</samp></td><samp><td><samp>12.5%</samp></td><samp></tr>
						<tr><td><samp>4px</samp></td><samp><td><samp>.25rem</samp></td><samp><td><samp>.25em</samp></td><samp><td><samp>25%</samp></td><samp></tr>
						<tr><td><samp>6px</samp></td><samp><td><samp>.375rem</samp></td><samp><td><samp>.375em</samp></td><samp><td><samp>37.5%</samp></td><samp></tr>
						<tr><td><samp>8px</samp></td><samp><td><samp>.5rem</samp></td><samp><td><samp>.5em</samp></td><samp><td><samp>50%</samp></td><samp></tr>
						<tr><td><samp>10px</samp></td><samp><td><samp>.625rem</samp></td><samp><td><samp>.625em</samp></td><samp><td><samp>62.5%</samp></td><samp></tr>
						<tr><td><samp>12px</samp></td><samp><td><samp>.75rem</samp></td><samp><td><samp>.75em</samp></td><samp><td><samp>75%</samp></td><samp></tr>
						<tr><td><samp>16px</samp></td><samp><td><samp>1rem</samp></td><samp><td><samp>1em</samp></td><samp><td><samp>100%</samp></td><samp></tr>
						<tr><td><samp>24px</samp></td><samp><td><samp>1.5rem</samp></td><samp><td><samp>1.5em</samp></td><samp><td><samp>150%</samp></td><samp></tr>
						<tr><td><samp>32px</samp></td><samp><td><samp>2rem</samp></td><samp><td><samp>2em</samp></td><samp><td><samp>200%</samp></td><samp></tr>
						<tr><td><samp>48px</samp></td><samp><td><samp>3rem</samp></td><samp><td><samp>3em</samp></td><samp><td><samp>300%</samp></td><samp></tr>
						<tr><td><samp>64px</samp></td><samp><td><samp>4rem</samp></td><samp><td><samp>4em</samp></td><samp><td><samp>400%</samp></td><samp></tr>
					</table>
					<div class="row collapse">
						<div class="column small-2">
							<span class="prefix">Base <small class="text-silver">(px)</small></span>
						</div>
						<div class="column small-2">
							<input id="css_unit_base" type="text" value="16" class="text-right">
						</div>

						<div class="column small-3 small-push-1">
							<input id="css_unit_px" class="text-right" type="text" value="0" placeholder="Valeur en px">
						</div>
						<div class="column small-2 small-push-1">
							<span class="postfix">px</span>
						</div>

						<div class="column small-3 small-push-2">
							<input id="css_unit_rem" class="text-right" type="text" placeholder="Valeur en rem" readonly>
						</div>
						<div class="column small-2 small-push-2 end">
							<span class="postfix">rem</span>
						</div>
					</div>
					<!--Workspace-->
					<h3 id="workspace">Espace de travail</h3>
					<ul>
						<li><a href="https://trello.com/b/7U4bA59k/ourses-a-plumes">Les Ourses &agrave; plumes sur Trello</a></li>
						<li><a href="https://github.com/mathieu-bellange/ourses-plumes">Les Ourses &agrave; plumes sur GitHub</a></li>
						<li><a href="http://ourses-alpha.herokuapp.com/">Les Ourses &agrave; plumes sur Heroku</a></li>
					</ul>
					<!--Documentation-->
					<h3 id="doc">Documentation</h4>
					<ul>
						<li><a href="http://api.jquery.com/" target="_blank">Documentation jQuery</a></li>
						<li><a href="http://foundation.zurb.com/docs/" target="_blank">Documentation de Foundation</a></li>
						<li><a href="http://www.w3schools.com/tags/default.asp" target="_blank">R&eacute;f&eacute;rences HTML de W3Schools</a></li>
						<li><a href="http://www.w3schools.com/jsref/default.asp" target="_blank">R&eacute;f&eacute;rences JS Reference de W3Schools</a></li>
						<li><a href="http://www.w3schools.com/cssref/default.asp" target="_blank">R&eacute;f&eacute;rences CSS de W3Schools</a></li>
						<li><a href="http://www.w3schools.com/svg/svg_reference.asp" target="_blank">R&eacute;f&eacute;rences SVG de W3Schools</a></li>
						<li><a href="http://html-color-codes.info/color-names/" target="_blank">Codes couleurs HTML</a></li>
					</ul>
				</section>