<div id="external_tmpl">
<h2 class="red">External templating</h2>
<h3>Basic templating</h3>

<div class="code-block">
<pre class="code" style="height: 15rem;">
<var class="var">data</var> = {
  <span class="key">"title"</span> : <span class="pair">"A title"</span>,
  <span class="key">"text"</span> : <span class="pair">"Some text."</span>,
  <span class="key">"code"</span> : <span class="pair">"&lt;h1&gt;&lt;/h1&gt;"</span>,
  <span class="key">"list"</span> : [
    <span class="val">"First item in list"</span>,
    <span class="val">"Second item in list"</span>,
    <span class="val">"Third item in list"</span>
  ],
  <span class="key">"advanced"</span> : {
    <span class="key">"list"</span> : {
      <span class="key">"params"</span> : {
        <span class="key">"id"</span> : <span class="pair">"_advanced_templating_list"</span>,
        <span class="key">"class"</span> : <span class="pair">"inline-list"</span>,
        <span class="key">"style"</span> : <span class="pair">"color: brown;"</span>,
        <span class="key">"data-option"</span> : <span class="pair">""</span>
      },
      <span class="key">"items"</span> : [
        {
          <span class="key">"name"</span> : <span class="pair">"First item"</span>,
          <span class="key">"parent_name"</span> : <span class="pair">"Advanced list"</span>
        },
        {
          <span class="key">"name"</span> : <span class="pair">"Second item"</span>,
          <span class="key">"params"</span> : {
            <span class="key">"class"</span> : <span class="pair">"text-large"</span>,
            <span class="key">"style"</span> : <span class="pair">"color: purple;"</span>
          }
        },
        {
          <span class="key">"parent_name"</span> : <span class="pair">"Advanced list"</span>,
          <span class="key">"params"</span> : {
            <span class="key">"class"</span> : <span class="pair">"text-small"</span>
          }
        }
      ]
    }
  }
}
</pre>
</div>

<!--Interpolation-->
<h4 class="subheader">Interpolation</h4>
<p><span class="icon-info electricblue"></span>parse a string as a javascript instruction and append it to the result function (n.b. this is default behaviour)</p>
<div class="panel callout radius">
	<h5 style="color: red;">{{= data.title }}</h5>
	<p style="color: green;">{{= data.text }}</p>
</div>
<div class="code-block radius">
	<pre class="num">1<br>2</pre>
	<pre class="code">
<span class="tag">&lt;h5</span> <span class="attr">style</span>=<span class="prop">"color: red;"</span> <span class="tag">&gt;</span><mark>&#123;&#123;=</mark> data.title <mark>&#125;&#125;</mark><span class="tag">&lt;/h5&gt;</span>
<span class="tag">&lt;p</span> <span class="attr">style</span>=<span class="prop">"color: green;"</span> <span class="tag">&gt;</span><mark>&#123;&#123;=</mark> data.text <mark>&#125;&#125;</mark><span class="tag">&lt;/p&gt;</span>
</pre>
</div>

<!--Evaluation-->
<h4 class="subheader">Evaluation</h4>
<p><span class="icon-info electricblue"></span>parse a string as a javascript instruction WITHOUT appending it to the result function (mostly used for statements)</p>
<div class="panel callout radius">
	<ul>
{{ for (var key in data) { }}
		<li style="color: blue;">{{= key }}</li>
{{ } }}
	</ul>
</div>
<div class="code-block radius">
	<pre class="num">1<br>2<br>3<br>4<br>5</pre>
	<pre class="code">
<span class="tag">&lt;ul</span>
<mark>&#123;&#123;</mark> for (var key in data) { <mark>&#125;&#125;</mark>
	<span class="tag">&lt;li</span> <span class="attr">style</span>=<span class="prop">"color: blue;"</span> <span class="tag">&gt;</span>&#123;&#123;= key &#125;&#125;<span class="tag">&lt;/li&gt;</span>
<mark>&#123;&#123;</mark> } <mark>&#125;&#125;</mark>
<span class="tag">&lt;/ul&gt;</span>
</pre>
</div>

<!--Partial Define-->
{{## def.partial :
<strong style="color: red;">{{= data.text }}</strong>
#}}
<!--Partial Use-->
<h4 class="subheader">Partials</h4>
<p><span class="icon-info electricblue"></span>set partial template and call partial template</p>
<div class="panel callout radius">
	<p>This partial define {{# def.partial}}</p>
</div>
<div class="code-block radius">
	<pre class="num">1<br>2<br>3<br>4<br>5<br>6</pre>
	<pre class="code">
<span class="comment">&lt;!--Partial Define--&gt;</span>
<mark>&#123;&#123;##</mark> def.partial <mark>:</mark>
<span class="tag">&lt;strong</span> <span class="attr">style</span>=<span class="prop">"color: red;"</span> <span class="tag">&gt;</span>&#123;&#123;= data.text &#125;&#125;<span class="tag">&lt;/strong&gt;</span>
<mark>#&#125;&#125;</mark>
<span class="comment">&lt;!--Partial Use--&gt;</span>
<span class="tag">&lt;p&gt;</span>This partial define <mark>&#123;&#123;#</mark> def.partial <mark>&#125;&#125;</mark><span class="tag">&lt;/p&gt;</span>
</pre>
</div>

<!--Conditional-->
<h4 class="subheader">Conditionals</h4>
<p><span class="icon-info electricblue"></span>execute 'if, else if, else' structure</p>
<div class="panel callout radius">
{{? data.title.length == 0 }} <!--if-->
	<p><code>&ldquo;{{= data.title }}&rdquo;</code> string is 0 character length.</p>
{{?? data.title.length <= 10 }} <!--else if-->
	<p><code>&ldquo;{{= data.title }}&rdquo;</code> string is less than 10 characters length.</p>
{{??}} <!--else-->
	<p><code>&ldquo;{{= data.title }}&rdquo;</code> string is more than 10 characters length.</p>
{{?}}
</div>
<div class="code-block radius">
	<pre class="num">1<br>2<br>3<br>4<br>5<br>6<br>7</pre>
	<pre class="code">
<mark>&#123;&#123;?</mark> data.title.length == 0 <mark>&#125;&#125;</mark> <span class="comment">&lt;!--if--&gt;</span>
	<span class="tag">&lt;p&gt;</span><span class="tag">&lt;code&gt;</span>&#123;&#123;= data.title &#125;&#125;<span class="tag">&lt;/code&gt;</span> string is 0 character length.<span class="tag">&lt;/p&gt;</span>
<mark>&#123;&#123;??</mark> data.title.length <= 10 <mark>&#125;&#125;</mark> <span class="comment">&lt;!--else if--&gt;</span>
	<span class="tag">&lt;p&gt;</span><span class="tag">&lt;code&gt;</span>&#123;&#123;= data.title &#125;&#125;<span class="tag">&lt;/code&gt;</span> string is less than 10 characters length.<span class="tag">&lt;/p&gt;</span>
<mark>&#123;&#123;??&#125;&#125;</mark> <span class="comment">&lt;!--else--&gt;</span>
	<span class="tag">&lt;p&gt;</span><span class="tag">&lt;code&gt;</span>&#123;&#123;= data.title &#125;&#125;<span class="tag">&lt;/code&gt;</span> string is more than 10 characters length.<span class="tag">&lt;/p&gt;</span>
<mark>&#123;&#123;?&#125;&#125;</mark>
</pre>
</div>

<!--Iterate-->
<h4 class="subheader">Iterate</h4>
<p><span class="icon-info electricblue"></span>loop an array</p>
<div class="panel callout radius">
	<ol>
{{~ data.list :value }}
		<li style="color: green;">{{= value }}</li>
{{~}}
	</ol>
</div>
<div class="code-block radius">
	<pre class="num">1<br>2<br>3<br>4<br>5</pre>
	<pre class="code">
<span class="tag">&lt;ul</span>
<mark>&#123;&#123;~</mark> data.list :value <mark>&#125;&#125;</mark>
	<span class="tag">&lt;li</span> <span class="attr">style</span>=<span class="prop">"color: green;"</span> <span class="tag">&gt;</span>&#123;&#123;= value &#125;&#125;<span class="tag">&lt;/li&gt;</span>
<mark>&#123;&#123;~&#125;&#125;</mark>
<span class="tag">&lt;/ul&gt;</span>
</pre>
</div>

<!--Encode-->
<h4 class="subheader">Encode</h4>
<p><span class="icon-info electricblue"></span>replace illegal characters by html numeric entities</p>
<div class="panel callout radius">
	<p>To set up the biggest title in HTML use the <code>{{! data.code }}</code> tag</p>
</div>
<div class="code-block radius">
	<pre class="num">1</pre>
	<pre class="code">
<span class="tag">&lt;p&gt;</span>To set up the biggest title in HTML use the <span class="tag">&lt;code&gt;</span><mark>&#123;&#123;!</mark> data.code <mark>&#125;&#125;</mark><span class="tag">&lt;code&gt;</span> tag<span class="tag">&lt;/p&gt;</span>
</pre>
</div>

<div id="advanced_tmpl">
<h3>Advanced templating</h3>
<!--Define Partial for Attributes-->
{{## def.attributes: hash:
{{ for (key in hash) { }}
{{= hash[key] !== "" ? " " + key + "='" +  hash[key] + "'" : " " + key }}
{{ } }}
#}}
<!--Define Partial for List Item-->
{{## def.list_item: item:
<li {{# def.attributes:item.params }}>{{= item.name || "<em>Default Item Name</em>" }}{{= typeof item.parent_name !== "undefined" ? " in " + item.parent_name : "" }}</li>
#}}
<!--Evaluate Advanced List Template-->
<div class="panel callout radius">
{{ var list = data.advanced.list; }}
<ol{{# def.attributes:list.params}}>
{{~ list.items:value}}
{{# def.list_item:value}}
{{~}}
</ol>
</div>
<div class="code-block radius">
	<pre class="num">1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br>12<br>13<br>14<br>15<br>16<br>17</pre>
	<pre class="code">
<span class="comment">&lt;!--Define Partial for Attributes--&gt;</span>
&#123;&#123;## def.attributes: hash:
&#123;&#123; for (key in hash) { &#125;&#125;
&#123;&#123;= hash[key] !== "" ? " " + key + "='" +  hash[key] + "'" : " " + key &#125;&#125;
&#123;&#123; } &#125;&#125;
#&#125;&#125;
<span class="comment">&lt;!--Define Partial for List Item--&gt;</span>
&#123;&#123;## def.list_item: item:
<span class="tag">&lt;li</span> &#123;&#123;# def.attributes:item.params &#125;&#125; <span class="tag">&gt;</span>&#123;&#123;= item.name || "<span class="tag">&lt;em&gt;</span>Default Item Name<span class="tag">&lt;/em&gt;</span>" &#125;&#125;&#123;&#123;= typeof item.parent_name !== "undefined" ? " in " + item.parent_name : "" &#125;&#125;<span class="tag">&lt;/li&gt;</span>
#&#125;&#125;
<span class="comment">&lt;!--Evaluate Advanced List Template--&gt;</span>
&#123;&#123; var list = data.advanced.list; &#125;&#125;
<span class="tag">&lt;ol</span>&#123;&#123;# def.attributes:list.params&#125;&#125;<span class="tag">&gt;</span>
&#123;&#123;~ list.items:value&#125;&#125;
&#123;&#123;# def.list_item:value&#125;&#125;
&#123;&#123;~&#125;&#125;
<span class="tag">&lt;/ol&gt;</span>
</pre>
</div>
</div>
</div>