		<!--Dev Toolbar-->
		<div id="toolbar" class="hide hide-for-print">
			<div class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1 class="text-white" style="margin-left: 1rem;">Dev Toolbar</a></h1>
					</li>
				</ul>
				<section class="top-bar-section">
					<nav class="toolbar-nav">
						<ul class="right">
							<li class="has-dropdown">
								<a href="javascript:void(0)">Dev Pages</a>
								<ul class="dropdown">
									<li><a href="{{= $app.root + '_dev_home.html'}}"><b>Home</b> <small class="text-silver">core</small></a></li>
									<li><a href="{{= $app.root + '_dev_notes.html'}}"><b>Notes</b> <small class="text-silver">core</small></a></li>
									<li><a href="{{= $app.root + '_dev_samples.html'}}">Samples <small class="text-silver">core</small></a></li>
									<li><a href="{{= $app.root + '_dev_templating.html'}}">Templating <small class="text-silver">core</small></a></li>
									<li><a href="{{= $app.root + '_dev_icons.html'}}">Icons <small class="text-silver">core</small></a></li>
									<li><a href="{{= $app.root + '_dev_forms.html'}}">Forms <small class="text-silver">core</small></a></li>
									<li style="border-top: 1px solid dimgray;"><a href="{{= $app.root + '_dev_test_article-list.html'}}">Articles List <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app.root + '_dev_test_article-view.html'}}">Article View <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app.root + '_dev_test_article-edit.html'}}">Article Edit <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app.root + '_dev_test_profile.html'}}">Profile <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app.root + '_dev_test_agenda.html'}}">Agenda <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app.root + '_dev_test_comments.html'}}">Comments <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app.root + '_dev_test_folders.html'}}">Folders <small class="text-silver">feature</small></a></li>
									<li style="border-top: 1px solid dimgray;"><a href="{{= $app.root + '_dev_test_svg.html'}}">SVG <small class="text-silver">test</small></a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="javascript:void(0)">Dev Features</a>
								<ul class="dropdown">
									<li><a href="javascript:void(0)" id="_null_links_toggle">Null Links</a></li>
									<li><a href="javascript:void(0)" id="_css_fx_toggle">CSS effects</a></li>
									<li><a href="javascript:void(0)" id="_svg_fx_toggle">SVG effects</a></li>
									<li><a href="javascript:void(0)" id="_js_fx_toggle">JS effects</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="javascript:void(0)">CSS Debug</a>
								<ul class="dropdown">
									<li><a href="javascript:void(0)" id="_css_debug_icon">Icons <small class="text-silver">core</small></a></li>
									<li style="border-top: 1px solid dimgray;"><a href="javascript:void(0)" id="_css_debug_frame">Frame <small class="text-silver">container</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_nav-pane" class="disabled">Nav Pane <small class="text-silver">container</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_main-pane">Main Pane <small class="text-silver">container</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_header">Header <small class="text-silver">container</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_footer">Footer <small class="text-silver">container</small></a></li>
									<li style="border-top: 1px solid dimgray;"><a href="javascript:void(0)" id="_css_debug_user-account" class="disabled">User Account <small class="text-silver">feature</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_user-profile" class="disabled">User Profile <small class="text-silver">feature</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_article">Article <small class="text-silver">feature</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_articles-list">Articles List <small class="text-silver">feature</small></a></li>
									<li><a href="javascript:void(0)" id="_css_debug_comment-list">Comment List <small class="text-silver">feature</small></a></li>
								</ul>
							</li>
							<li><a href="javascript:void(0)" id="_toolbar_stick_toggle">Toolbar</a></li>
							<li><span class="hide">Close</span><a href="javascript:void(0)" class="close"></a></li>
						</ul>
					</nav>
				</section>
			</div>
		</div>