				<!--About-->
				<section id="about">
					<h2>Qui sommes-nous&nbsp;?</h2>
					<article>
						<h3 class="red">Les Ourses &agrave; plumes, une br&egrave;ve pr&eacute;sentation du projet</h3>
						<div class="row">
							<div class="column medium-12">
								<p class="collapse"><strong>Aujourd&rsquo;hui nous avons le projet de cr&eacute;er une revue f&eacute;ministe en ligne</strong>, un site internet d&rsquo;actualit&eacute; et de r&eacute;flexion. L&rsquo;espace &eacute;tait libre, nous avons saisi l&rsquo;opportunit&eacute; de le remplir pour traiter de l&rsquo;&eacute;mancipation des femmes sous tous ses aspects.</p>
								<p class="">Nous voulons nous adresser &agrave; un public large, d&eacute;passant les mondes militant et universitaire. Nous avons l&rsquo;ambition d&rsquo;en faire un lieu d&rsquo;&eacute;changes et d&rsquo;&eacute;laboration, en &eacute;tant compr&eacute;hensibles de tou-te-s, avec des r&eacute;f&eacute;rences explicit&eacute;es.</p>
								<p class="collapse"><strong>Notre ligne &eacute;ditoriale s&rsquo;ancre dans les f&eacute;minismes mat&eacute;rialiste et lutte de classes</strong>&#8239;: antipatriarcal et anticapitaliste.</p>
								<p class="collapse">L&rsquo;intersectionnalit&eacute; est au c&oelig;ur de notre d&eacute;marche&#8239;: nous nous inscrivons &agrave; la fois dans les luttes contre le sexisme, le racisme (dont l&rsquo;islamophobie), la lesbophobie, la biphobie, la transphobie, et l&rsquo;handiphobie, et dans la lutte de classes. Nous faisons &eacute;galement le lien, sans essentialisme, avec les luttes &eacute;cologistes.</p>
								<p class="">Nous avons &agrave; c&oelig;ur de mettre en valeur les luttes d&rsquo;hier, d&rsquo;aujourd&rsquo;hui et de demain.</p>
							</div>
							<div class="column medium-12">
								<p class="collapse"><strong>Les types de contenus du site seront vari&eacute;s au possible</strong>, laissant la porte ouverte aux id&eacute;es nouvelles.</p>
								<p class="collapse">Nous accueillerons des tribunes de diff&eacute;rent-e-s actrices /acteurs du f&eacute;minisme et d&rsquo;autres th&eacute;matiques li&eacute;es, mais aussi des reportages, des dossiers, des portraits, des analyses, des r&eacute;sum&eacute;s d&rsquo;articles ou d&rsquo;ouvrages universitaires, des interviews, des critiques, des photographies, des dessins, des comptes-rendus de manifestations culturelles ou politiques&hellip;</p>
								<p class="">Une rubrique sera d&eacute;di&eacute;e &agrave; ce qui se passe ailleurs dans le monde, avec notamment des traductions. Nous ne nous interdisons aucun sujet : une place sera laiss&eacute;e aux sujets &laquo;&#8239;d&eacute;cal&eacute;s&#8239;&raquo;, qui vont sur des territoires encore inexplor&eacute;s ou avec des angles d&rsquo;attaques originaux. Une revue du web sera aussi propos&eacute;e r&eacute;guli&egrave;rement.</p>
								<p class=""><strong>Nous voulons ce projet participatif</strong>, c&rsquo;est pourquoi nous ouvrons la possibilit&eacute; d&rsquo;y proposer des articles d&egrave;s lors que ces derniers respectent nos valeurs (et les crit&egrave;res de fond et de forme), et de contribuer &agrave; l&rsquo;&eacute;laboration d&rsquo;un agenda f&eacute;ministe culturel et militant.</p>
							</div>
						</div>
						<div class="row">
							<div class="column small-24">
								<div class="panel callout radius">
								<p><strong>Les Ourses &agrave; plumes</strong> ont vocation &agrave; devenir une interface d&rsquo;&eacute;changes, d&rsquo;&eacute;laboration, de partage, pour contribuer, &agrave; notre &eacute;chelle &agrave; l&rsquo;essor du f&eacute;minisme. N&rsquo;h&eacute;sitez pas &agrave; nous contacter pour participer &agrave; l&rsquo;aventure&#8239;: <a href="mailto:oursesaplumes@gmail.com">oursesaplumes@gmail.com.</a></p>
								</div>
							</div>
						</div>
					</article>
				</section>