				<!--Accounts List-->
				<section id="accounts">
					<table id="accountsTable" class="users-table">
						<thead>
							<tr>
								<th>Profil</th>
								<th>Pseudo</th>
								<th>Identifiant</th>
								<th>R&ocirc;le</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{{~ data :account }}
							<tr data-account-id="{{= account.id }}">
								<td><a href="{{= account.profile.path }}" class="icon-show" title="Voir le profil"><span class="text hide">Voir</span></a></td>
								<td>{{= account.profile.pseudo }}</td>
								<td><a href="javascript:void(0)" data-postmail="{{= account.mail.unbind_postmail() }}" title="Envoyer un courrier &eacute;lectronique">{{= account.mail.get_postmaster() }}</a></td>
								<td>
									{{? account.profile.pseudo == UserSession.getUserPseudo() }}
									<input type="text" value="{{ out+='Administrarice'; }}" disabled>
									{{??}}
									<select>
									{{~ roles :item }}
										<option value="{{= item.id }}"{{ if (account.role.id == item.id) { out+=' selected'; } }}>{{= item.label }}</option>
									{{~}}
									</select>
									{{?}}
								</td>
								<td class="text-right">
								{{? account.profile.pseudo !== UserSession.getUserPseudo() }}
									<button class="alert icon-remove tiny" title="Supprimer ce compte"><span class="text hide">Supprimer</span></button>
								{{?}}
								</td>
							</tr>
						{{~}}
						</tbody>
					</table>
					<p class="text-center" style="margin-bottom: 0;">
						<a href="/comptes/nouveau" class="button icon-add" style="margin-bottom: 0;"><span class="text">Ajouter un compte</span></a>
					</p>
				</section>