				<section id="account">
					<form id="bearAccount" class="small-20 small-offset-2 medium-16 medium-offset-4 large-12 large-offset-6" onsubmit="return false;" autocomplete="off">
						<fieldset>
							<legend>Ajouter un compte</legend>
								<div>
									<label for="pseudo">Pseudo&thinsp;<sup class="medium red">*</sup></label>
									<input id="pseudo" class="validation" maxlength="50" type="text" placeholder="Le nom d&rsquo;utilisatrice de ce compte">
									<small class="error hide">Pseudo invalide ou d&eacute;j&agrave; pris</small>
								</div>
								<div>
									<label for="mail">Adresse mail&thinsp;<sup class="medium red">*</sup></label>
									<input id="mail" class="validation" type="text" maxlength="100" placeholder="L&rsquo;adresse e-mail li&eacute;e au compte">
									<small class="error hide">Mail invalide ou d&eacute;j&agrave; pris</small>
								</div>
								<div>
									<label for="password">Mot de passe&thinsp;<sup class="medium red">*</sup></label>
									<input id="password" class="validation" type="password" maxlength="20" placeholder="Minimum 7 caract&egrave;res dont une minuscule et un chiffre">
									<small class="error hide">Mot de passe invalide (minimum 7 caract&egrave;res dont un chiffre)</small>
								</div>
								<input class="button right" id="confirm" type="submit" value="Valider">
						</fieldset>
					</form>
				</section>