				<!--Accounts List-->
				<section id="accounts">
					<table id="accountsTable" class="users-table">
						<thead>
							<tr>
								<th>Profil</th>
								<th>Pseudo</th>
								<th>Identifiant</th>
								<th>R&ocirc;le</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{{~ data :account }}
							<tr data-account-id="{{= account.id }}">
								<td><a href="{{= account.profile.path }}" class="icon-show tip-right" title="Voir le profil" data-tooltip><span class="text hide">Voir</span></a></td>
								<td>{{= account.profile.pseudo }}</td>
								<td><a href="mailto:{{= account.mail }}">{{= account.mail }}</a></td>
								<td>
									{{? account.profile.pseudo == docCookies.getItem($auth.user_name) }}
									<input type="text" value="{{ docCookies.getItem($auth.user_role) == $conf.role_admin ? out+='Administrarice' : out+='R&eacute;dactrice'; }}" disabled>
									{{??}}
									<select>
									{{~ roles :item }}
										<option value="{{= item.id }}"{{ if (account.role.id == item.id) { out+=' selected'; } }}>{{= item.label }}</option>
									{{~}}
									</select>
									{{?}}
								</td>
								<td class="text-right">
								{{? account.profile.pseudo !== docCookies.getItem($auth.user_name) }}
									<button class="alert icon-remove tiny" title="Supprimer ce compte"><span class="text hide">Supprimer</span></button>
								{{?}}
								</td>
							</tr>
						{{~}}
						</tbody>
					</table>
					<p class="text-center"><a href="/comptes/nouveau" class="button icon-add"><span class="text">Ajouter un compte</span></a></p>
				</section>