				<!--Agenda-->
				<section id="agenda">
					<!--Date Switcher-->
					<div class="date-switcher">
						<h3>{{= $time.months[new Date().getMonth()].capitalize() + " " + new Date().getFullYear()}}</h3>
						<a href="javascript:void(0)" class="prev icon-left" title="Pr&eacute;c&eacute;dent"></a>
						<a href="javascript:void(0)" class="next icon-right" title="Suivant"></a>
					</div>
					<!--Date Table-->
					<table class="date-table">
						<thead>
							<tr>
								<th>Lun<span class="date-name-suffix">di</span></th>
								<th>Mar<span class="date-name-suffix">di</span></th>
								<th>Mer<span class="date-name-suffix">credi</span></th>
								<th>Jeu<span class="date-name-suffix">di</span></th>
								<th>Ven<span class="date-name-suffix">dredi</span></th>
								<th>Sam<span class="date-name-suffix">edi</span></th>
								<th>Dim<span class="date-name-suffix">anche</span></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</section>