				<!--Agenda-->
				<section id="agenda">
					<!--Date Switcher-->
					<div class="date-switcher">
						<h3>{{= $time.months[new Date().getMonth()].capitalize() + " " + new Date().getFullYear()}}</h3>
						<a href="javascript:void(0)" class="agenda prev icon-left firered" title="Pr&eacute;c&eacute;dent"></a>
						<a href="javascript:void(0)" class="agenda next icon-right firered" title="Suivant"></a>
					</div>
					<!--Date Table-->
					<table class="date-table">
						<thead>
							<tr>
								<th><span class="hide-for-medium-up">Dim</span><span class="hide">-</span><span class="hide-for-small">Dimanche</span></th>
								<th><span class="hide-for-medium-up">Lun</span><span class="hide">-</span><span class="hide-for-small">Lundi</span></th>
								<th><span class="hide-for-medium-up">Mar</span><span class="hide">-</span><span class="hide-for-small">Mardi</span></th>
								<th><span class="hide-for-medium-up">Mer</span><span class="hide">-</span><span class="hide-for-small">Mercredi</span></th>
								<th><span class="hide-for-medium-up">Jeu</span><span class="hide">-</span><span class="hide-for-small">Jeudi</span></th>
								<th><span class="hide-for-medium-up">Ven</span><span class="hide">-</span><span class="hide-for-small">Vendredi</span></th>
								<th><span class="hide-for-medium-up">Sam</span><span class="hide">-</span><span class="hide-for-small">Samedi</span></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</section>