					<div{{= typeof data.id !== "undefined" ? " id=" + data.id : "" }} class="alert-box radius text-center{{= typeof data.class !== 'undefined' ? ' ' + data.class : '' }}" style="display: none;" data-alert>
						<span class="icon-warning small white"></span>
						<span class="text">{{= data.text }}</span>
						<a href="javascript:void(0)" class="close"></a>
					</div>