				<!--Article-->
				<section id="{{= data.beautify_title }}">
					<article class="article {{= data.rubrique.classe }} clearfix">
						<h2 class="title">{{= data.title }}</h2>
						<h4 class="author"><a href="{{= data.profile.path }}" class="icon-author" rel="author" title="Auteure"><span class="text">{{= data.profile.pseudo }}</span></a></h4>
						<time class="date icon-date small" pubdate="{{= getDateTime(new Date(data.publishedDate)) }}"><small class="text"><span class="hide">Publi&eacute; le </span>{{= dateToHTML(new Date(data.publishedDate)) }}</small></time>
						<p class="summary">{{= data.description }}</p>
						<dl class="tags inline-list clearfix">
							<dt><span class="icon-tag small" title="Tags"><strong class="hide">Tags</strong></span></dt>
							<dd><a href="/articles?rubrique={{= data.rubrique.path }}" rel="tag" class="label radius {{= data.rubrique.classe }}">{{= data.rubrique.rubrique }}</a></dd>
							<dd><a href="/articles?category={{= data.category.category }}" rel="tag" class="label radius inverse">{{= data.category.category }}</a></dd>
							{{~ data.tags : tag }}
								<dd><a href="/articles?tag={{= tag.tag }}" rel="tag" class="label radius">{{= tag.tag }}</a></dd>
							{{~}}
						</dl>
						{{= data.body }}
						<div class="clearfix">
							<p class="author right"><a href="{{= data.profile.path }}" class="tip-top" rel="author" title="Voir le profil" data-tooltip>{{= data.profile.pseudo }}</a></p>
							<ul class="inline-list left">
								<li>
									<a id="share_mail" href="javascript:void(0)" class="icon-mail share" title="Partager par mail" data-tooltip data-article="{{= data.id }}"><span class="text">Mail</span></a>
									<div class="send-box" style="display: none;">
										<a href="javascript:void(0)" class="close right"></a>
										<label for="share_mail_input">Partager par mail</label>
										<input id="share_mail_input" class="validation" type="email" maxlength="255" placeholder="L&rsquo;adresse &eacute;lectronique de votre choix">
										<small class="error hide"></small>
									</div>
								</li>
								<li><a id="share_twitter" href="" class="icon-twitter share tip-top" title="Partager sur Twitter" data-tooltip><span class="text">Twitter</span></a></li>
								<li><a id="share_facebook" href="" class="icon-facebook share tip-top" title="Partager sur Facebook" data-tooltip><span class="text">Facebook</span></a></li>
								<li><a id="share_googleplus" href="" class="icon-googleplus share tip-top" title="Partager sur Google+" data-tooltip><span class="text">Google+</span></a></li>
								<li><a id="share_linkedin" href="" class="icon-linkedin share tip-top" title="Partager sur LinkedIn" data-tooltip><span class="text">LinkedIn</span></a></li>
							</ul>
						</div>
					</article>
				</section>