				<!--Write Article-->
				<section id="article_editor">

					<form class="article edit" method="get" accept-charset="utf-8" autocomplete="off" novalidate>

						<fieldset class="topic transparent">
							<legend class="hide">Publication</legend>

							<!--Title-->
							<label for="title" class="hide">Titre de l&rsquo;article <small class="red">*</small></label>
							<input id="title" class="title" type="text" value="{{= data.title }}" class="validation" placeholder="Le titre de l&rsquo;article">
							<small class="error hide">Ce titre est d&eacute;j&agrave; pris</small>

							<!--Author-->
							<h4 class="author"><span class="icon-author" title="Auteure"><span class="text">{{= data.status == "AVERIFIER" ? data.profile.pseudo : window.localStorage.getItem($auth.user_name) }}</span></span></h4>

							<!--Date-->
							<!--
							<time datetime="2014-01-01" class="date icon-date small">1<sup>er</sup> janvier 2014</span>
							-->

							<!--Summary-->
							<label for="summary" class="hide">R&eacute;sum&eacute; <small class="red">*</small></label>
							<textarea id="summary" class="summary validation min" maxlength="1000" placeholder="Une br&egrave;ve description de l&rsquo;article pour le r&eacute;f&eacute;rencement (1000 caract&egrave;res maximum)">{{= data.description }}</textarea>
							<small class="error hide">La saisie du r&eacute;sum&eacute; est obligatoire</small>

							<!--Tags List-->
							<dl id="tags" class="tags inline-list clearfix" tabindex="0">
								<dt class="icon-tag small"><strong class="text hide">Tags</strong></dt>
								<dd class="hide"><span id="tag_rubric" class="label radius">&hellip;</span></dd>
								<dd class="hide"><span id="tag_category" class="label radius inverse">&hellip;</span></dd>
								{{~ data.tags : tag }}
									<dd data-tag=""><span data-id="{{= tag.id }}" class="label radius">{{= tag.tag }}<a href="javascript:void(0)" class="close"></a></span></dd>
								{{~}}
							</dl>

						</fieldset>

						<fieldset id="indexing" style="display: none;">
							<legend class="hide">Ind&eacute;xation</legend>

							<!--Rubric-->
							<label for="rubric">Rubrique <small class="red">*</small></label>
							<div id="rubric" class="options-select validation" tabindex="0">
								<span class="select"><span class="text-silver">Veuillez indiquer la rubrique de l&rsquo;article</span></span>
								<ul class="options hide">
								</ul>
							</div>
							<small class="error hide">La saisie de la rubrique est obligatoire</small>

							<!--Category-->
							<label for="category">Cat&eacute;gorie <small class="red">*</small></label>
							<div id="category" class="options-select validation" tabindex="0">
								<span class="select"><span class="text-silver">Veuillez choisir une une cat&eacute;gorie d&rsquo;article</span></span>
								<ul class="options hide">
								</ul>
							</div>
							<small class="error hide">La saisie de la cat&eacute;gorie est obligatoire</small>

							<!--Tags-->
							<!--
							<div class="row collapse">
								<div class="column">
									<label for="tag">Tags</label>
								</div>
								<div class="column small-16">
									<input id="tag" class="validation" type="text" placeholder="Une &eacute;tiquette au choix pour indexer l&rsquo;article (32 caract&egrave;res maximum)" maxlength="32">
									<small id="tag_error" class="error hide">Ce tag est d&eacute;j&agrave; pris !</small>
								</div>
								<div class="column small-8">
									<input id="tag_add" type="button" value="Ajouter" href="javascript:void(0)" class="button postfix">
								</div>
							</div>
							-->
						<style>
							/* TEMP : Tag styles */
							#tag {display: inline-block; width: 18rem; height: 2.25rem; border-width: .125rem;}
							#tag_add {margin-bottom: 0;}
							#tag_add + small.error {position: relative; top: 0; width: 18rem; z-index: 1;}
							#tag_add + small.error + .autocomplete {position: relative; width: 18rem; z-index: 2;}
							#tag.wrong {border-color: #c33;}
							#tag.wrong:focus + #tag_add + small.error {
								-webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
									 -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
												box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
							}
						</style>
						<!--Tags-->
						<label for="tag">Tags</label>
						<div>
							<input id="tag" class="validation" type="text" maxlength="32" placeholder="Une &eacute;tiquette au choix (32 carac.)"><button id="tag_add" type="button" class=" icon-add small"></button>
							<small class="hide error">Ce tag est d&eacute;j&agrave; pris&nbsp;!</small>
							<div class="autocomplete hide">
								<ul>
								</ul>
							</div>
						</div>


						</fieldset>

						<!--Inline CKEditor-->
						<fieldset class="transparent">
							<legend class="hide">R&eacute;daction</legend>
							<label for="editor" class="hide">Corps de l&rsquo;article</label>
							<div id="editor" class="inline-editor" contenteditable="true" style="overflow: hidden; max-width: 100%;" data-placeholder>
								{{? data.body !== ""}}
								{{= data.body }}
								{{??}}
								<span class="placeholder">Le corps de l&rsquo;article</span>
								<!--
								<h4>Un inter&dash;titre tout &agrave; fait ordinaire</h4>
								<div class="callout">Une accroche qui reprend le texte en-dessous pour attirer l&rsquo;attention du lectorat</div>
								<p>Un paragraphe plut&ocirc;t court avec un <a href="#">lien hypertexte</a> &agrave; l&rsquo;int&eacute;rieur.</p>
								<p><img alt="Ours" src="http://www.cinephilme.com/public/ours/l-ours-332883.jpg" style="height: 200px; margin: 10px;" />Un paragraphe avec une image &agrave; l&rsquo;int&eacute;rieur.</p>
								<p><iframe allowfullscreen="" frameborder="0" width="640" height="360" src="//www.youtube.com/embed/iUs2Wzupf1c?rel=0"></iframe></p>
								-->
								{{?}}
							</div>
							<small class="error hide">La saisie du corps de l&rsquo;article est obligatoire</small>
						</fieldset>

						<div class="clearfix">
							<!--Author-->
							<p class="author right"><strong>{{= data.status == "AVERIFIER" ? data.profile.pseudo : window.localStorage.getItem($auth.user_name) }}</strong></p>
							<!--Share-->
							<!--
							<ul class="inline-list left">
								<li><a id="share_mail" href="javascript:void(0)" class="icon-mail share tip-top" title="par mail" data-tooltip><span class="text">Mail</span></a></li>
								<li><a id="share_twitter" href="javascript:void(0)" class="icon-twitter share tip-top" title="sur Twitter" data-tooltip><span class="text">Twitter</span></a></li>
								<li><a id="share_facebook" href="javascript:void(0)" class="icon-facebook share tip-top" title="sur Facebook" data-tooltip><span class="text">Facebook</span></a></li>
								<li><a id="share_googleplus" href="javascript:void(0)" class="icon-googleplus share tip-top" title="sur Google+" data-tooltip><span class="text">Google+</span></a></li>
								<li><a id="share_linkedin" href="javascript:void(0)" class="icon-linkedin share tip-top" title="sur LinkedIn" data-tooltip><span class="text">LinkedIn</span></a></li>
							</ul>
							-->
						</div>

						<!--Validation Buttons-->
						<div class="text-center" style="margin-top: 1rem;">
							<input id="saveButton" class="button tip-top" type="button" value="Enregistrer" title="Mettre l&rsquo;article de c&ocirc;t&eacute; pour le modifier plus tard" data-tooltip data-options="disable_for_touch:true">
						</div>

					</form>

				</section>