<!--Partial Define-->
{{## def.article: data:
								<h4 class="{{= data.rubrique.classe}}">{{= data.rubrique.rubrique }}</h4>
								<div class="href-block clearfix {{= data.rubrique.classe}}">
									<h5 class="title">{{= data.title }}</h5>
									<p class="summary">
										{{? data.publishedDate !== null }}
											<span class="icon-date small" title="Date de publication">Publi&eacute; le </span><time datetime="{{= getDateTime(new Date(data.publishedDate)) }}" class="date">{{= dateToString(new Date(data.publishedDate)) }}</time>
										{{?}}
										{{= data.description}}
										<span class="right author"><strong>{{= data.profile.pseudo }}</strong></span>
									</p>
									<a href="{{= data.path }}" data-show="sexisme_dans_les_jeux_videos_une_critique_impossible">Lire l&rsquo;article</a>
								</div>
#}}
				<!--Articles-->
				<section id="articles">
					{{? window.localStorage.getItem($oursesUserRole) == $role_admin || window.localStorage.getItem($oursesUserRole) == $role_redac }}
					<div class="clearfix">
						<div class="right">
							<a href="{{= $new_article}}" class="icon-article medium" title="R&eacute;diger un nouvel article" data-tooltip></a>
							<label style="font-size: 75%; text-transform: uppercase; color: #999; line-height: 36px; height: 36px; margin: 0 .25rem;">&Eacute;crire</label>
						</div>
					</div>
					{{?}}
					<ul class="no-bullet articles-list draft">
						{{~ data.drafts :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
					<ul class="no-bullet articles-list standby">
						{{~ data.toCheck :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
					<ul class="no-bullet articles-list">
						{{~ data.onLine :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
				</section>