				<!--Article-->
				<section>
					<article class="article clearfix">
						<div class="header">
							<h2 class="title">{{= data.title }}</h2>
							<p class="authoring icon-author">
								<span class="hide">Par </span><a href="javascript:void(0);" data-profile-id="{{= data.profile.id }}" class="author" rel="author" title="Voir le profil de l&rsquo;auteure">{{= data.profile.pseudo }}</a>
								{{~ data.coAuthors : coAuthor }}
									<span class="separator"></span><a href="javascript:void(0);" data-profile-id="{{= coAuthor.id }}" class="coauthor" rel="author" title="Voir le profil de la co-auteure">{{= coAuthor.pseudo }}</a>
								{{~}}
							</p>
							<time class="date icon-date small" pubdate="{{= getDateTime(new Date(data.publishedDate)) }}"><small class="text"><span class="hide">Publi&eacute; le </span>{{= dateToHTML(new Date(data.publishedDate)) }}</small></time>
							<p class="summary{{= data.description.length == 0 ? ' empty' : '' }}">{{= data.description }}</p>
							<dl class="tags inline-list clearfix">
								<dt><span class="icon-tag small" title="Tags"><strong class="hide">Tags</strong></span></dt>
								<dd><a href="/articles?criteria={{= data.rubrique.path }}" rel="tag" class="label radius {{= data.rubrique.classe }}">{{= data.rubrique.rubrique }}</a></dd>
								<dd><a href="/articles?criteria={{= data.category.category }}" rel="tag" class="label radius inverse">{{= data.category.category }}</a></dd>
								{{~ data.tags : tag }}
									<dd><a href="/articles?criteria={{= tag.tag }}" rel="tag" class="label radius">{{= tag.tag }}</a></dd>
								{{~}}
							</dl>
						</div>
						<div class="body {{= data.rubrique.classe }} clearfix">
							{{= data.body }}
						</div>
						<div class="footer">
							<p class="authoring right">
								<span class="hide">Par </span><a href="javascript:void(0);" data-profile-id="{{= data.profile.id }}" class="author" rel="author" title="Voir le profil de l&rsquo;auteure">{{= data.profile.pseudo }}</a>
								{{~ data.coAuthors : coAuthor }}
									<span class="separator"></span><a href="javascript:void(0);" data-profile-id="{{= coAuthor.id }}" class="coauthor" rel="author" title="Voir le profil de la co-auteure">{{= coAuthor.pseudo }}</a></span>
								{{~}}
							</p>
							<ul class="inline-list share-list left">
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-lang="fr" data-dnt="false"></a></li>
								<li><div class="fb-share-button" data-layout="box_count"></div></li>
								<li><div class="g-plus" data-action="share" data-annotation="vertical-bubble"></div></li>
								<li><script type="IN/Share" data-counter="top"></script></li>
							</ul>
						</div>
					</article>
				</section>