<!--Partial Define-->
{{## def.article: art:
								<h4 class="{{= art.rubrique.classe}}">{{= art.rubrique.rubrique }}</h4>
								<div class="href-block clearfix {{= art.rubrique.classe}}">
									<h5 class="title">{{= art.title }}</h5>
									<p class="summary">
										{{? art.publishedDate !== null }}
											<span class="icon-date small" title="Date de publication">Publi&eacute; le </span><time datetime="{{= getDateTime(new Date(art.publishedDate)) }}" class="date">{{= dateToString(new Date(art.publishedDate)) }}</time>
										{{?? art.updatedDate !== null}}
											<span class="icon-date small" title="Date de mise &agrave; jour">Mis &agrave; jour le </span><time datetime="{{= getDateTime(new Date(art.updatedDate)) }}" class="date">{{= dateToString(new Date(art.updatedDate)) }}</time>
										{{?? art.createdDate !== null}}
											<span class="icon-date small" title="Date de cr&eacute;ation">Cr&eacute;&eacute; le </span><time datetime="{{= getDateTime(new Date(art.createdDate)) }}" class="date">{{= dateToString(new Date(art.createdDate)) }}</time>
										{{?}}
										{{= art.description}}
										<span class="right author"><strong>{{= art.profile.pseudo }}</strong></span>
									</p>
									{{? art.status == "BROUILLON" }}
										{{? art.profile.id == window.localStorage.getItem($oursesProfileId)}}
											<a href="{{= art.path }}">Lire l&rsquo;article</a>
										{{??}}
											<a href="javascript:void(0)" style="cursor: default;"></a>
										{{?}}
									{{??}}
										<a href="{{= art.path }}">Lire l&rsquo;article</a>
									{{?}}
									{{? art.status == "BROUILLON" }}
										<div class="validate" style="display: none;">
											<!--delete for Drafts-->
											<button class="small" data-delete = "{{= art.id }}">Supprimer</button>
											{{? art.profile.id == window.localStorage.getItem($oursesProfileId)}}
												<button class="alert small" data-validate = "{{= art.id }}">Valider</button>
											{{?}}
										</div>
									{{?? art.status == "AVERIFIER" }}
										<div class="validate" style="display: none;">
											<!--Validation for Standbys-->
											<button class="small success">Publier</button><button class="alert small">Renvoyer</button>
										</div>
									{{?}}
								</div>
#}}
				<!--Articles-->
				<section id="articles">
					{{? window.localStorage.getItem($oursesUserRole) == $role_admin || window.localStorage.getItem($oursesUserRole) == $role_redac }}
					<div class="clearfix">
						<div class="right">
							<a href="{{= $new_article}}" class="icon-article medium" title="R&eacute;diger un nouvel article" data-tooltip></a>
							<label style="font-size: 75%; text-transform: uppercase; color: #999; line-height: 36px; height: 36px; margin: 0 .25rem;">&Eacute;crire</label>
						</div>
					</div>
					{{?}}
					<ul class="no-bullet articles-list draft">
						{{~ data.drafts :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
					<ul id="articles_standby" class="no-bullet articles-list standby">
						{{~ data.toCheck :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
					<ul class="no-bullet articles-list">
						{{~ data.onLine :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
				</section>