								<li data-published="{{=data.publishedDate }}" class="{{= data.profile.pseudo == docCookies.getItem($auth.user_name) ? 'owner' : 'other' }} {{= data.rubrique.classe }}" style="display: none;">
									<div class="topic">
										<h4 class="rubric">{{= data.rubrique.rubrique }}</h4>
									</div>
									<div class="over-block">
										<h4 class="title">{{= data.title }}</h4>
										<p class="overview">
											{{? data.publishedDate !== null }}
												<span class="hide">Publi&eacute; le </span><time datetime="{{= getDateTime(new Date(data.publishedDate)) }}" class="date icon-{{= data.status == 'BROUILLON' ? 'edit' : (data.status == 'AVERIFIER' ? 'alert' : 'date') }} tiny">{{= dateToHTML(new Date(data.publishedDate)) }}</time>
											{{?? data.updatedDate !== null }}
												<span class="hide">Mis &agrave; jour le </span><time datetime="{{= getDateTime(new Date(data.updatedDate)) }}" class="date icon-{{= data.status == 'BROUILLON' ? 'edit' : (data.status == 'AVERIFIER' ? 'alert' : 'date') }} tiny">{{= dateToHTML(new Date(data.updatedDate)) }}</time>
											{{?? data.createdDate !== null }}
												<span class="hide">Cr&eacute;&eacute; le </span><time datetime="{{= getDateTime(new Date(data.createdDate)) }}" class="date icon-{{= data.status == 'BROUILLON' ? 'edit' : (data.status == 'AVERIFIER' ? 'alert' : 'date') }} tiny">{{= dateToHTML(new Date(data.createdDate)) }}</time>
											{{?}}
											<span class="summary">{{= data.description }}</span>
											<strong class="author">{{= data.profile.pseudo }}</strong>
										</p>
										{{? data.status == "BROUILLON" }}
											{{? data.profile.id == localStorage.getItem($auth.profile_id) }}
												<a href="{{= data.path }}" class="over">Modifier l&rsquo;article</a>
											{{??}}
												<a href="javascript:void(0)" class="over" style="cursor: default;"></a>
											{{?}}
											<p class="validate" style="display: none;">
												{{? data.profile.id == localStorage.getItem($auth.profile_id) }}
												<button class="icon-reply success tiny tip-left" title="Valider" data-validate="{{= data.id }}" data-tooltip></button>
												{{?}}
												<button class="icon-remove alert tiny tip-left" title="Supprimer" data-delete="{{= data.id }}" data-tooltip></button>
											</p>
										{{?? data.status == "AVERIFIER" }}
											{{? isRegAdmin() }}
												<a href="{{= data.path }}" class="over">Modifier l&rsquo;article</a>
											{{??}}
												<a href="javascript:void(0)" class="over" style="cursor: default;"></a>
											{{?}}
											<p class="validate" style="display: none;">
												{{? isRegAdmin() }}
												<button class="icon-confirm success tiny tip-left" title="Publier" data-publish="{{= data.id }}" data-tooltip></button>
												{{?}}
												<button class="icon-cancel alert tiny tip-left" title="Renvoyer" data-invalidate="{{= data.id }}" data-tooltip></button>
											</p>
										{{??}}
											<a href="{{= data.path }}" class="over">Lire l&rsquo;article</a>
											{{? isRegAdmin() || data.profile.id == localStorage.getItem($auth.profile_id) }}
											<p class="validate" style="display: none;">
												<button class="icon-reply alert tiny tip-left" title="Rappeler" data-recall="{{= data.id }}" data-tooltip></button>
											</p>
											{{?}}
										{{?}}
									</div>
								</li>