				<!--Article-->
				<section id="{{= data.beautify_title }}">
					<article class="article clearfix">
						<div class="header">
							<h2 class="title">{{= data.title }}</h2>
							<p class="authoring icon-author">
								<span class="hide">Par </span><a href="javascript:void(0);" data-profile-id="{{= data.profile.id }}" class="author" rel="author" title="Voir le profil de l&rsquo;auteure">{{= data.profile.pseudo }}</a>
								{{~ data.coAuthors : coAuthor }}
									<span class="separator"></span><a href="javascript:void(0);" data-profile-id="{{= coAuthor.id }}" class="coauthor" rel="author" title="Voir le profil de la co-auteure">{{= coAuthor.pseudo }}</a>
								{{~}}
							</p>
							<time class="date icon-date small" pubdate="{{= getDateTime(new Date(data.publishedDate)) }}"><small class="text"><span class="hide">Publi&eacute; le </span>{{= dateToHTML(new Date(data.publishedDate)) }}</small></time>
							<p class="summary{{= data.description.length == 0 ? ' empty' : '' }}">{{= data.description }}</p>
							<dl class="tags inline-list clearfix">
								<dt><span class="icon-tag small" title="Tags"><strong class="hide">Tags</strong></span></dt>
								<dd><a href="/articles?criteria={{= data.rubrique.path }}" rel="tag" class="label radius {{= data.rubrique.classe }}">{{= data.rubrique.rubrique }}</a></dd>
								<dd><a href="/articles?criteria={{= data.category.category }}" rel="tag" class="label radius inverse">{{= data.category.category }}</a></dd>
								{{~ data.tags : tag }}
									<dd><a href="/articles?criteria={{= tag.tag }}" rel="tag" class="label radius">{{= tag.tag }}</a></dd>
								{{~}}
							</dl>
						</div>
						<div class="body {{= data.rubrique.classe }}">
							{{= data.body }}
						</div>
						<div class="footer">
							<p class="authoring right">
								<span class="hide">Par </span><a href="javascript:void(0);" data-profile-id="{{= data.profile.id }}" class="author" rel="author" title="Voir le profil de l&rsquo;auteure">{{= data.profile.pseudo }}</a>
								{{~ data.coAuthors : coAuthor }}
									<span class="separator"></span><a href="javascript:void(0);" data-profile-id="{{= coAuthor.id }}" class="coauthor" rel="author" title="Voir le profil de la co-auteure">{{= coAuthor.pseudo }}</a></span>
								{{~}}
							</p>
							<ul class="inline-list left">
								<!--UNUSED for now ... DO NOT REMOVE !-->
								<!--
								<li>
									<a id="share_mail" href="javascript:void(0)" class="icon-mail share" title="Partager par mail" data-article="{{= data.id }}"><span class="text">Mail</span></a>
									<div class="spring-box" style="display: none;">
										<a href="javascript:void(0)" class="close right"></a>
										<label for="share_mail_input">Partager par mail</label>
										<input id="share_mail_input" class="validation" type="email" maxlength="255" placeholder="L&rsquo;adresse &eacute;lectronique de votre choix">
										<small class="error hide"></small>
									</div>
								</li>
								-->
								<li><a id="share_twitter" href="" class="icon-twitter share" title="Partager sur Twitter"><span class="text">Twitter</span></a></li>
								<li><a id="share_facebook" href="" class="icon-facebook share" title="Partager sur Facebook"><span class="text">Facebook</span></a></li>
								<li><a id="share_googleplus" href="" class="icon-googleplus share" title="Partager sur Google+"><span class="text">Google+</span></a></li>
								<li><a id="share_linkedin" href="" class="icon-linkedin share" title="Partager sur LinkedIn"><span class="text">LinkedIn</span></a></li>
							</ul>
						</div>
					</article>
				</section>