				<section id="bug_report">
					<form id="new_bug" class="small-24 medium-20 medium-offset-2 large-16 large-offset-4" onsubmit="return false;">
						<fieldset>
							<legend>Signaler un bug</legend>
							<div>
								<label for="bug_title">Intitul&eacute;&thinsp;<sup class="medium red">*</sup></label>
								<input id="bug_title" class="validation" type="text" maxlength="50" placeholder="Un titre explicite pour le bug rapport&eacute; (p. ex. &ldquo;D&eacute;filement du bandeau d&rsquo;annonces&rdquo;).">
								<small class="error hide">Veuillez intituler le bug rapport&eacute;</small>
							</div>
							<div>
								<label for="bug_body">Description&thinsp;<sup class="medium red">*</sup></label>
								<textarea id="bug_body" class="validation small" style="margin-bottom: 1rem;" maxlength="2000" placeholder="Une explication d&eacute;taill&eacute;e du probl&egrave;me signal&eacute; (p. ex. &ldquo;Le bandeau d&rsquo;annonces en haut du site ne d&eacute;file plus lorsqu&rsquo;on clique sur la fl&egrave;che &agrave; droite.&rdquo;)."></textarea>
								<small class="error hide">Veuillez d&eacute;crire le bug rapport&eacute;</small>
							</div>
							<button type="submit" class="right">Valider</button>
						</fieldset>
						<div class="alert-box radius info" style="margin: 1rem 0 0;">
							<a class="close" href="javascript:void(0)"></a>
							<p>Des informations concernant votre <strong style="border-bottom: 1px dotted gray; cursor: help;" title="Navigateur, syst&egrave;me d&rsquo;exploitation et taille de la fen&ecirc;tre.">configuration mat&eacute;rielle</strong> vont &ecirc;tre envoy&eacute;es automatiquement lors de la validation de ce formulaire. Ces donn&eacute;es ne seront exploit&eacute;es que dans le cadre strict du d&eacute;veloppement de la pr&eacute;sente application. En soumettant ce formulaire vous acceptez les conditions d&rsquo;utilisation susmentionn&eacute;es.</p>
						</div>
					</form>
				</section>