				<!--Rapporteur de bugs-->
				<section id="bug-tracker">
					<div id="bug-alert" class="alert-box radius text-center" style="display:none;" data-alert>
						<span id="bug-alert-message"></span>
						<a href="javascript:void(0)" class="close"></a>
					</div>
					<form id="new-bug" onsubmit="return false;" data-abide>
						<div class="row" style="margin-bottom: 1rem;">
							<div class="column medium-4 large-push-2 large-2">
								<label for="bug-title">Intitul&eacute; <sup class="medium red">*</sup></label>
							</div>
							<div class="column medium-8 large-pull-2 large-6">
								<input id="bug-title" type="text" maxlength="50" style="margin-bottom: 0;" placeholder="Intitul&eacute; du bug" required />
								<small class="error">Veuillez intituler le bug rapport&eacute;</small>
							</div>
						</div>
						<div class="row" style="margin-bottom: 1rem;">
							<div class="column medium-4 large-push-2 large-2">
								<label for="bug-body">Description <sup class="medium red">*</sup></label>
							</div>
							<div class="column medium-8 large-pull-2 large-6">
								<textarea id="bug-body" maxlength="2000" style="margin-bottom: 0; max-width: 100%; min-width: 100%; min-height: 10rem;" placeholder="Description du bug" required></textarea>
								<small class="error">Veuillez d&eacute;crire le bug rapport&eacute;</small>
							</div>
						</div>
						<div class="row" style="margin-bottom: 1rem;">
							<div class="column small-12 medium-push-4 medium-8 large-push-4 medium-pull-2 large-6">
								<button type="submit" class="right" style="margin-bottom: 0;">Valider</button>
							</div>
						</div>
					</form>
				</section>