				<section id="bug-tracker">
					<form id="new-bug" class="small-24 medium-20 medium-offset-2 large-16 large-offset-4" onsubmit="return false;" data-abide>
						<div id="bug-alert" class="alert-box radius text-center" style="display:none;">
							<span id="bug-alert-message"></span>
							<a href="javascript:void(0)" class="close"></a>
						</div>
						<fieldset>
							<legend>Signaler un bug</legend>
							<div>
								<label for="bug-title">Intitul&eacute; <sup class="medium red">*</sup></label>
								<input id="bug-title" type="text" maxlength="50" placeholder="Un titre explicite pour le bug rapport&eacute; (p. ex. &ldquo;D&eacute;filement du bandeau d&rsquo;annonces&rdquo;)." required />
								<small class="error">Veuillez intituler le bug rapport&eacute;</small>
							</div>
							<div>
								<label for="bug-body">Description <sup class="medium red">*</sup></label>
								<textarea id="bug-body" maxlength="2000" placeholder="Une explication d&eacute;taill&eacute;e du probl&egrave;me signal&eacute; (p. ex. &ldquo;Le bandeau d&rsquo;annonces en haut du site ne d&eacute;file plus lorsqu&rsquo;on clique sur la fl&egrave;che &agrave; droite.&rdquo;)." required></textarea>
								<small class="error" style="margin-bottom: 0;">Veuillez d&eacute;crire le bug rapport&eacute;</small>
							</div>
							<button type="submit" class="right" style="margin-top: 1rem;">Valider</button>
						</fieldset>
						<div class="alert-box radius info">
							<a class="close" href="javascript:void(0)"></a>
							<p>Des informations concernant votre <span class="has-tip" title="Navigateur, syst&egrave;me d&rsquo;exploitation et taille de la fen&ecirc;tre." data-tooltip >configuration mat&eacute;rielle</span> vont &ecirc;tre envoy&eacute;es automatiquement lors de la validation de ce formulaire. Ces donn&eacute;es ne seront exploit&eacute;es que dans le cadre strict du d&eacute;veloppement de la pr&eacute;sente application et ne seront divulgu&eacute;es &agrave; aucune personne morale ou physique de droit priv&eacute; ou public hors instruction judiciaire. En validant l&rsquo;envoi de ce formulaire vous acceptez les conditions d&rsquo;utilisation susmentionn&eacute;es. <a href="javascript:void(0)"><u>En savoir plus sur la politique de confidentialit&eacute;</u></a>.</p>
						</div>
					</form>
				</section>