<section id="dashboard">
	<a id="back" href="javascript:void(0)" class="hide">Retour</a> 
	<div id="home-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</section>