<section id="dashboard">
	<a id="back" href="javascript:void(0)" class="hide">Retour</a> 
	<label id="lbl_number_online">Nombre d'article en ligne : </label>
	<span id="online_article">0</span>
	<label id="lbl_number_prog">Nombre d'article programmé : </label>
	<span id="prog_article">0</span>
	<div id="home-container" style="min-width: 310px; height: 600px; max-width: 800px; margin: 0 auto"></div>
</section>