<section id="dashboard">
	<div id="home-pie-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
	<div id="home-line-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</section>