					<!--Kitchen Sink-->
					<h2>Kitchen Sink <small>Dev Tool</small></h2>
					<!--Typography-->
					<h3>Typographie</h3>
					<!--Titles-->
					<h4 class="subheader">Titres</h4>
					<hgroup>
						<h1><span class="red">Titre de page</span> &Eacute;norme <sup><small>H1</small></sup></h1>
						<p>Pour introduire une page (c&agrave;d. <em>Les Ourses &agrave; Plumes</em>)</p>
						<h2><span class="red">Titre de section</span> Tr&egrave;s grand <sup><small>H2</small></sup></h2>
						<p>Pour introduire une section (c&agrave;d. <code>&lt;section&gt;</code>) (p. ex. <em>&Eacute;dito</em>, <em>&Agrave; la une</em>, <em>Mon profil</em>, etc.)</p></p>
						<h3><span class="red">Titre d&rsquo;article</span> Grand <sup><small>H3</small></sup></h3>
						<p>Pour introduire un article (c&agrave;d. <code>&lt;article&gt;</code>) (p. ex. <em>Naturalisation et paup&eacute;risation du travail des femmes</em>)</p>
						<h4><span class="red">Titre de partie</span> Normal <sup><small>H4</small></sup></h4>
						<p>Pour introduire une partie (p. ex. <em>Un travail aux conditions difficiles</em>)</p>
						<h5><span class="red">Titre de liste</span> Petit <sup><small>H5</small></sup></h5>
						<p>Pour introduire un &eacute;l&eacute;ment dans une liste (p. ex. <code>.article-list</code>)</p>
						<h6><span class="red">Titre de paragraphe</span> Minuscule <sup><small>H6</small></sup></h6>
						<p>Pour introduire un paragraphe dans une liste (p. ex. <code>.article-list > li</code>)</p>
					</hgroup>
					<!--Paragraphs-->
					<h4 class="subheader">Paragraphes</h4>
					<p class="panel">La classe CSS <code>.collapse</code> ajout&eacute;e &agrave; une balise HTML <code>&lt;p&gt;</code> permet d&rsquo;att&eacute;nuer l&rsquo;espacement entre le paragraphe marqu&eacute; et le <mark>paragraphe suivant</mark>. Cela ajoute de surcro&icirc;t un alin&eacute;a au <mark>paragraphe suivant</mark>.</p>
					<p class="collapse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sed turpis ac malesuada. Vestibulum ut condimentum ligula, ut lobortis diam. Maecenas tortor neque, venenatis quis purus vitae, commodo ornare lorem. Pellentesque eu euismod neque. Nullam mollis lacinia ligula pulvinar scelerisque. Curabitur lobortis ornare dolor, ut imperdiet magna sollicitudin ut. Nam non pharetra ante, id convallis quam. Quisque vestibulum nisi ut viverra malesuada.</p>
					<p>Etiam nec nisl ac elit pulvinar egestas hendrerit quis ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa ante, scelerisque non erat sed, malesuada viverra purus. Integer dignissim ipsum sit amet feugiat consequat. Donec sagittis elit vel euismod fermentum. Vestibulum odio felis, auctor blandit tempor ac, eleifend nec nunc. Proin luctus vulputate arcu, nec lobortis odio mollis id. Integer vitae nibh aliquam turpis mattis suscipit. Morbi adipiscing mi nunc. Sed facilisis id augue id iaculis. Sed nibh enim, tempus id iaculis eget, blandit id ligula. Donec convallis consectetur odio, non ultrices arcu gravida pellentesque. Fusce venenatis volutpat nulla. In ut orci urna. Integer ultricies arcu sed imperdiet laoreet. Fusce venenatis urna eget purus euismod consequat.</p>
					<p>Integer ut dolor ut dolor eleifend volutpat. Donec fringilla turpis sit amet neque dignissim consequat. Phasellus porta, justo nec ultrices suscipit, quam leo aliquet lorem, sit amet congue nisl odio nec mi. Quisque sit amet auctor massa. Sed consequat dictum turpis, nec facilisis ipsum egestas at. Proin aliquet commodo purus, non sagittis purus facilisis elementum. Donec eu nisi sed nisl consectetur porttitor. Pellentesque augue sapien, facilisis sit amet porta a, interdum ac lorem. Proin elementum interdum turpis, sed euismod nulla condimentum non. Integer eget nisl vehicula est tempus pellentesque. Maecenas hendrerit, tellus sed faucibus semper, nibh erat hendrerit arcu, et lacinia libero nisi ac libero. Pellentesque ultrices nulla non sapien congue molestie. Aenean et ligula a felis ornare adipiscing. Suspendisse sagittis lacinia metus in ultrices. </p>
					<!--Links-->
					<h4 class="subheader">Liens hypertextes</h4>
					<p>Ceci est un <a href="#">hyperlien</a></p>
					<p>Ceci est un hyperlien vers la rubrique <a href="#" class="red">Intersectionnalit&eacute;</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="orange">Luttes</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="yellow">&lt;inutilis&eacute;&gt;</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="green">&lt;inutilis&eacute;&gt;</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="cyan">&Eacute;ducation &amp; Culture</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="blue">International</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="magenta">Nos corps, nous-m&ecirc;mes</a><br>
					Ceci est un hyperlien vers la rubrique <a href="#" class="purple">Id&eacute;&eacute;s</a></p>
					<!--Quotations-->
					<h4 class="subheader">Citations</h4>
					<blockquote>Sous le patriarcat capitaliste, le d&eacute;veloppement technologique [&hellip;] progresse sans r&eacute;pit de ce qu&rsquo;il a transform&eacute; et &eacute;puis&eacute; vers ce qu&rsquo;il a n&rsquo;a pas encore consomm&eacute; <cite class="author">Vandana Shiva</cite></blockquote>
					<p>L&rsquo;apparition du slogan <q>Un enfant si je veux, quand je veux</q> est concomitant de la publication du <cite>Manifeste des 343</cite> r&eacute;dig&eacute; par <span class="author">Simone de Beauvoir</span>.</p>
					<!--Abbreviations and Acronyms-->
					<h4 class="subheader">Abr&eacute;viations et acronymes</h4>
					<p>Le mouvement f&eacute;ministe am&eacute;ricain <abbr title="National Organization for Women">NOW</abbr> a &eacute;t&eacute; fond&eacute; en 1966 par <span class="author">Betty Friedan</span>. Son pendant fran&ccedil;ais, le <abbr title="Mouvement de lib&eacute;ration des femmes">MLF</abbr>, a &eacute;t&eacute; form&eacute; au cours des ann&eacute;es 1968.<p>
					<!--Formatted Texts-->
					<h4 class="subheader">Texte enrichi</h4>
					<pre>
def helloworld (universe) {
	for each @world in universe do {
		print "hello"
	}
}</pre>
					<p>La variable <var>universe</var> est locale tandis que la variable <var>@world</var> est instanci&eacute;e.</p>
					<p>La m&eacute;thode <code>print "hello"</code> va sortir <samp>hello</samp> sur la console de l&rsquo;application.</p>
					<p><span class="label radius">Astuce</span> Vous pouvez appuyer sur la touche <kbd>Tab</kbd> et sur <kbd>Shift+Tab</kbd> pour naviguer.</p>
					<!--Alert Boxes-->
					<h4 class="subheader">Bo&icirc;tes d&rsquo;alerte <small>.alert-box</small></h4>
					<div class="row">
						<div class="column small-6 medium-4 large-3">
							<div data-alert class="alert-box text-center">Primaire<a href="#" class="close"></a></div>
						</div>
						<div class="column small-6 medium-4 large-3">
							<div data-alert class="alert-box secondary text-center">Secondaire<a href="#" class="close"></a></div>
						</div>
						<div class="column small-6 medium-4 large-3">
							<div data-alert class="alert-box success text-center">Succ&egrave;s<a href="#" class="close"></a></div>
						</div>
						<div class="column small-6 medium-4 large-3">
							<div data-alert class="alert-box alert text-center">Alerte<a href="#" class="close"></a></div>
						</div>
						<div class="column small-6 medium-4 large-4">
							<div data-alert class="alert-box error text-center">Erreur<a href="#" class="close"></a></div>
						</div>
						<div class="column small-6 medium-4 large-4">
							<div data-alert class="alert-box warning text-center">Attention<a href="#" class="close"></a></div>
						</div>
						<div class="column small-12 large-4">
							<div data-alert class="alert-box info text-center">Info<a href="#" class="close"></a></div>
						</div>
					</div>
					<!--Labels-->
					<h4 class="subheader">&Eacute;tiquettes <small>.label</small></h4>
					<p>
						<span class="label">D&eacute;faut</span>
						<span class="label radius">Arrondi</span>
						<span class="label round">Rond</span>
						<span class="label secondary">Secondaire</span>
						<span class="label success">Succ&egrave;s</span>
						<span class="label alert">Alerte</span>
						<span class="label error">Erreur</span>
					</p>
					<!--Forms-->
					<h3>Formulaires</h3>
					<h4 class="subheader">Standard</h4>
					<form id="bearAccount" onsubmit="return createBearAccount()" data-abide>
						<fieldset>
							<legend>Cr&eacute;ation d&rsquo;un compte</legend>
							<div class="row">
								<div class="column medium-4 large-push-2 large-2">
									<label for="pseudo">Pseudo <sup class="medium red">*</sup></label>
								</div>
								<div class="column medium-8 large-pull-2 large-6">
									<input id="pseudo" type="text" required pattern="alpha" />
									<small class="error">Veuillez indiquer un nom d&rsquo;utilisatrice</small>
								</div>
							</div>
							<div class="row">
								<div class="column medium-4 large-push-2 large-2">
									<label for="mail">Adresse mail <sup class="medium red">*</sup></label>
								</div>
								<div class="column medium-8 large-pull-2 large-6">
									<input id="mail" type="text" required="required" pattern="email" />
									<small class="error">Veuillez indiquer une adresse e-mail valide</small>
								</div>
							</div>
							<div class="row">
								<div class="column medium-4 large-push-2 large-2">
									<label for="password">Mot de passe <sup class="medium red">*</sup></label>
								</div>
								<div class="column medium-8 large-pull-2 large-6">
									<input id="password" type="text" required="" />
									<small class="error">Veuillez choisir un mot de passe</small>
								</div>
							</div>
							<div class="row">
								<div class="column medium-4 large-push-2 large-2">
									<label for="password">Mot de passe <sup class="medium red">*</sup></label>
								</div>
								<div class="column medium-8 large-pull-2 large-6">
									<input id="password" type="text" required="" data-equalto="password" />
									<small class="error">Veuillez confirmer le mot de passe</small>
								</div>
							</div>
							<div class="row">
								<div class="column medium-4 large-push-2 large-2">
										<label for="description">Description</label>
								</div>
								<div class="column medium-8 large-pull-2 large-6">
									<textarea id="description" maxlength="1000" style="min-width: 100%; min-height: 12.5rem; "></textarea>
								</div>
							</div>
							<div class="row">
								<div class="column medium-4 large-push-2 large-2">
									<label for="role">R&ocirc;le <sup class="medium red">*</sup></label>
								</div>
								<div class="column medium-8 large-pull-2 large-6">
									<select id="role" required="" data-invalid="">
										<option value="admin">Administratrice</option>
										<option value="writer">R&eacute;dactrice</option>
										<option value="reader">Lectrice</option>
									</select>
									<small class="error">Veuillez choisir un r&ocirc;le</small>
								</div>
							</div>
							<div class="row">
								<div class="column medium-offset-4 medium-8 large-offset-4 large-6 text-right">
									<input id="confirm" type="submit" value="Cr&eacute;er le compte" class="button" />
								</div>
							</div>
						</fieldset>
					</form>
					<!--Buttons-->
					<h3>Boutons <small>.button</small></h3>
					<h4 class="subheader">Position</h4>
					<div>
						<span class="button expand">&Eacute;tendu</span>
					</div>
					<div>
						<span class="button left-align">&Agrave; gauche</span>
						<span style="margin-left: .5rem; font-weight: bold; color: darkred;">BUG</span> &rarr; Not to be used &hellip; Use .left class or float property instead.
					</div>
					<div>
						<span class="button right-align">&Agrave; droite</span>
						<span style="margin-left: .5rem; font-weight: bold; color: darkred;">BUG</span> &rarr; Not to be used &hellip; Use .right class or float property instead.
					</div>
					<h4 class="subheader">Types</h4>
					<div class="column small-8">
						<ul class="button-group">
							<li class="button">D&eacute;faut</li>
							<li class="button secondary">Secondaire</li>
							<li class="button success">Succ&egrave;s</li>
							<li class="button alert">Alerte</li>
							<li class="button error">Erreur</li>
						</ul>
					</div>
					<div class="column small-4 text-center">
							<span class="button disabled">D&eacute;sactiv&eacute;</span>
					</div>
					<h4 class="subheader">Taille</h4>
					<div class="row text-center">
						<div class="column small-3">
							<span class="button tiny">Minuscule</span>
						</div>
						<div class="column small-3">
							<span class="button small">Petit</span>
						</div>
						<div class="column small-3">
							<span class="button">D&eacute;faut</span>
						</div>
						<div class="column small-3">
							<span class="button large">Grand</span>
						</div>
					</div>
					<h4 class="subheader">Forme</h4>
					<div class="row text-center">
						<div class="column small-4">
							<span class="button">D&eacute;faut</span>
						</div>
						<div class="column small-4">
							<span class="button radius">Arrondi</span>
						</div>
						<div class="column small-4">
							<span class="button round">Rond</span>
						</div>
					</div>
					<!--Icons-->
					<h3>Ic&ocirc;nes <small>.icon-*</small></h3>
					<h4 class="subheader">Taille<h4>
					<h5 class="red">Grand</h5>
					<div class="panel">
						<a href="javascript:void(0)"><span class="icon-left large" title="Fl&egrave;che gauche"></span></a>
						<a href="javascript:void(0)"><span class="icon-right large" title="Fl&egrave;che droite"></span></a>
						<a href="javascript:void(0)"><span class="icon-up large" title="Fl&egrave;che haut"></span></a>
						<a href="javascript:void(0)"><span class="icon-down large" title="Fl&egrave;che bas"></span></a>
						<a href="javascript:void(0)"><span class="icon-show large" title="Voir"></span></a>
						<a href="javascript:void(0)"><span class="icon-hide large" title="Masquer"></span></a>
						<a href="javascript:void(0)"><span class="icon-expand large" title="D&eacute;rouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-collapse large" title="Enrouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-home large" title="Accueil"></span></a>
						<a href="javascript:void(0)"><span class="icon-search large" title="Rechercher"></span></a>
						<a href="javascript:void(0)"><span class="icon-mail large" title="Contact"></span></a>
						<a href="javascript:void(0)"><span class="icon-link large" title="Lien"></span></a>
						<a href="javascript:void(0)"><span class="icon-brightness large" title="Contraste"></span></a>
						<a href="javascript:void(0)"><span class="icon-textinc large" title="Texte plus grand"></span></a>
						<a href="javascript:void(0)"><span class="icon-textdec large" title="Texte plus petit"></span></a>
						<a href="javascript:void(0)"><span class="icon-print large" title="Imprimer"></span></a>
						<a href="javascript:void(0)"><span class="icon-article large" title="Article"></span></a>
						<a href="javascript:void(0)"><span class="icon-author large" title="Auteur"></span></a>
						<a href="javascript:void(0)"><span class="icon-date large" title="Date"></span></a>
						<a href="javascript:void(0)"><span class="icon-tag large" title="Tag"></span></a>
						<a href="javascript:void(0)"><span class="icon-comment large" title="Commenter"></span></a>
						<a href="javascript:void(0)"><span class="icon-reply large" title="R&eacute;pondre"></span></a>
						<a href="javascript:void(0)"><span class="icon-edit large" title="&Eacute;diter"></span></a>
						<a href="javascript:void(0)"><span class="icon-alert large" title="Signaler"></span></a>
						<a href="javascript:void(0)"><span class="icon-rubric large" title="Rubrique"></span></a>
						<a href="javascript:void(0)"><span class="icon-struggles large" title="Luttes"></span></a>
						<a href="javascript:void(0)"><span class="icon-ourbody large" title="Nos corps, nous-m&ecirc;mes"></span></a>
						<a href="javascript:void(0)"><span class="icon-intersec large" title="Intersectionnalit&eacute;"></span></a>
						<a href="javascript:void(0)"><span class="icon-internat large" title="International"></span></a>
						<a href="javascript:void(0)"><span class="icon-educult large" title="&Eacute;ducation & Culture"></span></a>
						<a href="javascript:void(0)"><span class="icon-ideas large" title="Id&eacute;es"></span></a>
						<a href="javascript:void(0)"><span class="icon-undefined large" title="Non d&eacute;fini"></span></a>
						<a href="javascript:void(0)"><span class="icon-syndicate large" title="Syndication de flux RSS"></span></a>
						<a href="javascript:void(0)"><span class="icon-twitter large" title="Partager sur Twitter"></span></a>
						<a href="javascript:void(0)"><span class="icon-facebook large" title="Partager sur Facebook"></span></a>
						<a href="javascript:void(0)"><span class="icon-googleplus large" title="Partager sur Google+"></span></a>
						<a href="javascript:void(0)"><span class="icon-tumblr large" title="Partager sur Tumblr"></span></a>
						<a href="javascript:void(0)"><span class="icon-linkedin large" title="Partager sur LinkedIn"></span></a>
						<a href="javascript:void(0)"><span class="icon-pinterest large" title="Tagguer sur Pinterest"></span></a>
						<a href="javascript:void(0)"><span class="icon-stumbleupon large" title="Tagguer sur StumbleUpon"></span></a>
					</div>
					<div class="alert-box secondary">
						<a href="javascript:void(0)"><span class="icon-left large white" title="Fl&egrave;che gauche"></span></a>
						<a href="javascript:void(0)"><span class="icon-right large white" title="Fl&egrave;che droite"></span></a>
						<a href="javascript:void(0)"><span class="icon-up large white" title="Fl&egrave;che haut"></span></a>
						<a href="javascript:void(0)"><span class="icon-down large white" title="Fl&egrave;che bas"></span></a>
						<a href="javascript:void(0)"><span class="icon-show large white" title="Voir"></span></a>
						<a href="javascript:void(0)"><span class="icon-hide large white" title="Masquer"></span></a>
						<a href="javascript:void(0)"><span class="icon-expand large white" title="D&eacute;rouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-collapse large white" title="Enrouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-home large white" title="Accueil"></span></a>
						<a href="javascript:void(0)"><span class="icon-search large white" title="Rechercher"></span></a>
						<a href="javascript:void(0)"><span class="icon-mail large white" title="Contact"></span></a>
						<a href="javascript:void(0)"><span class="icon-link large white" title="Lien"></span></a>
						<a href="javascript:void(0)"><span class="icon-brightness large white" title="Contraste"></span></a>
						<a href="javascript:void(0)"><span class="icon-textinc large white" title="Texte plus grand"></span></a>
						<a href="javascript:void(0)"><span class="icon-textdec large white" title="Texte plus petit"></span></a>
						<a href="javascript:void(0)"><span class="icon-print large white" title="Imprimer"></span></a>
						<a href="javascript:void(0)"><span class="icon-article large white" title="Article"></span></a>
						<a href="javascript:void(0)"><span class="icon-author large white" title="Auteur"></span></a>
						<a href="javascript:void(0)"><span class="icon-date large white" title="Date"></span></a>
						<a href="javascript:void(0)"><span class="icon-tag large white" title="Tag"></span></a>
						<a href="javascript:void(0)"><span class="icon-comment large white" title="Commenter"></span></a>
						<a href="javascript:void(0)"><span class="icon-reply large white" title="R&eacute;pondre"></span></a>
						<a href="javascript:void(0)"><span class="icon-edit large white" title="&Eacute;diter"></span></a>
						<a href="javascript:void(0)"><span class="icon-alert large white" title="Signaler"></span></a>
						<a href="javascript:void(0)"><span class="icon-rubric large white" title="Rubrique"></span></a>
						<a href="javascript:void(0)"><span class="icon-struggles large white" title="Luttes"></span></a>
						<a href="javascript:void(0)"><span class="icon-ourbody large white" title="Nos corps, nous-m&ecirc;mes"></span></a>
						<a href="javascript:void(0)"><span class="icon-intersec large white" title="Intersectionnalit&eacute;"></span></a>
						<a href="javascript:void(0)"><span class="icon-internat large white" title="International"></span></a>
						<a href="javascript:void(0)"><span class="icon-educult large white" title="&Eacute;ducation & Culture"></span></a>
						<a href="javascript:void(0)"><span class="icon-ideas large white" title="Id&eacute;es"></span></a>
						<a href="javascript:void(0)"><span class="icon-undefined large white" title="Non d&eacute;fini"></span></a>
						<a href="javascript:void(0)"><span class="icon-syndicate large white" title="Syndication de flux RSS"></span></a>
						<a href="javascript:void(0)"><span class="icon-twitter large white" title="Partager sur Twitter"></span></a>
						<a href="javascript:void(0)"><span class="icon-facebook large white" title="Partager sur Facebook"></span></a>
						<a href="javascript:void(0)"><span class="icon-googleplus large white" title="Partager sur Google+"></span></a>
						<a href="javascript:void(0)"><span class="icon-tumblr large white" title="Partager sur Tumblr"></span></a>
						<a href="javascript:void(0)"><span class="icon-linkedin large white" title="Partager sur LinkedIn"></span></a>
						<a href="javascript:void(0)"><span class="icon-pinterest large white" title="Tagguer sur Pinterest"></span></a>
						<a href="javascript:void(0)"><span class="icon-stumbleupon large white" title="Tagguer sur StumbleUpon"></span></a>
					</div>
					<h5 class="red">Moyen</h5>
					<div class="panel">
						<a href="javascript:void(0)"><span class="icon-left medium" title="Fl&egrave;che gauche"></span></a>
						<a href="javascript:void(0)"><span class="icon-right medium" title="Fl&egrave;che droite"></span></a>
						<a href="javascript:void(0)"><span class="icon-up medium" title="Fl&egrave;che haut"></span></a>
						<a href="javascript:void(0)"><span class="icon-down medium" title="Fl&egrave;che bas"></span></a>
						<a href="javascript:void(0)"><span class="icon-show medium" title="Voir"></span></a>
						<a href="javascript:void(0)"><span class="icon-hide medium" title="Masquer"></span></a>
						<a href="javascript:void(0)"><span class="icon-expand medium" title="D&eacute;rouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-collapse medium" title="Enrouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-home medium" title="Accueil"></span></a>
						<a href="javascript:void(0)"><span class="icon-search medium" title="Rechercher"></span></a>
						<a href="javascript:void(0)"><span class="icon-mail medium" title="Contact"></span></a>
						<a href="javascript:void(0)"><span class="icon-link medium" title="Lien"></span></a>
						<a href="javascript:void(0)"><span class="icon-brightness medium" title="Contraste"></span></a>
						<a href="javascript:void(0)"><span class="icon-textinc medium" title="Texte plus grand"></span></a>
						<a href="javascript:void(0)"><span class="icon-textdec medium" title="Texte plus petit"></span></a>
						<a href="javascript:void(0)"><span class="icon-print medium" title="Imprimer"></span></a>
						<a href="javascript:void(0)"><span class="icon-article medium" title="Article"></span></a>
						<a href="javascript:void(0)"><span class="icon-author medium" title="Auteur"></span></a>
						<a href="javascript:void(0)"><span class="icon-date medium" title="Date"></span></a>
						<a href="javascript:void(0)"><span class="icon-tag medium" title="Tag"></span></a>
						<a href="javascript:void(0)"><span class="icon-comment medium" title="Commenter"></span></a>
						<a href="javascript:void(0)"><span class="icon-reply medium" title="R&eacute;pondre"></span></a>
						<a href="javascript:void(0)"><span class="icon-edit medium" title="&Eacute;diter"></span></a>
						<a href="javascript:void(0)"><span class="icon-alert medium" title="Signaler"></span></a>
						<a href="javascript:void(0)"><span class="icon-rubric medium" title="Rubrique"></span></a>
						<a href="javascript:void(0)"><span class="icon-struggles medium" title="Luttes"></span></a>
						<a href="javascript:void(0)"><span class="icon-ourbody medium" title="Nos corps, nous-m&ecirc;mes"></span></a>
						<a href="javascript:void(0)"><span class="icon-intersec medium" title="Intersectionnalit&eacute;"></span></a>
						<a href="javascript:void(0)"><span class="icon-internat medium" title="International"></span></a>
						<a href="javascript:void(0)"><span class="icon-educult medium" title="&Eacute;ducation & Culture"></span></a>
						<a href="javascript:void(0)"><span class="icon-ideas medium" title="Id&eacute;es"></span></a>
						<a href="javascript:void(0)"><span class="icon-undefined medium" title="Non d&eacute;fini"></span></a>
						<a href="javascript:void(0)"><span class="icon-syndicate medium" title="Syndication de flux RSS"></span></a>
						<a href="javascript:void(0)"><span class="icon-twitter medium" title="Partager sur Twitter"></span></a>
						<a href="javascript:void(0)"><span class="icon-facebook medium" title="Partager sur Facebook"></span></a>
						<a href="javascript:void(0)"><span class="icon-googleplus medium" title="Partager sur Google+"></span></a>
						<a href="javascript:void(0)"><span class="icon-tumblr medium" title="Partager sur Tumblr"></span></a>
						<a href="javascript:void(0)"><span class="icon-linkedin medium" title="Partager sur LinkedIn"></span></a>
						<a href="javascript:void(0)"><span class="icon-pinterest medium" title="Tagguer sur Pinterest"></span></a>
						<a href="javascript:void(0)"><span class="icon-stumbleupon medium" title="Tagguer sur StumbleUpon"></span></a>
					</div>
					<div class="alert-box secondary">
						<a href="javascript:void(0)"><span class="icon-left medium white" title="Fl&egrave;che gauche"></span></a>
						<a href="javascript:void(0)"><span class="icon-right medium white" title="Fl&egrave;che droite"></span></a>
						<a href="javascript:void(0)"><span class="icon-up medium white" title="Fl&egrave;che haut"></span></a>
						<a href="javascript:void(0)"><span class="icon-down medium white" title="Fl&egrave;che bas"></span></a>
						<a href="javascript:void(0)"><span class="icon-show medium white" title="Voir"></span></a>
						<a href="javascript:void(0)"><span class="icon-hide medium white" title="Masquer"></span></a>
						<a href="javascript:void(0)"><span class="icon-expand medium white" title="D&eacute;rouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-collapse medium white" title="Enrouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-home medium white" title="Accueil"></span></a>
						<a href="javascript:void(0)"><span class="icon-search medium white" title="Rechercher"></span></a>
						<a href="javascript:void(0)"><span class="icon-mail medium white" title="Contact"></span></a>
						<a href="javascript:void(0)"><span class="icon-link medium white" title="Lien"></span></a>
						<a href="javascript:void(0)"><span class="icon-brightness medium white" title="Contraste"></span></a>
						<a href="javascript:void(0)"><span class="icon-textinc medium white" title="Texte plus grand"></span></a>
						<a href="javascript:void(0)"><span class="icon-textdec medium white" title="Texte plus petit"></span></a>
						<a href="javascript:void(0)"><span class="icon-print medium white" title="Imprimer"></span></a>
						<a href="javascript:void(0)"><span class="icon-article medium white" title="Article"></span></a>
						<a href="javascript:void(0)"><span class="icon-author medium white" title="Auteur"></span></a>
						<a href="javascript:void(0)"><span class="icon-date medium white" title="Date"></span></a>
						<a href="javascript:void(0)"><span class="icon-tag medium white" title="Tag"></span></a>
						<a href="javascript:void(0)"><span class="icon-comment medium white" title="Commenter"></span></a>
						<a href="javascript:void(0)"><span class="icon-reply medium white" title="R&eacute;pondre"></span></a>
						<a href="javascript:void(0)"><span class="icon-edit medium white" title="&Eacute;diter"></span></a>
						<a href="javascript:void(0)"><span class="icon-alert medium white" title="Signaler"></span></a>
						<a href="javascript:void(0)"><span class="icon-rubric medium white" title="Rubrique"></span></a>
						<a href="javascript:void(0)"><span class="icon-struggles medium white" title="Luttes"></span></a>
						<a href="javascript:void(0)"><span class="icon-ourbody medium white" title="Nos corps, nous-m&ecirc;mes"></span></a>
						<a href="javascript:void(0)"><span class="icon-intersec medium white" title="Intersectionnalit&eacute;"></span></a>
						<a href="javascript:void(0)"><span class="icon-internat medium white" title="International"></span></a>
						<a href="javascript:void(0)"><span class="icon-educult medium white" title="&Eacute;ducation & Culture"></span></a>
						<a href="javascript:void(0)"><span class="icon-ideas medium white" title="Id&eacute;es"></span></a>
						<a href="javascript:void(0)"><span class="icon-undefined medium white" title="Non d&eacute;fini"></span></a>
						<a href="javascript:void(0)"><span class="icon-syndicate medium white" title="Syndication de flux RSS"></span></a>
						<a href="javascript:void(0)"><span class="icon-twitter medium white" title="Partager sur Twitter"></span></a>
						<a href="javascript:void(0)"><span class="icon-facebook medium white" title="Partager sur Facebook"></span></a>
						<a href="javascript:void(0)"><span class="icon-googleplus medium white" title="Partager sur Google+"></span></a>
						<a href="javascript:void(0)"><span class="icon-tumblr medium white" title="Partager sur Tumblr"></span></a>
						<a href="javascript:void(0)"><span class="icon-linkedin medium white" title="Partager sur LinkedIn"></span></a>
						<a href="javascript:void(0)"><span class="icon-pinterest medium white" title="Tagguer sur Pinterest"></span></a>
						<a href="javascript:void(0)"><span class="icon-stumbleupon medium white" title="Tagguer sur StumbleUpon"></span></a>
					</div>
					<h5 class="red">Petit</h5>
					<div class="panel">
						<a href="javascript:void(0)"><span class="icon-left small" title="Fl&egrave;che gauche"></span></a>
						<a href="javascript:void(0)"><span class="icon-right small" title="Fl&egrave;che droite"></span></a>
						<a href="javascript:void(0)"><span class="icon-up small" title="Fl&egrave;che haut"></span></a>
						<a href="javascript:void(0)"><span class="icon-down small" title="Fl&egrave;che bas"></span></a>
						<a href="javascript:void(0)"><span class="icon-show small" title="Voir"></span></a>
						<a href="javascript:void(0)"><span class="icon-hide small" title="Masquer"></span></a>
						<a href="javascript:void(0)"><span class="icon-expand small" title="D&eacute;rouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-collapse small" title="Enrouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-home small" title="Accueil"></span></a>
						<a href="javascript:void(0)"><span class="icon-search small" title="Rechercher"></span></a>
						<a href="javascript:void(0)"><span class="icon-mail small" title="Contact"></span></a>
						<a href="javascript:void(0)"><span class="icon-link small" title="Lien"></span></a>
						<a href="javascript:void(0)"><span class="icon-brightness small" title="Contraste"></span></a>
						<a href="javascript:void(0)"><span class="icon-textinc small" title="Texte plus grand"></span></a>
						<a href="javascript:void(0)"><span class="icon-textdec small" title="Texte plus petit"></span></a>
						<a href="javascript:void(0)"><span class="icon-print small" title="Imprimer"></span></a>
						<a href="javascript:void(0)"><span class="icon-article small" title="Article"></span></a>
						<a href="javascript:void(0)"><span class="icon-author small" title="Auteur"></span></a>
						<a href="javascript:void(0)"><span class="icon-date small" title="Date"></span></a>
						<a href="javascript:void(0)"><span class="icon-tag small" title="Tag"></span></a>
						<a href="javascript:void(0)"><span class="icon-comment small" title="Commenter"></span></a>
						<a href="javascript:void(0)"><span class="icon-reply small" title="R&eacute;pondre"></span></a>
						<a href="javascript:void(0)"><span class="icon-edit small" title="&Eacute;diter"></span></a>
						<a href="javascript:void(0)"><span class="icon-alert small" title="Signaler"></span></a>
						<a href="javascript:void(0)"><span class="icon-rubric small" title="Rubrique"></span></a>
						<a href="javascript:void(0)"><span class="icon-struggles small" title="Luttes"></span></a>
						<a href="javascript:void(0)"><span class="icon-ourbody small" title="Nos corps, nous-m&ecirc;mes"></span></a>
						<a href="javascript:void(0)"><span class="icon-intersec small" title="Intersectionnalit&eacute;"></span></a>
						<a href="javascript:void(0)"><span class="icon-internat small" title="International"></span></a>
						<a href="javascript:void(0)"><span class="icon-educult small" title="&Eacute;ducation & Culture"></span></a>
						<a href="javascript:void(0)"><span class="icon-ideas small" title="Id&eacute;es"></span></a>
						<a href="javascript:void(0)"><span class="icon-undefined small" title="Non d&eacute;fini"></span></a>
						<a href="javascript:void(0)"><span class="icon-syndicate small" title="Syndication de flux RSS"></span></a>
						<a href="javascript:void(0)"><span class="icon-twitter small" title="Partager sur Twitter"></span></a>
						<a href="javascript:void(0)"><span class="icon-facebook small" title="Partager sur Facebook"></span></a>
						<a href="javascript:void(0)"><span class="icon-googleplus small" title="Partager sur Google+"></span></a>
						<a href="javascript:void(0)"><span class="icon-tumblr small" title="Partager sur Tumblr"></span></a>
						<a href="javascript:void(0)"><span class="icon-linkedin small" title="Partager sur LinkedIn"></span></a>
						<a href="javascript:void(0)"><span class="icon-pinterest small" title="Tagguer sur Pinterest"></span></a>
						<a href="javascript:void(0)"><span class="icon-stumbleupon small" title="Tagguer sur StumbleUpon"></span></a>
					</div>
					<div class="alert-box secondary">
						<a href="javascript:void(0)"><span class="icon-left small white" title="Fl&egrave;che gauche"></span></a>
						<a href="javascript:void(0)"><span class="icon-right small white" title="Fl&egrave;che droite"></span></a>
						<a href="javascript:void(0)"><span class="icon-up small white" title="Fl&egrave;che haut"></span></a>
						<a href="javascript:void(0)"><span class="icon-down small white" title="Fl&egrave;che bas"></span></a>
						<a href="javascript:void(0)"><span class="icon-show small white" title="Voir"></span></a>
						<a href="javascript:void(0)"><span class="icon-hide small white" title="Masquer"></span></a>
						<a href="javascript:void(0)"><span class="icon-expand small white" title="D&eacute;rouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-collapse small white" title="Enrouler"></span></a>
						<a href="javascript:void(0)"><span class="icon-home small white" title="Accueil"></span></a>
						<a href="javascript:void(0)"><span class="icon-search small white" title="Rechercher"></span></a>
						<a href="javascript:void(0)"><span class="icon-mail small white" title="Contact"></span></a>
						<a href="javascript:void(0)"><span class="icon-link small white" title="Lien"></span></a>
						<a href="javascript:void(0)"><span class="icon-brightness small white" title="Contraste"></span></a>
						<a href="javascript:void(0)"><span class="icon-textinc small white" title="Texte plus grand"></span></a>
						<a href="javascript:void(0)"><span class="icon-textdec small white" title="Texte plus petit"></span></a>
						<a href="javascript:void(0)"><span class="icon-print small white" title="Imprimer"></span></a>
						<a href="javascript:void(0)"><span class="icon-article small white" title="Article"></span></a>
						<a href="javascript:void(0)"><span class="icon-author small white" title="Auteur"></span></a>
						<a href="javascript:void(0)"><span class="icon-date small white" title="Date"></span></a>
						<a href="javascript:void(0)"><span class="icon-tag small white" title="Tag"></span></a>
						<a href="javascript:void(0)"><span class="icon-comment small white" title="Commenter"></span></a>
						<a href="javascript:void(0)"><span class="icon-reply small white" title="R&eacute;pondre"></span></a>
						<a href="javascript:void(0)"><span class="icon-edit small white" title="&Eacute;diter"></span></a>
						<a href="javascript:void(0)"><span class="icon-alert small white" title="Signaler"></span></a>
						<a href="javascript:void(0)"><span class="icon-rubric small white" title="Rubrique"></span></a>
						<a href="javascript:void(0)"><span class="icon-struggles small white" title="Luttes"></span></a>
						<a href="javascript:void(0)"><span class="icon-ourbody small white" title="Nos corps, nous-m&ecirc;mes"></span></a>
						<a href="javascript:void(0)"><span class="icon-intersec small white" title="Intersectionnalit&eacute;"></span></a>
						<a href="javascript:void(0)"><span class="icon-internat small white" title="International"></span></a>
						<a href="javascript:void(0)"><span class="icon-educult small white" title="&Eacute;ducation & Culture"></span></a>
						<a href="javascript:void(0)"><span class="icon-ideas small white" title="Id&eacute;es"></span></a>
						<a href="javascript:void(0)"><span class="icon-undefined small white" title="Non d&eacute;fini"></span></a>
						<a href="javascript:void(0)"><span class="icon-syndicate small white" title="Syndication de flux RSS"></span></a>
						<a href="javascript:void(0)"><span class="icon-twitter small white" title="Partager sur Twitter"></span></a>
						<a href="javascript:void(0)"><span class="icon-facebook small white" title="Partager sur Facebook"></span></a>
						<a href="javascript:void(0)"><span class="icon-googleplus small white" title="Partager sur Google+"></span></a>
						<a href="javascript:void(0)"><span class="icon-tumblr small white" title="Partager sur Tumblr"></span></a>
						<a href="javascript:void(0)"><span class="icon-linkedin small white" title="Partager sur LinkedIn"></span></a>
						<a href="javascript:void(0)"><span class="icon-pinterest small white" title="Tagguer sur Pinterest"></span></a>
						<a href="javascript:void(0)"><span class="icon-stumbleupon small white" title="Tagguer sur StumbleUpon"></span></a>
					</div>
					<h4 class="subheader">Int&eacute;gration</h4>
					<ol>
						<li>Ceci est une ic&ocirc;ne&#8239;: <span class="icon-home"></span></li>
						<li>Cette ic&ocirc;ne est un lien&#8239;: <a href="javascript:void(0)" class="icon-home"></span></a></li>
						<li>Ceci est <a href="javascript:void(0)">un lien avec <span class="icon-home inside"></span>une ic&ocirc;ne &agrave; l&rsquo;int&eacute;rieur.</a></li>
						<li>Cela est <a href="javascript:void(0)"><span class="icon-home before"></span>un lien pr&eacute;c&eacute;d&eacute; d&rsquo;une ic&ocirc;ne.</a></li>
						<li>Cela est <a href="javascript:void(0)">un lien suivi d&rsquo;une ic&ocirc;ne.<span class="icon-home after"></span></a></li>
						<li>Cette ic&ocirc;ne est un lien actif&#8239;: <a href="javascript:void(0)" class="icon-home active"></span></a> &rarr; <code>.active</code></li>
						<li>Ceci est <a href="javascript:void(0)" class="active">un lien actif avec <span class="icon-home inside"></span>une ic&ocirc;ne &agrave; l&rsquo;int&eacute;rieur.</a> &rarr; <code>.active</code></li>
						<li>Cette ic&ocirc;ne est un lien vers la page actuelle&#8239;: <a href="javascript:void(0)" class="icon-home current"></span></a> &rarr; <code>.current</code></li>
						<li>Ceci est <a href="javascript:void(0)" class="current">un lien vers la page actuelle avec <span class="icon-home inside"></span>une ic&ocirc;ne &agrave; l&rsquo;int&eacute;rieur.</a> &rarr; <code>.current</code></li>
						<li>Cette ic&ocirc;ne est un lien d&eacute;sactiv&eacute;&#8239;: <a href="javascript:void(0)" class="icon-home  disabled"></span></a> &rarr; <code>.disabled</code></li>
						<li>Ceci est <a href="javascript:void(0)" class="disabled">un lien d&eacute;sactiv&eacute; avec <span class="icon-home inside"></span>une ic&ocirc;ne &agrave; l&rsquo;int&eacute;rieur.</a> &rarr; <code>.disabled</code></li>
						<li>Cette ic&ocirc;ne est un lien indisponible&#8239;: <a href="javascript:void(0)" class="icon-home unavailable"></span></a> &rarr; <code>.unavailable</code></li>
						<li>Ceci est <a href="javascript:void(0)" class="unavailable">un lien indisponible avec <span class="icon-home inside"></span>une ic&ocirc;ne &agrave; l&rsquo;int&eacute;rieur.</a> &rarr; <code>.unavailable</code></li>
					</ol>
					<!--Media Support-->
					<h3>M&eacute;dias</h3>
					<h4 class="subheader">Images utilisatrices <small>.picture</small></h4>
					<h5 class="red">Taille</h5>
					<div>
						<figure class="text-center">
							<span class="picture huge" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>&Eacute;norme</figcaption>
						</figure>
						<figure class="text-center">
							<span class="picture large" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Grand</figcaption>
						</figure>
						<figure class="text-center">
							<span class="picture medium" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Normal</figcaption>
						</figure>
						<figure class="text-center">
							<span class="picture small" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Petit</figcaption>
						</figure>
						<figure class="text-center">
							<span class="picture tiny" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Minuscule</figcaption>
						</figure>
					</div>
					<h5 class="red">Forme</h5>
					<div>
						<figure class="text-center">
							<span class="picture medium" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Normal</figcaption>
						</figure>
						<figure class="text-center">
							<span class="picture medium radius" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Arrondi</figcaption>
						</figure>
						<figure class="text-center">
							<span class="picture medium round" data-image="usr/usr-diana.jpg">Diana</span>
							<figcaption>Rond</figcaption>
						</figure>
					</div>
					<!--Clearing-->
					<h4 class="subheader">Thumbnails <small>.th</small></h4>
					<ul class="clearing-thumbs text-center" data-clearing>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/d/d6/Suffragettes_meeting%2C_Rue_Montmartre%2C_Paris%2C_1914.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/d/d6/Suffragettes_meeting%2C_Rue_Montmartre%2C_Paris%2C_1914.jpg"
									data-caption="Manifestation f&eacute;ministe Rue Montmartre, Paris, 29 mars 1914, BNF, Agence ROL"
									alt="Suffragettes meeting, Rue Montmartre, Paris, 1914">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/3/39/Etats_g%C3%A9n%C3%A9raux_du_f%C3%A9minisme_1929.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/3/39/Etats_g%C3%A9n%C3%A9raux_du_f%C3%A9minisme_1929.jpg"
									data-caption="Photographie des d&eacute;l&eacute;gu&eacute;es aux &Eacute;tats g&eacute;n&eacute;raux du f&eacute;minisme organis&eacute; par le Conseil national des femmes fran&ccedil;aises, Paris, 1929, Revue mondaine illustr&eacute;e"
									alt="&Eacute;tats g&eacute;n&eacute;raux du f&eacute;minisme, Paris, 1929">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/f/fd/Betty_Friedan_1960.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/f/fd/Betty_Friedan_1960.jpg"
									data-caption="Betty Friedan, 1960, Library of Congress, New York World-Telegram & Sun Collection, Fred Palumbo"
									alt="Betty Friedan, 1960">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/4/4b/ProChoiceRally-DC-11-12-1989.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/4/4b/ProChoiceRally-DC-11-12-1989.jpg"
									data-caption="Activists at major Pro-Choice Rally, Washington DC, 1989 November 12<sup>th</sup>, Carolmooredc"
									alt="Pro-Choice Rally, Washington DC, 1989">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/1/1b/Equal_pay_day_Leuven_26.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/1/1b/Equal_pay_day_Leuven_26.jpg"
									data-caption="Equal Pay Day actions, Leuven, 2007 March 30<sup>th</sup>, Steven Fruitsmaak"
									alt="Equal Pay Day, Leuven, 2007">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/4/40/Stop_Harrassment_Now_%281294977313%29.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/4/40/Stop_Harrassment_Now_%281294977313%29.jpg"
									data-caption="Abortion protester in front of the Richmond Women&rsquo;s Medical Center, Boulevard Richmond Virginia, 2007 September 1<sup>st</sup>, Taber Andrew Bain"
									alt="Stop Harrassment Now, Richmond Virginia, 2007">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/b/bc/Etats_G%C3%A9n%C3%A9raux_de_la_Femme_2010_Elle.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/b/bc/Etats_G%C3%A9n%C3%A9raux_de_la_Femme_2010_Elle.jpg"
									data-caption="Quatri&egrave;me Table Ronde des &Eacute;tats G&eacute;n&eacute;raux de la Femme avec Jeannette Bougrab (au centre), Kahina Benziane (&agrave; droite) et Val&eacute;rie Toranian (&agrave; gauche), Paris, 7 mai 2010, Katja"
									alt="&Eacute;tats G&eacute;n&eacute;raux de la Femme, Paris, 2010">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/5/50/Pat_Kernighan%2C_Nate_Miley%2C_Libby_Schaaf_commemorating_the_centennial_of_women_gaining_the_right_to_vote_in_California.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/50/Pat_Kernighan%2C_Nate_Miley%2C_Libby_Schaaf_commemorating_the_centennial_of_women_gaining_the_right_to_vote_in_California.jpg"
									data-caption="Suffrage Parade commemorating the centennial of women gaining the right to vote in California with Council member Pat Kernighan (left), Alameda County Supervisor Nate Miley (center) and Council member Libby Schaaf (right), Oakland California, 2011 October 2<sup>nd</sup>, Jim Ratliff"
									alt="Suffrage Parade commemorating the centennial of women gaining the right to vote in California, Oakland California, 2011">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/f/f8/Femen_%287036756577%29_%282%29.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/f/f8/Femen_%287036756577%29_%282%29.jpg"
									data-caption="Femen &agrave; Paris, 31 mars 2012, Joseph Paris"
									alt="Femen &agrave; Paris, Paris, 2012">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/8/85/Manif_pour_tous_13012013_030.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/8/85/Manif_pour_tous_13012013_030.jpg"
									data-caption="Orateur &agrave; la manifestation contre le projet de loi ouvrant le mariage aux couples de personnes de m&ecirc;me sexe, Paris, 13 janvier 2013, Ericwaltr"
									alt="Manif pour tous, Paris, 2013">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/2/25/F%C3%A9ministes_et_lesbiennes_contre_le_fascisme_l%27ordre_moral_le_n%C3%A9olib%C3%A9ralisme.jpeg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/2/25/F%C3%A9ministes_et_lesbiennes_contre_le_fascisme_l%27ordre_moral_le_n%C3%A9olib%C3%A9ralisme.jpeg"
									data-caption="Manifestation en faveur du mariage pour tous devant le cort&egrave;ge des f&eacute;ministes et lesbiennes contre le fascisme, l&rsquo;ordre moral [et] le n&eacute;olib&eacute;ralisme, Paris, 27 janvier 2013, Oliver H"
									alt="F&eacute;ministes et lesbiennes contre le fascisme l&rsquo;ordre moral [et] le n&eacute;olib&eacute;ralisme, Paris, 2013">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/a/af/Intl_women%27s_day_protestor_brazil_pro_choice.jpg" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/a/af/Intl_women%27s_day_protestor_brazil_pro_choice.jpg"
									data-caption="International Women&rsquo;s Day feminist pro-choice protestors on church steps, Brazil, 2013 May 19<sup>th</sup>, camilagarcia"
									alt="International Women&rsquo;s Day pro-choice protestors, Brazil, 2013">
							</a>
						</li>
						<li>
							<a href="http://upload.wikimedia.org/wikipedia/commons/2/2a/HOMMEN_Lyon_2_f%C3%A9vrier_LMPT.JPG" class="th radius medium">
								<img src="http://upload.wikimedia.org/wikipedia/commons/2/2a/HOMMEN_Lyon_2_f%C3%A9vrier_LMPT.JPG"
									data-caption="Activistes du HOMMEN s&rsquo;opposant &agrave; la th&eacute;orie du genre, au mariage pour tous et &agrave; la PMA/GPA, Lyon, 2 f&eacute;vrier 2014, Jean30081992"
									alt="HOMMEN &agrave; La Manif Pour Tous, Lyon, 2014">
							</a>
						</li>
					</ul>
					<!--Flex Video-->
					<h4 class="subheader">Vid&eacute;os int&eacute;gr&eacute;es <small>.flex-video</small></h4>
					<div class="flex-video">
						<iframe width="420" height="315" src="http://www.youtube.com/embed/L08LuN4Oo_Y?rel=0" allowfullscreen></iframe>
					</div>