				{{## def.item: args: {{= file_pool.article_item_tmpl(args)}} #}}
				<!--Articles-->
				<section id="articles">
					<!--Draft articles list-->
					<ul id="articles_draft" class="article-list draft">
						{{~ data.drafts :params }}
							{{# def.item:params }}
						{{~}}
					</ul>
					<!--Standby articles list-->
					<ul id="articles_standby" class="article-list standby">
						{{~ data.toCheck :params }}
							{{# def.item:params }}
						{{~}}
					</ul>
					<!--Published articles list-->
					<ul id="articles_publish" class="article-list online">
						{{~ data.onLine :params }}
							{{# def.item:params }}
						{{~}}
					</ul>
					<!--Publishing box-->
					<div id="publishing_box" class="send-box publish" style="display: none;">
						<a href="javascript:void(0)" class="close right"></a>
						<label for="publish_day">Date de publication</label>
						<div style="margin: .5rem 0 .75rem;">
							<select id="publishing_day" style="width: 3.5rem;"></select>
							<select id="publishing_month" style="width: 7rem;"></select>
							<select id="publishing_year" style="width: 4.5rem;"></select>
							<select id="publishing_hour" style="width: 5rem;"></select>
							<button class="icon-confirm success tiny right" style="margin: .125rem 0 0"></button>
						</div>
					</div>
				</section>