				<!--Write Article-->
				<section id="article_editor">

					<form method="get" accept-charset="utf-8" autocomplete="off" novalidate>

						<fieldset class="important">
							<legend>Publication</legend>

							<!--Title-->
							<label for="title">Titre de l&rsquo;article <small class="red">*</small></label>
							<input id="title" type="text" class="validation-icon" placeholder="Le titre de l&rsquo;article (p. ex. &ldquo;L&rsquo;&eacute;galit&eacute; entre les sexes, une question plus que jamais d&rsquo;actualit&eacute;&ldquo;)"
								value="{{= data.title}}"></input>
							<small id="titleError" class="error hide">Ce titre est d&eacute;j&agrave; pris</small>

							<!--Summary-->
							<div>
								<label for="summary">R&eacute;sum&eacute; <small class="red">*</small></label>
								<textarea id="summary" class="validation-icon tiny" maxlength="1000" placeholder="Une br&egrave;ve description de l&rsquo;article pour le r&eacute;f&eacute;rencement (1000 caract&egrave;res maximum)">{{= data.description}}</textarea>
								<small id="summaryError" class="error hide">La saisie du r&eacute;sum&eacute; est obligatoire</small>
							</div>
							
							<!--Author-->
							<p class="text-right">Par {{= window.localStorage.getItem($oursesUserPseudo)}}</p>
						</fieldset>

						<fieldset>
							<legend>Indexation</legend>

							<!--Rubric-->
							<label for="rubric">Rubrique <small class="red">*</small></label>
							<div id="rubric" class="options-select validation-icon" tabindex="0">
								<span class="select"><span class="text-silver">Veuillez indiquer la rubrique de l&rsquo;article</span></span>
								<ul class="options hide">
								</ul>
							</div>
							<small id="rubricError" class="error hide">La saisie de la rubrique est obligatoire</small>

							<!--Category-->
							<label for="category">Cat&eacute;gorie <small class="red">*</small></label>
							<div id="category" class="options-select validation-icon" tabindex="0">
								<span class="select"><span class="text-silver">Veuillez choisir une une cat&eacute;gorie d&rsquo;article</span></span>
								<ul class="options hide">
								</ul>
							</div>
							<small id="categoryError" class="error hide">La saisie de la cat&eacute;gorie est obligatoire</small>

							<!--Tags-->
							<div class="row collapse">
								<div class="column">
									<label for="tag">Tags</label>
								</div>
								<div class="column small-9">
									<input id="tag" class="validation-icon" type="text" placeholder="Une &eacute;tiquette au choix pour indexer l&rsquo;article (32 caract&egrave;res maximum)" maxlength="32">
									<small id="tag_error" class="error hide">Ce tag est déjà pris !</small>
								</div>
								<div class="column small-3">
									<input id="tag_add" type="button" value="Ajouter" href="javascript:void(0)" class="button postfix">
								</div>
							</div>
							<dl id="tags" class="tags inline-list clearfix" {{?  data.tags.length === 0 }}style="display: none;"{{?}}>
								<dt><span class="icon-tag small" title="Tags">Tags</span></dt>
								<dd class="hide"><span id="tag_rubric" class="label radius">&hellip;</span></dd>
								<dd class="hide"><span id="tag_category" class="label radius inverse">&hellip;</span></dd>
								{{~  data.tags : tag }}
									<dd data-alert="" data-tag=""><span class="label radius">{{= tag.tag}}<a href="javascript:void(0)" class="close"></a></span></dd>
								{{~ }}
							</dl>

						</fieldset>

						<!--CK Editor-->
						<textarea id="editor" >{{= data.body}}</textarea>
						<small id="editorError" class="error hide">La saisie du corps de l&rsquo;article est obligatoire</small>

						<!--Validation Buttons-->
						<div class="text-center" style="margin-top: 1rem;">
							<input id="saveButton" class="button tip-top" type="button" value="Enregistrer" title="Mettre l&rsquo;article de c&ocirc;t&eacute; pour le modifier plus tard" data-tooltip data-options="disable_for_touch:true">
						</div>

					</form>

				</section>