				<!--Write Article-->
				<section id="article_editor">

					<form method="get" accept-charset="utf-8" autocomplete="off" novalidate>

						<fieldset class="important">
							<legend>Publication</legend>

							<!--Title-->
							<label for="title">Titre de l&rsquo;article</label>
							<input id="title" type="text" placeholder="Le titre de l&rsquo;article (p. ex. &ldquo;L&rsquo;&eacute;galit&eacute; entre les sexes, une question plus que jamais d&rsquo;actualit&eacute;&ldquo;)">

							<!--Date-->
							<label for="date">Date de publication pr&eacute;visionnelle</label>
							<div class="row collapse">
								<div class="column small-4">
									<input id="date" type="text" placeholder="JJ/MM/AAAA">
								</div>
								<div class="column small-8">
									<span id="date_literal" class="postfix">&hellip;</span>
								</div>
							</div>

							<!--Author-->
							<label for="author">R&eacute;dactrice</label>
							<input id="author" type="text" disabled value="{{= window.localStorage.getItem($oursesUserPseudo) !== null ? window.localStorage.getItem($oursesUserPseudo) : 'Les Ourses &agrave; plumes' }}" >

							<!--Status-->
							<label for="status">Statut</label>
							<!--
							<select id="status" disabled>
								<option selected>Brouillon</option>
								<option>En attente de validation</option>
								<option>En ligne</option>
							</select>
							-->
						<div class="options-select" tabindex="0">
							<span id="status" class="select"><span class="text-silver">&hellip;</span></span>
							<ul class="options hide">
								<li class="selected">Brouillon</li>
								<li class="disabled">&Agrave; valider</li>
								<li class="disabled">En ligne</li>
							</ul>
						</div>

						</fieldset>

						<fieldset>
							<legend>Ind&eacute;xation</legend>

							<!--Summary-->
							<div>
								<label for="summary">R&eacute;sum&eacute;</label>
								<textarea id="summary" class="min" maxlength="255" placeholder="Une br&egrave;ve description de l&rsquo;article pour le r&eacute;f&eacute;rencement (255 caract&egrave;res maximum)"></textarea>
							</div>

							<!--Rubric-->
							<label>Rubrique <small class="red">*</small></label>
							<div id="rubric" class="options-select" tabindex="0">
								<span class="select"><span class="text-silver">Veuillez indiquer la rubrique de l&rsquo;article</span></span>
								<ul class="options hide">
									<li data-color="orange"><span class="icon-struggles small" style="margin-right: .25rem;"></span>Luttes</li>
									<li data-color="magenta"><span class="icon-ourbody small" style="margin-right: .25rem;"></span>Nos corps, nous-m&ecirc;mes</li>
									<li data-color="red"><span class="icon-intersec small" style="margin-right: .25rem;"></span>Intersectionnalit&eacute;</li>
									<li data-color="blue"><span class="icon-internat small" style="margin-right: .25rem;"></span>International</li>
									<li data-color="cyan"><span class="icon-educult small" style="margin-right: .25rem;"></span>&Eacute;ducation & Culture</li>
									<li data-color="yellow"><span class="icon-ideas small" style="margin-right: .25rem;"></span>Id&eacute;es</li>
								</ul>
							</div>

							<!--Category-->
							<label>Cat&eacute;gorie <small class="red">*</small></label>
							<div id="category" class="options-select" tabindex="0">
								<span class="select"><span class="text-silver">Veuillez choisir une une cat&eacute;gorie d&rsquo;article</span></span>
								<ul class="options hide">
									<li>Br&egrave;ve</li>
									<li>Reportage</li>
									<li>Dossier</li>
									<li>Spotlight</li>
									<li>Interview</li>
									<li>Tribune</li>
									<li>Revue du web</li>
								</ul>
							</div>

							<!--Tags-->
							<div class="row collapse">
								<div class="column">
									<label for="tag">Tags</label>
								</div>
								<div class="column small-9">
									<input id="tag" class="validation-icon" type="text" placeholder="Une &eacute;tiquette au choix pour indexer l&rsquo;article (32 caract&egrave;res maximum)" maxlength="32">
									<small id="tag_error" class="error hide">Ce tag est déjà pris !</small>
								</div>
								<div class="column small-3">
									<input id="tag_add" type="button" value="Ajouter" href="javascript:void(0)" class="button postfix">
								</div>
							</div>
							<dl id="tags" class="tags inline-list clearfix" style="display: none;">
								<dt><span class="icon-tag small" title="Tags">Tags</span></dt>
								<dd class="hide"><span id="tag_rubric" class="label radius">&hellip;</span></dd>
								<dd class="hide"><span id="tag_category" class="label radius inverse">&hellip;</span></dd>
							</dl>

						</fieldset>

						<!--CK Editor-->
						<textarea id="editor"></textarea>

						<!--Validation Buttons-->
						<div class="text-center" style="margin-top: 1rem;">
							<input class="button tip-top" type="button" value="Enregistrer" title="Mettre l&rsquo;article de c&ocirc;t&eacute; pour le modifier plus tard" data-tooltip data-options="disable_for_touch:true">
							<input class="button alert tip-top" type="button" value="Valider" title="Soumettre l&rsquo;article &agrave; la r&eacute;daction pour publication" data-tooltip data-options="disable_for_touch:true">
						</div>

					</form>

				</section>