				<!--Error-->
				<section class="">
					<div class="row">
						<div class="column small-10 medium-8 large-6 small-centered text-center">
							<div class="alert-box alert radius text-center" data-alert>
								<h2>Erreur&thinsp;!</h2>
								<a href="javascript:void(0)" class="close"></a>
								<p class="text-center lead">404</p>
								<p class="text-center">La page demand&eacute;e est inacessible ou n&rsquo;existe pas&thinsp;&hellip;</p>
							</div>
						</div>
					</div>
				</section>