				<!--FAQ-->
				<section id="faq">
					<dl id="faq-list" class="faq view">
						{{~ data :params }}
						<dt class="question icon-right small" tabindex="0">
							<span class="text">{{= params.question }}</span>
							<span class="icon-hide vis-tip"></span>
						</dt>
						<dd class="answer" style="display: none;">
							{{= params.answer }}
						</dd>
						{{~}}
					</dl>
					<div class="row" style="margin: 1rem 0; padding-top: .75rem; border-top: .125rem dashed gainsboro;">
						<div class="column small-24 medium-20 medium-push-2 large-16 large-push-4">
							<p class="text-center" style="margin: 0;">Pour toute autre question ou demande de pr&eacute;cision, vous pouvez bien s&ucirc;r nous contacter par <a href="javascript:void(0)" title="Envoyer un courrier &eacute;l&eacute;ctronique &agrave; {{= $org.name}}" rel="contact" data-postmail="{{= $org.mail }}">courrier &eacute;lectronique</a>.</p>
						</div>
					</div>
				</section>