				<!--FAQ-->
				<section id="faq">
					<dl id="faq-list" class="faq view">
						{{~ data :params }}
						<dt class="question icon-right small" tabindex="0">
							<span class="text">{{= params.question }}</span>
							<span class="icon-hide vis-tip"></span>
						</dt>
						<dd class="answer" style="display: none;">
							{{= params.answer }}
						</dd>
						{{~}}
					</dl>
					<p class="panel callout radius text-center text-large">Pour toute autre question ou demande de pr&eacute;cision, vous pouvez bien s&ucirc;r nous contacter &agrave; par <a href="javascript:void(0)" title="Envoyer un courrier &eacute;l&eacute;ctronique &agrave; {{= $org.name}}" rel="contact" data-postmail="{{= $org.mail }}">courrier &eacute;lectronique</a>.</p>
				</section>