				<hr class="hide">
				<!--Footer-->
				<footer class="footer text-center hide-for-print">
					<!--Site Navigation-->
					<h2 class="hide">Navigation externe</h2>
					<h3 class="hide">Menu de site</h3>
					<nav class="site-nav">
						<ul>
							<li class="no-bullet"><a href="{{= $org.mail }}" class="icon-mail white bevel no-bg no-current tip-top" title="Nous contacter par mail" data-tooltip><span class="hide">Contact</span></a></li>
							<li class="no-bullet"><a href="{{= $org.twitter }}" class="icon-twitter white bevel no-bg tip-top" title="Nous suivre sur Twitter" data-tooltip><span class="hide">Twitter</span></a></li>
							<li class="no-bullet"><a href="{{= $org.facebook }}" class="icon-facebook white bevel no-bg tip-top" title="Nous rejoindre sur Facebook" data-tooltip><span class="hide">Facebook</span></a></li>
							<li class="no-bullet"><a href="{{= $org.wordpress }}" class="icon-blog white bevel no-bg tip-top" title="L&rsquo;incubateur des Ourses" data-tooltip><span class="hide">Wordpress</span></a></li>
							<li class="no-bullet"><a href="javascript:void(0)" class="icon-newsletter white bevel no-bg disabled tip-top" title="S&rsquo;abonner &agrave; la lettre d&rsquo;information" data-tooltip><span class="hide">Newsletter</span></a></li>
						</ul>
					</nav>
					<!--Copyright-->
					<div class="end-notes"><a href="javascript:void(0)">Nos remerciements</a>, <a href="javascript:void(0)">Conditions d'utilisation</a> et <a href="javascript:void(0)">Politique de confidentialité</a> &copy; 2014 &dash; Les Ourses &agrave; plumes.</div>
				</footer>