				<hr class="hide">
				<!--Footer-->
				<footer class="footer text-center hide-for-print">
					<!--Site Navigation-->
					<h2 class="hide">Navigation externe</h2>
					<h3 class="hide">Menu de site</h3>
					<nav class="site-nav">
						<ul>
							<!--<li><a href="javascript:void(0)" class="disabled">Mentions l&eacute;gales</a></li>-->
							<li class="no-bullet"><a href="mailto:oursesaplumes@gmail.com" class="icon-mail large white no-current">Contact</a></li>
							<li class="no-bullet"><a href="javascript:void(0)" class="icon-twitter large white disabled">Twitter</a></li>
							<li class="no-bullet"><a href="javascript:void(0)" class="icon-facebook large white disabled">Facebook</a></li>
							<li><a href="javascript:void(0)">Newsletter</a></li>
						</ul>
					</nav>
					<!--Copyright-->
					<div class="end-notes"><a href="javascript:void(0)">Nos remerciements</a>, <a href="javascript:void(0)">Conditions d'utilisation</a> et <a href="javascript:void(0)">Politique de confidentialité</a> &copy; 2014 &dash; Les Ourses &agrave; plumes.</div>
				</footer>