		<!---Frame-->
		<div class="frame">
			<!--Nav Pane-->
			<aside id="aside" class="nav-pane text-center hide-for-print">
				<!--Logo-->
				<div class="logo">
					<a href="{{= $nav.home.url }}"><span></span></a>
				</div>
				<!--Main Navigation-->
				<h2 class="hide">Navigation principale</h2>
				<h3 class="hide">Menu principal</h3>
				<h4 class="hide">Sections</h4>
				<nav class="main-nav">
					<ul>
						<li class="home"><a href="{{= $nav.home.url }}" data-current>Accueil</a></li>
						<li><a href="{{= $nav.online_article_list.url }}" data-current>Articles</a></li>
						<li><a href="{{= $nav.agenda.url }}" data-current>Agenda</a></li>
						<li><a href="{{= $nav.faq.url }}" data-current>FAQ</a></li>
						<li class="text-small"><a href="{{= $nav.thanks.url }}" data-current>Remerciements</a></li>
						<li class="text-small"><a href="javascript:void(0)" class="no-current" title="Envoyer un courrier &eacute;l&eacute;ctronique &agrave; {{= $org.name}}" rel="contact" data-postmail="{{= $org.mail }}">Nous contacter</a></li>
					</ul>
				</nav>
			</aside>
			<!--Main Pane-->
			<main id="main" class="main-pane">
				<!--Header-->
				<header class="main-head clearfix hide-for-print">
					<!--Fast Nav-->
					<h5 class="hide">Rubriques</h5>
					<nav class="fast-nav" data-zlider>
						<span class="prev" style="display: none;"><span class="icon-left small left" tabindex="0"></span></span>
						<ul>
							<li class="orange"><a href="/articles?criteria=luttes" data-current>Luttes</a></li>
							<li class="magenta"><a href="/articles?criteria=nos-corps" data-current>Nos corps, nous-m&ecirc;mes</a></li>
							<li class="red"><a href="/articles?criteria=intersectionnalite" data-current>Intersectionnalit&eacute;</a></li>
							<li class="blue"><a href="/articles?criteria=international" data-current>International</a></li>
							<li class="cyan"><a href="/articles?criteria=education-culture" data-current>&Eacute;ducation &amp; Culture</a></li>
							<li class="yellow"><a href="/articles?criteria=idees" data-current>Id&eacute;es</a></li>
						</ul>
						<span class="next" style="display: none;"><span class="icon-right small right" tabindex="0"></span></span>
					</nav>
					<!--User Connect-->
					<div class="user-connect" style="display: none;">
						<p><a id="user_connect" href="javascript:void(0)" class="icon-undefined"><strong class="text connect"></strong></a></p>
					</div>
					<!--Document Title-->
					<div class="orbit-container">
						<ul class="orbit-slides-container">
							<li class="cyan">
								<div class="orbit-headline text-huge">
									<h1>{{= $org.name }}</h1>
									<h4><span class="text-tiny">{{= $app.name + ($app.stage == "dev" ? "&nbsp;" + $app.ver : "") }}</span></h4>
								</div>
							</li>
						</ul>
					</div>
				</header>
				<!--Body-->
				<div class="main-body">
				</div>
				<!--Footer-->
				<footer class="main-foot text-center hide-for-print">
					<!--Subsidiary Navigation-->
					<h2 class="hide">Navigation subsidiaire</h2>
					<h3 class="hide">Menu de site</h3>
					<h4 class="hide">Liens externes</h4>
					<nav class="site-nav">
						<ul>
							<li class="no-bullet"><a href="javascript:void(0)" class="icon-mail white bevel no-bg no-current" title="Envoyer un courrier &eacute;l&eacute;ctronique &agrave; {{= $org.name}}" rel="contact" data-postmail="{{= $org.mail }}"><span class="hide">Contact</span></a></li>
							<li class="no-bullet"><a href="{{= $org.twitter }}" class="icon-twitter white bevel no-bg" title="Nous suivre sur Twitter"><span class="hide">Twitter</span></a></li>
							<li class="no-bullet"><a href="{{= $org.facebook }}" class="icon-facebook white bevel no-bg" title="Nous rejoindre sur Facebook"><span class="hide">Facebook</span></a></li>
							<li class="no-bullet"><a href="{{= $org.wordpress }}" class="icon-blog white bevel no-bg" title="L&rsquo;incubateur des Ourses"><span class="hide">Wordpress</span></a></li>
							<li class="no-bullet{{= $app.stage == 'rtw' ? ' hide' : ''}}"><a href="javascript:void(0)" class="icon-newsletter white bevel no-bg disabled" title="S&rsquo;abonner &agrave; la lettre d&rsquo;information"><span class="hide">Newsletter</span></a></li>
						</ul>
					</nav>
					<!--Legal Notes-->
					<h4 class="hide">Informations juridiques</h4>
					<nav class="legal-nav">
						<ul>
							<li><a href="{{= $nav.legal_notice.url }}" data-current>Mentions l&eacute;gales</a></li>
							<li><a href="{{= $nav.terms_of_use.url }}" data-current>Conditions d&rsquo;utilisation</a></li>
							<li><a href="{{= $nav.privacy_policy.url }}" data-current>Politique de confidentialit&eacute;</a></li>
						</ul>
					</nav>
					<!--Copyright-->
					<p class="copyright">Les Ourses &agrave; plumes &copy; 2014 &ndash; 2015 </p>
				</footer>
			</main>
		</div>