		<!---Frame-->
		<div class="frame">
			<!--Nav Pane-->
			<aside id="aside" class="nav-pane text-center hide-for-print">
				<!--Logo-->
				<div class="logo">
					<a href="{{= $nav.home.url }}"><span></span></a>
				</div>
				<!--Main Navigation-->
				<h2 class="hide">Navigation interne</h2>
				<h3 class="hide">Menu principal</h3>
				<h4 class="hide">Sections</h4>
				<nav class="main-nav">
					<ul>
						<li><a href="{{= $nav.online_article_list.url }}">Articles</a></li>
						<li><a href="{{= $nav.agenda.url }}">Agenda</a></li>
						<li><a href="{{= $nav.faq.url }}">FAQ</a></li>
						<li{{ if ($app.stage == "rtw") { out += " class='hide'"} }}><a href="javascript:void(0)" class="disabled">Nos copines</a></li>
						<li><a href="mailto:oursesaplumes@gmail.com" class="no-current">Nous contacter</a></li>
					</ul>
				</nav>
			</aside>
			<!--Main Pane-->
			<main id="main" class="main-pane">
				<!--Header-->
				<header class="header clearfix hide-for-print">
					<!--Fast Nav-->
					<h5 class="hide">Rubriques</h5>
					<nav class="fast-nav" data-zlider>
						<div class="prev" style="display: none;">
							<a href="javascript:void(0)" class="icon-left small left"></a><span class="hide">Pr&eacute;c&eacute;dent</span>
						</div>
						<ul>
							<li class="orange"><a href="/articles?criteria=luttes">Luttes</a></li>
							<li class="magenta"><a href="/articles?criteria=nos-corps">Nos corps, nous-m&ecirc;mes</a></li>
							<li class="red"><a href="/articles?criteria=intersectionnalité">Intersectionnalit&eacute;</a></li>
							<li class="blue"><a href="/articles?criteria=international">International</a></li>
							<li class="cyan"><a href="/articles?criteria=éducation-culture">&Eacute;ducation &amp; Culture</a></li>
							<li class="yellow"><a href="/articles?criteria=idées">Id&eacute;es</a></li>
						</ul>
						<div class="next" style="display: none;">
							<a href="javascript:void(0)" class="icon-right small right"></a><span class="hide">Suivant</span>
						</div>
					</nav>
					<!--User Connect-->
					<div class="user-connect right" style="display: none;">
						<p><a id="user_connect" href="javascript:void(0)" class="icon-connect tip-left" title="S&rsquo;identifier" data-tooltip><strong class="hide">Connexion</strong></a></p>
					</div>
					<!--Document Title-->
					<div class="orbit-container">
						<ul class="orbit-slides-container">
							<li class="cyan">
								<div class="orbit-headline text-center text-huge">
									<h1>{{= $org.name }}</h1>
									<h4><span class="text-tiny">{{= $app.name + ($app.stage == "dev" ? "&nbsp;" + $app.ver : "") }}</span></h4>
								</div>
							</li>
						</ul>
					</div>
				</header>
				<!--Footer-->
				<footer class="footer text-center hide-for-print">
					<!--Site Navigation-->
					<h2 class="hide">Navigation externe</h2>
					<h3 class="hide">Menu de site</h3>
					<nav class="site-nav">
						<ul>
							<li class="no-bullet"><a href="{{= $org.mail }}" class="icon-mail white bevel no-bg no-current tip-top" title="Nous contacter par mail" data-tooltip><span class="hide">Contact</span></a></li>
							<li class="no-bullet"><a href="{{= $org.twitter }}" class="icon-twitter white bevel no-bg tip-top" title="Nous suivre sur Twitter" data-tooltip><span class="hide">Twitter</span></a></li>
							<li class="no-bullet"><a href="{{= $org.facebook }}" class="icon-facebook white bevel no-bg tip-top" title="Nous rejoindre sur Facebook" data-tooltip><span class="hide">Facebook</span></a></li>
							<li class="no-bullet"><a href="{{= $org.wordpress }}" class="icon-blog white bevel no-bg tip-top" title="L&rsquo;incubateur des Ourses" data-tooltip><span class="hide">Wordpress</span></a></li>
							<li class="no-bullet"><a href="javascript:void(0)" class="icon-newsletter white bevel no-bg disabled tip-top" title="S&rsquo;abonner &agrave; la lettre d&rsquo;information" data-tooltip><span class="hide">Newsletter</span></a></li>
						</ul>
					</nav>
					<!--Copyright-->
					<div class="end-notes"><a href="javascript:void(0)">Nos remerciements</a>, <a href="javascript:void(0)">Conditions d&rsquo;utilisation</a> et <a href="javascript:void(0)">Politique de confidentialit&eacute;</a> &copy; 2014 &dash; Les Ourses &agrave; plumes.</div>
				</footer>
			</main>
		</div>