				<!--Header-->
				<header class="header clearfix hide-for-print">

					<!--Fast Nav-->
					<h5 class="hide">Rubriques</h5>
					<nav class="fast-nav" data-zlider style="display: inline-block; margin-left: .5rem;">
						<div class="prev" style="display: none;">
							<a href="javascript:void(0)" class="icon-left small left"></a><span class="hide">Pr&eacute;c&eacute;dent</span>
						</div>
						<ul>
							<li class="orange"><a href="/articles?rubrique=luttes">Luttes</a></li>
							<li class="magenta"><a href="/articles?rubrique=nos-corps">Nos corps, nous-m&ecirc;mes</a></li>
							<li class="red"><a href="/articles?rubrique=intersectionnalité">Intersectionnalit&eacute;</a></li>
							<li class="blue"><a href="/articles?rubrique=international">International</a></li>
							<li class="cyan"><a href="/articles?rubrique=éducation-culture">&Eacute;ducation &amp; Culture</a></li>
							<li class="yellow"><a href="/articles?rubrique=idées">Id&eacute;es</a></li>
						</ul>
						<div class="next" style="display: none;">
							<a href="javascript:void(0)" class="icon-right small right"></a><span class="hide">Suivant</span>
						</div>
					</nav>

					<!--User Connect-->
					<div class="user-connect right" style="display: none;">
						<p><a id="user_connect" href="javascript:void(0)" class="icon-connect tip-left" title="S&rsquo;identifier" data-tooltip><strong class="hide">Connexion</strong></a></p>
					</div>

					<!--Breadcrumbs-->
					<!--
					<h4 class="hide">Fil d&rsquo;Ariane</h4>
					<ul class="breadcrumbs">
						<li class="unavailable">Les Ourses &agrave; plumes</li>
					</ul>
					-->

					<!--Accessibility-->
					<!--
					<h4 class="hide">Accessibilit&eacute;</h4>
					<div class="accessibility">
						<ul class="inline-list">
							<li><a href="javascript:void(0)" class="icon-textinc small"><span class="hide">Augmenter la taille du texte</span></a></li>
							<li><a href="javascript:void(0)" class="icon-textdec small"><span class="hide">R&eacute;duire la taille du texte</span></a></li>
							<li><a href="javascript:print()" class="icon-print small"><span class="hide">Imprimer la page</span></a></li>
						</ul>
					</div>
					-->

					<!--Website Title-->
					<div class="orbit-container">
						<ul class="orbit-slides-container">
							<li class="cyan" style="">
								<div class="orbit-headline text-center text-large">
									<h1>{{= $org.name }}</h1>
									<h5>{{= $app.name + " " + $app.ver }}</h5>
								</div>
							</li>
						</ul>
					</div>

				</header>
