				<!--Header-->
				<header class="header text-center hide-for-print">

					<!--Fast Nav-->
					<h5 class="hide">Rubriques</h5>
					<nav class="fast-nav">
						<ul class="inline-list">
							<li class="orange"><a href="javascript:void(0)" class="disabled">Luttes</a></li>
							<li class="magenta"><a href="javascript:void(0)" class="disabled">Nos corps, nous-m&ecirc;mes</a></li>
							<li class="red"><a href="javascript:void(0)" class="disabled">Intersectionnalit&eacute;</a></li>
							<li class="blue"><a href="javascript:void(0)" class="disabled">International</a></li>
							<li class="cyan"><a href="javascript:void(0)" class="disabled">&Eacute;ducation &amp; Culture</a></li>
							<li class="yellow"><a href="javascript:void(0)" class="disabled">Id&eacute;es</a></li>
						</ul>
						<span class="tip-left" title="S&rsquo;identifier" data-tooltip><a id="user_connect" href="{{= $login_page }}" class="icon-home no-current"><strong class="hide">Connexion</strong></a></span>
					</nav>

					<!--Breadcrumbs-->
					<!--
					<h4 class="hide">Fil d&rsquo;Ariane</h4>
					<ul class="breadcrumbs">
						<li class="unavailable">Les Ourses &agrave; plumes</li>
					</ul>
					-->

					<!--Accessibility-->
					<!--
					<h4 class="hide">Accessibilit&eacute;</h4>
					<div class="accessibility">
						<ul class="inline-list">
							<li><a href="javascript:void(0)" class="icon-textinc small"><span class="hide">Augmenter la taille du texte</span></a></li>
							<li><a href="javascript:void(0)" class="icon-textdec small"><span class="hide">R&eacute;duire la taille du texte</span></a></li>
							<li><a href="javascript:print()" class="icon-print small"><span class="hide">Imprimer la page</span></a></li>
						</ul>
					</div>
					-->

				</header>