				<!--Disclaimer-->
				<section>
					<div class="row">
						<div class="column small-12 medium-6 large-push-1 large-5 text-center">
							<div class="alert-box warning radius text-center" data-alert>
								<h4>Note de version</h4>
								<a href="javascript:void(0)" class="close"></a>
								<p class="text-center">Cette version de l&rsquo;application poursuit des fins d&rsquo;am&eacute;lioration.</p>
								<p class="text-center">En cas de dysfonctionnement, il est conseill&eacute; de proc&eacute;der &agrave; une d&eacute;lation <em>via</em> le formulaire appropri&eacute;. L&rsquo;anonymat est garanti durant la totalit&eacute; de l&rsquo;op&eacute;ration. Tout d&eacute;p&ocirc;t de plainte peut &eacute;galement &ecirc;tre enregistr&eacute; sur la mailing list des d&eacute;veloppeurs.</p>
							</div>
						</div>
						<div class="column small-12 medium-6 large-pull-1 large-5 text-tiny">
							<h4 class="hide">Quoi de neuf&nbsp;?</h4>
							<div class="text-center" style="margin-bottom: .5rem;">
								<a href="javascript:void(0)" id="show_less" class="icon-up small turquoise" style="display: none; width: 100%;"></a>
							</div>
							<ul id="changes_list" class="no-bullet" style="margin-bottom: .5rem;">
								<li><span class="icon-info electricblue small">Les profils sont visibles depuis la liste des comptes.</li>
								<li><span class="icon-info honey small">Les cat&eacute;gories renvoient aux articles qui leur sont li&eacute;s.</li>
								<li><span class="icon-info honey small">Les rubriques renvoient aux articles qui leur sont li&eacute;s.</li>
								<li><span class="icon-info turquoise small">La fonte et la taille des paragraphes ont &eacute;t&eacute; modifi&eacute;es.</li>
								<li><span class="icon-info honey small">Les tags renvoient aux articles taggu&eacute;.</li>
								<li><span class="icon-info electricblue small">Le titre de la page est visible dans la barre de titre du navigateur.</li>
								<li><span class="icon-info electricblue small">La mise &agrave; jour de l&rsquo;image utilisatrice sur le <a href="/parametres/profil">Profil</a> a &eacute;t&eacute; corrig&eacute;e.</li>
								<li><span class="icon-info honey small">Les probl&egrave;mes de migration sur <strong>Heroku</strong> ont &eacute;t&eacute; r&eacute;solus&nbsp;!</li>
								<li><span class="icon-info gingerred small">Le site est en ligne en version 1.0.0&nbsp;!</li>
							</ul>
							<div class="text-center" style="margin-bottom: 1rem;">
								<a href="javascript:void(0)" id="show_more" class="icon-down small turquoise" style="display: none; width: 100%;"></a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column small-12 medium-12 large-10 medium-centered large-centered text-center">
							<div class="alert-box alert radius text-center" data-alert>
								<a href="javascript:void(0)" class="close"></a>
								<p class="text-center lead"><span class="icon-warning small white"></span>Attention&nbsp;!</p>
								<p class="text-center">Un usage prolong&eacute; peut entra&icirc;ner de graves cons&eacute;quences pour le fonctionnement de votre ordinateur&thinsp;: buffer underrun, memory overflow, blue screen of death, halitose, espace disque insuffisant, ice bucket challenge, mail <abbr title="Haute Autorit&eacute; pour la diffusion des &oelig;uvres et la protection des droits sur Internet" style="color: white;">HADOPI</abbr>, etc. Nous vous recommandons vivement de consulter votre informaticien traitant d&egrave;s l&rsquo;apparition des troubles.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column small-12 medium-12 large-10 medium-centered large-centered text-center">
							<p class="text-center text-silver"><em>For those about to rock&hellip;</em> <strong class="hide">We salute you&thinsp;!!!</strong></p>
							<span class="icon large">
								<svg width="0" height="0" viewBox="-50.5 410.5 400 400">
									<use xlink:href="img/svg/html5-400x400px.svg#image"></use>
								</svg>
							</span>
							<span class="icon large">
								<svg width="0" height="0" viewBox="-50.5 410.5 400 400">
									<use xlink:href="img/svg/css3-400x400px.svg#image"></use>
								</svg>
							</span>
							<span class="icon large">
								<svg width="0" height="0" viewBox="62.295 264.625 400 400">
									<use xlink:href="img/svg/jquery-400x400px.svg#image"></use>
								</svg>
							</span>
							<span class="icon large">
								<svg width="0" height="0" viewBox="-74.5 325.5 400 400">
									<use xlink:href="img/svg/foundation5-400x400px.svg#image"></use>
								</svg>
							</span>
						</div>
					</div>
				</section>