				<!--Disclaimer-->
				<section>
					<div class="row">
						<div class="column small-10 medium-8 large-6 small-centered text-center">
							<div class="alert-box warning radius text-center" data-alert>
								<h2>Avertissement</h2>
								<a href="javascript:void(0)" class="close"></a>
								<p class="text-center lead">Version d&rsquo;essai</p>
								<p class="text-center">Ce mod&egrave;le pr&eacute;sente un caract&egrave;re exp&eacute;rimental et de nombreuses corrections sont encore &agrave; apporter avant qu&rsquo;il ne soit d&eacute;finitif.</p>
								<p class="text-center">Attention&nbsp;! Toute modification peut entra&icirc;ner de graves cons&eacute;quences pour le fonctionnement de votre ordinateur : buffer underrun, memory overflow, blue screen of death, halitose, espace disque insuffisant, chaude-pisse, mail <abbr title="Haute Autorit&eacute; pour la diffusion des &oelig;uvres et la protection des droits sur Internet" style="color: white;">HADOPI</abbr>, etc.</p>
								<p class="text-center">Pour toute r&eacute;clamation, veuillez vous adresser &agrave; la r&eacute;ception.</a></p>
							</div>
						</div>
						<div class="column small-12 text-center">
							<img src="img/svg/html5-400x400px.svg" alt="HTML 5" style="width: 64px;" />
							<img src="img/svg/css3-400x400px.svg" alt="CSS 3" style="width: 64px;" />
							<img src="img/svg/jquery-400x400px.svg" alt="jQuery" style="width: 64px;" />
							<img src="img/svg/foundation5-400x400px.svg" alt="Foundation 5" style="width: 64px;" />
						</div>
					</div>
				</section>