				<!--Disclaimer-->
				<section>
					<div class="row">
						<div class="column small-24 medium-8 large-push-2 large-6 text-center">
							<div class="alert-box warning radius text-center">
								<a href="javascript:void(0)" class="close"></a>
								<h4>Note de version</h4>
								<p class="text-center">Cette version de l&rsquo;application poursuit des fins d&rsquo;am&eacute;lioration.</p>
								<p class="text-center">En cas de dysfonctionnement, il est conseill&eacute; de proc&eacute;der &agrave; une d&eacute;lation <em>via</em> le formulaire appropri&eacute;. L&rsquo;anonymat est garanti durant la totalit&eacute; de l&rsquo;op&eacute;ration. Tout d&eacute;p&ocirc;t de plainte peut &eacute;galement &ecirc;tre enregistr&eacute; sur la mailing list des d&eacute;veloppeurs.</p>
							</div>
						</div>
						<div class="column small-24 medium-16 large-pull-2 large-14">
							<h4 class="hide">Quoi de neuf&nbsp;?</h4>
							<style>
								.changes-list {
									position: relative;
									height: 16rem;
									overflow: hidden;
								}
								.changes-list > ul {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
								}
								.changes-list > ul > li {
									height: 2rem;
									line-height: 2rem;
									white-space: nowrap;
								}
								.css-debug .changes-list > ul > li:nth-child(odd) {
									background-color: rgba(0, 255, 0, .25);
								}
								.css-debug .changes-list > ul > li:nth-child(even) {
									background-color: rgba(0, 0, 255, .25);
								}
							</style>
							<div class="text-center" style="margin-bottom: .5rem;">
								<a href="javascript:void(0)" id="show_less" class="icon-up tiny turquoise disabled" style="width: 100%;"></a><span class="hide">Pr&eacute;c&eacute;dent</span>
							</div>
							<div class="changes-list">
								<ul id="changes_list" class="no-bullet text-small">
									<li><span class="icon-info electricblue small">Le panneau d&rsquo;&eacute;dition des tags a &eacute;t&eacute; modifi&eacute;.</li>
									<li><span class="icon-info electricblue small">Le menu utilisateur et l&rsquo;ic&ocirc;ne de connexion ont &eacute;t&eacute; rectifi&eacute;s.</li>
									<li><span class="icon-info turquoise small">La liste des rubriques a &eacute;t&eacute; modifi&eacute;e.</li>
									<li><span class="icon-info firered small">Les <var class="red">zizi</var> errants ont &eacute;t&eacute; supprim&eacute;s.</li>
									<li><span class="icon-info electricblue small">Les profils sont visibles depuis la liste des comptes.</li>
									<li><span class="icon-info honey small">Les cat&eacute;gories renvoient aux articles qui leur sont li&eacute;s.</li>
									<li><span class="icon-info honey small">Les rubriques renvoient aux articles qui leur sont li&eacute;s.</li>
									<li><span class="icon-info turquoise small">La fonte et la taille des paragraphes ont &eacute;t&eacute; modifi&eacute;es.</li>
									<li><span class="icon-info honey small">Les tags renvoient aux articles taggu&eacute;s.</li>
									<li><span class="icon-info electricblue small">Le titre de la page est visible dans la barre de titre du navigateur.</li>
									<li><span class="icon-info electricblue small">La mise &agrave; jour de l&rsquo;image utilisatrice sur le <a href="/parametres/profil">Profil</a> a &eacute;t&eacute; corrig&eacute;e.</li>
									<li><span class="icon-info honey small">Les probl&egrave;mes de migration sur <strong>Heroku</strong> ont &eacute;t&eacute; r&eacute;solus&nbsp;!</li>
									<li><span class="icon-info gingerred small">Le site est en ligne en version 1.0.0&nbsp;!</li>
								</ul>
							</div>
							<div class="text-center" style="margin-top: .5rem; margin-bottom: 1rem;">
								<a href="javascript:void(0)" id="show_more" class="icon-down tiny turquoise disabled" style="width: 100%;"></a><span class="hide">Suivant</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column small-centered  small-24 medium-24 large-20">
							<div class="alert-box alert radius text-center">
								<a href="javascript:void(0)" class="close"></a>
								<p class="text-center lead"><span class="icon-warning small white"></span>Attention&nbsp;!</p>
								<p class="text-center">Un usage prolong&eacute; peut entra&icirc;ner de graves cons&eacute;quences pour le fonctionnement de votre ordinateur&thinsp;: buffer underrun, memory overflow, blue screen of death, halitose, espace disque insuffisant, ice bucket challenge, mail <abbr title="Haute Autorit&eacute; pour la diffusion des &oelig;uvres et la protection des droits sur Internet" style="color: white;">HADOPI</abbr>, etc. Nous vous recommandons vivement de consulter votre informaticien traitant d&egrave;s l&rsquo;apparition des troubles.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column small-centered small-24 medium-20 large-16 text-center">
							<span class="icon large" style="margin-bottom: .75rem;">
								<svg width="0" height="0" viewBox="-50.5 410.5 400 400">
									<use xlink:href="img/svg/html5-400x400px.svg#image"></use>
								</svg>
							</span>
							<span class="icon large" style="margin-bottom: .75rem;">
								<svg width="0" height="0" viewBox="-50.5 410.5 400 400">
									<use xlink:href="img/svg/css3-400x400px.svg#image"></use>
								</svg>
							</span>
							<span class="icon large" style="margin-bottom: .75rem;">
								<svg width="0" height="0" viewBox="62.295 264.625 400 400">
									<use xlink:href="img/svg/jquery-400x400px.svg#image"></use>
								</svg>
							</span>
							<span class="icon large" style="margin-bottom: .75rem;">
								<svg width="0" height="0" viewBox="-74.5 325.5 400 400">
									<use xlink:href="img/svg/foundation5-400x400px.svg#image"></use>
								</svg>
							</span>
						</div>
					</div>
				</section>