				<!--Latest-->
				<section id="latest">
					<h2>&Agrave; la une <small>.block-grid</small></h2>
					<h3 class="red"><time datetime="2014-09-15">Lundi 15 septembre 2014</h3>
					<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 articles-list">
						<li>
							<h4 class="cyan">&Eacute;ducation & Culture</h4>
							<ul class="right inline-list hide-for-small">
								<li><span class="icon-twitter small">Twitter&#8239;:</span>&nbsp;7</li>
								<li><span class="icon-facebook small">Facebook&#8239;:</span>&nbsp;6</li>
								<li><span class="icon-googleplus small">GooglePlus&#8239;:</span>&nbsp;1</li>
							</ul>
							<div class="href-block clearfix cyan">
								<h5 class="title">Sexisme dans les jeux-vid&eacute;os, une critique impossible&nbsp;?</h5>
								<p class="summary">
									<time datetime="2014-09-01" class="left date">1<sup>er</sup> septembre 2014<span class="hide">&#8239;&ndash;</span></time>
									Ces derni&egrave;res ann&eacute;es sur le net et dans les milieux f&eacute;ministes anglophones et francophones, des d&eacute;bats et discussions sont n&eacute;s autour de la question des repr&eacute;sentations sexistes dans les jeux-vid&eacute;os et des comportements sexistes parmi les joueurs. Les r&eacute;actions de rejet particuli&egrave;rement virulentes de la part de ceux qui se sentent mis en cause, comme on a pu le constater suite aux d&eacute;cha&icirc;nements qu&rsquo;ont subis entres autres Anita Sarkeesian et Mar-Lard, conduisent cependant &agrave; s&rsquo;interroger sur la possibilit&eacute; m&ecirc;me de mener une telle r&eacute;flexion.
									<span class="right author"><strong>Ourse du Cheshire</strong></span>
								</p>
								<a href="article.html#sexisme_dans_les_jeux_videos_une_critique_impossible">Lire l&rsquo;article</a>
							</div>
						</li>
						<li>
							<h4 class="magenta">Nos corps, nous-m&ecirc;mes</h4>
							<ul class="right inline-list hide-for-small">
								<li><span class="icon-facebook small">Facebook&#8239;:</span>&nbsp;12</li>
								<li><span class="icon-googleplus small">GooglePlus&#8239;:</span>&nbsp;2</li>
							</ul>
							<div class="href-block clearfix magenta">
								<h5 class="title">St&eacute;rilisation&#8239;: &laquo&#8239;Une femme qui d&eacute;cide de ne pas vouloir avoir des enfants, c&rsquo;est toujours louche&#8239;&raquo</h5>
								<p class="summary">
									<time datetime="2014-09-03" class="left date">3 septembre 2014<span class="hide">&#8239;&ndash;</span></time>
									Se faire st&eacute;riliser en France rel&egrave;ve d&rsquo;un vrai combat pour les femmes qui veulent y recourir. Elles se heurtent aux refus des m&eacute;decins, qui posent leurs propres conditions. V&eacute;ronique S&eacute;hier, co-pr&eacute;sidente Planning Familial, a r&eacute;pondu &agrave; nos questions sur ce sujet tabou dans notre soci&eacute;t&eacute;.
									<span class="right author"><strong>Ourse Mall&eacute;ch&eacute;e</strong></span>
								</p>
								<a href="article.html#sterilisation_une_femme_qui_decide_de_ne_pas_avoir_des_enfants_c_est_toujours_louche">Lire l&rsquo;article</a>
							</div>
						</li>
						<li>
							<h4 class="red">Intersectionnalit&eacute;</h4>
							<ul class="right inline-list hide-for-small">
								<li><span class="icon-facebook small">Facebook&#8239;:</span>&nbsp;8</li>
								<li><span class="icon-twitter small">Twitter&#8239;:</span>&nbsp;5</li>
								<li><span class="icon-linkedin small">LinkedIn&#8239;:</span>&nbsp;1</li>
							</ul>
							<div class="href-block clearfix red">
								<h5 class="title">Naturalisation et paup&eacute;risation du travail des femmes&#8239;: le cas des services &agrave; la personne</h5>
								<p class="summary">
									<time datetime="2014-09-08" class="left date">8 septembre 2014<span class="hide">&#8239;&ndash;</span></time>
									Les services &agrave; la personne constituent une part non n&eacute;gligeable de l&rsquo;emploi et de l&rsquo;&eacute;conomie.  Avec 1,8 million de salari&eacute;Es (sans compter les assistantes maternelles), ils d&eacute;passent m&ecirc;me le nombre d&rsquo;&eacute;quivalent temps plein du secteur de la construction (qui en compte 1,347 million). Pourtant, l&rsquo;invisibilisation de ce pan de l&rsquo;&eacute;conomie va de pair avec sa d&eacute;valorisation sociale.
									<span class="right author"><strong>Ourse Printani&egrave;re</strong></span>
								</p>
								<a href="article.html#naturalisation_et_pauperisation_du_travail_des_femmes_le_cas_des_services_a_la_personne">Lire l&rsquo;article</a>
							</div>
						</li>
					</ul>
				</section>