				<!--Legal Notice-->
				<section id="legal_notice" class="legal-notes">
					<h2>Mentions l&eacute;gales</h2>
					<div class="last-edit"><small>Derni&egrave;re modification le <time datetime="2015-02-13">13 f&eacute;vrier 2015</time></small></div>
					<h4>L&rsquo;&eacute;diteur</h4>
						<ul class="vcard">
							<li class="fn org"><span class="organization-name">{{= $org.name }}</span></li>
							<li><span class="role">{{= $org.name }} est une association 1901 &agrave; but non lucratif.</span></li>
							<li><span class="email">Vous pouvez contacter {{= $org.name }} par <a class="value" href="javascript:void(0)" title="Envoyer un courrier &eacute;l&eacute;ctronique &agrave; {{= $org.name}}" rel="contact" data-postmail="{{= $org.mail }}">courrier &eacute;lectronique</a>.</span></li>
						</ul>
					<h4>L&rsquo;h&eacute;bergeur</h4>
						<ul class="vcard">
							<li class="fn org"><span class="organization-name">Heroku</span>, <span class="organization-unit">Inc.</span></li>
							<li><span class="street-address">650, 7<sup>&egrave;me</sup> rue</span></li>
							<li><span class="locality">San Francisco</span>, <span class="region">Californie</span></li>
							<li><span class="postal-code">94103</span> &mdash; <span class="country-name">&Eacute;tats-unis</span></li>
							<li><span class="tel">Tél.&nbsp;: <span class="value">+1 (866) 278-1349</span></span></li>
							<li><a class="url" href="https://www.heroku.com/contact" title="Page de contact d&rsquo;Heroku" rel="contact">Site internet</a></li>
						</ul>
				</section>