				<section id="login">
					<form id="login_form" onsubmit="return false;" class="small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3">
						<fieldset>
							<legend>Authentification</legend>
							<input id="user_login" type="text" placeholder="Adresse e-mail"{{= $conf.free_log ? " value='nadejda@pussyriot.ru'" : "" }}>
							<div class="row collapse">
								<div class="column small-8 medium-9">
									<input id="user_password" type="password" placeholder="Mot de passe">
								</div>
								<div class="column small-4 medium-3">
									<input id="user_connection" type="submit" class="connect-switch button small postfix" value="Connexion">
								</div>
							</div>
						</fieldset>
					</form>
				</section>