				<section id="login">
					<form id="login_form" onsubmit="return false;" class="small-18 small-offset-3 medium-14 medium-offset-5 large-10 large-offset-7">
						<fieldset>
							<legend>Authentification</legend>
							<input id="user_login" type="text" placeholder="Adresse email"{{= $conf.debug && $debug.free_log ? " value='nadejda'" : "" }}>
							<div class="row collapse">
								<div class="column small-16 medium-18">
									<input id="user_password" type="password" placeholder="Mot de passe">
								</div>
								<div class="column small-8 medium-6">
									<button id="user_connection" type="submit" class="button action connect-switch small static postfix">Connexion</button>
								</div>
							</div>
							<div class="row collapse">
								<div class="column small-24">
									<input id="remember_me" type="checkbox">
									<label for="remember_me" title="M&eacute;moriser votre session. Ne pas cocher sur un ordinateur public.">Se souvenir de moi</label>
									{{? $app.stage == "dev" }}
									<a href="{{= $nav.password_reset.url }}" class="right text-tiny" title="R&eacute;initialiser son mot de passe" style="margin-top: .375rem;">Mot de passe oubli&eacute;</a>
									{{?}}
								</div>
							</div>
						</fieldset>
					</form>
					<div class="small-18 small-offset-3 medium-14 medium-offset-5 large-10 large-offset-7">
						<p class="text-tiny text-gray" style="margin-top: 1rem;">
							Des cookies n&eacute;cessaires &agrave; la navigation vont &ecirc;tre enregistr&eacute;s sur cet ordinateur &agrave; l&rsquo;issue de la proc&eacute;dure d&rsquo;authentification.
							Si vous ne souhaitez pas que des cookies d&rsquo;authentification soient enregistr&eacute;s sur cet ordinateur, ne cochez pas la case &laquo;&#8239;<strong>Se souvenir de moi</strong>&#8239;&raquo;.
							Si vous souhaitez effacer des cookies d&rsquo;authentification enregistr&eacute;s pr&eacute;c&eacute;demment sur cet ordinateur, connectez-vous en ayant d&eacute;coch&eacute; la case &laquo;&#8239;<strong>Se souvenir de moi</strong>&#8239;&raquo;, puis, d&eacute;connectez-vous.
						</p>
						<p class="text-tiny text-gray" style="margin-bottom: 0;">Pour en savoir plus sur l&rsquo;usage fait des cookies par ce site internet, vous pouvez consulter la <a href="{{= $nav.privacy_policy.url + '#cookies' }}" title="Lire la politique de confidentialit&eacute; des Ourses &agrave; plumes">politique de confidentialit&eacute;</a>.</p>
					</div>
				</section>