				<section id="login">
					<form id="login_form" onsubmit="return false;" class="small-18 small-offset-3 medium-14 medium-offset-5 large-10 large-offset-7">
						<fieldset>
							<legend>Authentification</legend>
							<input id="user_login" type="text" placeholder="Adresse email"{{= $conf.free_log ? " value='nadejda@pussyriot.ru'" : "" }}>
							<div class="row collapse">
								<div class="column small-16 medium-18">
									<input id="user_password" type="password" placeholder="Mot de passe">
								</div>
								<div class="column small-8 medium-6">
									<input id="user_connection" type="submit" class="connect-switch button small postfix" value="Connexion">
								</div>
								<div class="column small-24 medium-24">
									<input id="remember_me" type="checkbox" >
								</div>
							</div>
						</fieldset>
					</form>
				</section>