<!--Define Partial for Attributes-->
{{## def.attr : hash:
{{ for (key in hash) { }}
{{= hash[key] !== "" ? " " + key + "='" +  hash[key] + "'" : " " + key }}
{{ } }}
#}}

<!--Define Partial for List Items-->
{{## def.list_item : item:
{{? typeof item.link !== "undefined" }}<a{{# def.attr:item.link.attr }}>{{= item.link.text || "" }}</a>{{?}}
{{? typeof item.span !== "undefined" }}<span{{# def.attr:item.link.attr }}>{{= item.link.text || "" }}</span>{{?}}
{{= item.text || "" }}
#}}