					<!--News List-->
					<h2 class="hide">Actualit&eacute;s</h2>
					<div class="news-list">
						<ul data-orbit data-options="
							animation_speed: 375;
							slide_number_text: sur;
							slide_number: false;
							bullets: false;
							timer: false;
							">
							<li class="">
								<div class="orbit-headline text-center">
									<h1>{{= $org_name }}</h1>
									<h6>{{= $app_name + " ver. " + $app_ver }}</h6>
								</div>
							</li>
							<li class="orange">
								<div class="orbit-headline text-center">
									<blockquote class="text-large">
										&ldquo;&#8239;Simple, forte, aimant l&rsquo;art et l&rsquo;id&eacute;al, brave et libre aussi, la femme de demain ne voudra ni dominer, ni &ecirc;tre domin&eacute;e.&#8239;&rdquo;
										<cite>Louise Michel <small>(1830-1905)</small></cite>
									</blockquote>
								</div>
							</li>
							<li class="black">
								<div class="orbit-image">
									<img src="{{= $app_root + 'img/pub/afp_mlf_1982_paris.jpg' }}" alt="AFP MLF 1982 Paris">
								</div>
								<div class="orbit-caption">
									Manifestation du MLF contre le travail &agrave; temps partiel, 6 mars 1982 &agrave; Paris, AFP-FAGET
								</div>
							</li>
							<li class="magenta">
								<div class="orbit-headline">
									<blockquote class="text-large">
										&ldquo;&#8239;F&eacute;minisme. Oui, je crois qu&rsquo;il est convenable, avant que de faire un enfant &agrave; une femme, de lui demander si elle le veut.&#8239;&rdquo;
										<cite>Jules Renard <small>(1864-1910)</small></cite>
									</blockquote>
								</div>
							</li>
							<li class="black">
								<div class="orbit-image">
									<img src="{{= $app_root + 'img/pub/afp_femen_2013_madrid.jpg' }}" alt="AFP Femen 2013 Madrid" />
								</div>
								<div class="orbit-caption">
									Militantes du Femen devant une &eacute;glise, 23 d&eacute;cembre 2013 &agrave; Madrid, P.-P. Marcou pour AFP
								</div>
							</li>
							<li class="red">
								<div class="orbit-headline">
									<blockquote class="text-large">
										&ldquo;&#8239;Un homme sur deux est une femme.&#8239;&rdquo;
										<cite>Slogan f&eacute;ministe, Ao&ucirc;t 1970</cite>
									</blockquote>
								</div>
							</li>
							<li class="black">
								<div class="orbit-image">
									<img src="{{= $app_root + 'img/pub/gouesse_femmes_solidaires_2011_paris.jpg" alt="Gouesse Femmes solidaires 2011 Paris' }}">
								</div>
								<div class="orbit-caption">
									Femmes solidaires, Journ&eacute;e internationale de la femme, 5 mars 2011 &agrave; Paris, Julien Gouesse
								</div>
							</li>
							<li class="cyan">
								<div class="orbit-headline">
									<blockquote class="text-large text-center">
										&ldquo;&#8239;Le nouvel homme a r&eacute;solu &agrave; sa fa&ccedil;on le nouveau partage des t&acirc;ches&#8239;: Occupe-toi de tout et je ferai le reste.&#8239;&rdquo;
										<cite>Mich&egrave;le Fitoussi, &Eacute;ditorialiste &agrave; Elle</cite>
									</blockquote>
								</div>
							</li>
							<li class="black">
								<div class="orbit-image">
									<img src="{{= $app_root + 'img/pub/mouzon_la_barbe_2012_paris.jpg' }}" alt="Mouzon La Barbe 2012 Paris" />
								</div>
								<div class="orbit-caption">
									Action du groupe f&eacute;ministe La Barbe, 14 juillet 2012 &agrave; Paris (Place de la Nation), C&eacute;line Mouzon
								</div>
							</li>
						</ul>
					</div>