								{{## def.article: art:
								<h4 class="{{= art.rubrique.classe }}">{{= art.rubrique.rubrique }}</h4>
								<div class="href-block clearfix {{= art.rubrique.classe }}">
									<h5 class="title">{{= art.title }}</h5>
									<p class="summary">
										<span class="icon-date tiny" title="Date de publication"><span class="hide">Publi&eacute; le </span></span><time datetime="{{= getDateTime(new Date(art.publishedDate)) }}" class="date">{{= dateToHTML(new Date(art.publishedDate)) }}</time>
										{{= art.description }}
										<span class="right author"><strong>{{= art.profile.pseudo }}</strong></span>
									</p>
									<a href="{{= art.path }}">Lire l&rsquo;article</a>
								</div>
								#}}
				<!--Articles-->
				<section id="articles">
					<ul id="articles_publish" class="no-bullet articles-list online">
						{{~ data :value }}
							<li>{{# def.article:value }}</li>
						{{~}}
					</ul>
				</section>