				<!--Articles-->
				<section id="articles">
					<ul id="articles_publish" class="article-list">
						{{~ data :params }}
							{{= file_pool.article_item_tmpl(params)}}
						{{~}}
					</ul>
				</section>