					<!--Articles Toolbar-->
					<div class="tool-bar clearfix">
						<!--Search-->
						<dl class="sub-nav toggle left">
							<dt class="sub-list stack small">
								<a id="search_button" class="icon-search" href="javascript:void(0)" title="Rechercher dans les articles"><span class="text">Chercher</span></a>
							</dt>
						</dl>
						<div id="search_field" class="validation-box left hide">
							<input id="search" class="validation radius" type="text" maxlength="64" placeholder="Votre recherche (p. ex. homoparentalit&eacute;)" style="height: 44px;">
							<small class="error hide"></small>
						</div>
					</div>