				<section id="password_reset">
					<fieldset class="small-20 small-offset-2 medium-16 medium-offset-4 large-12 large-offset-6">
						<legend>R&eacute;initialiser son mot de passe</legend>
						<div class="row collapse">
							<div class="column small-24">
								<label for="email" title="L&rsquo;adresse &eacute;lectronique de votre compte">Votre compte&thinsp;<sup class="medium red">*</sup></label>
							</div>
							<div class="column small-16 medium-18">
								<input id="email" type="email" placeholder="L&rsquo;adresse &eacute;lectronique de votre compte" required>
							</div>
							<div class="column small-8 medium-6">
								<button id="submit" type="submit" class="small alert static postfix">R&eacute;initialiser</button>
							</div>
						</div>
					</fieldset>
					<div class="small-20 small-offset-2 medium-16 medium-offset-4 large-12 large-offset-6">
						<p class="text-tiny text-gray" style="margin: 1rem 0 0;">
							Un message &eacute;lectronique contenant un lien de r&eacute;initialisation de votre mot de passe sera envoy&eacute; &agrave; l&rsquo;adresse enregistr&eacute;e.
						</p>
					</div>
				</section>