				<section id="password_reset">
					<fieldset class="small-20 small-offset-2 medium-16 medium-offset-4 large-12 large-offset-6">
						<legend>R&eacute;initialiser son mot de passe</legend>
						<div class="row collapse">
							<label for="email">Adresse &eacute;lectronique&thinsp;<sup class="medium red">*</sup></label>
							<div class="column small-16 medium-18">
								<input id="email" type="email" placeholder="L&rsquo;adresse &eacute;lectronique de votre compte" required>
							</div>
							<div class="column small-8 medium-6">
								<input id="submit" type="submit" class="button small alert postfix" value="R&eacute;initialiser">
							</div>
						</div>
					</fieldset>
					<div class="small-20 small-offset-2 medium-16 medium-offset-4 large-12 large-offset-6">
						<p class="text-tiny text-gray">
							Un message &eacute;lectronique contenant le mot de passe de votre compte sera envoy&eacute; &agrave; l&rsquo;adresse enregistr&eacute;e.
							Il vous sera &eacute;galement demand&eacute; de bien vouloir modifier votre nouveau mot de passe lors de votre prochaine connexion.
						</p>
					</div>
				</section>