				<!--Privacy Policy-->
				<section id="privacy_policy" class="legal-notes">
					<!--Magellan Sticky Navigation-->
					<div class="hide-for-small" data-magellan-expedition="fixed">
						<dl class="sub-nav toggle">
							<dd data-magellan-arrival="privacy_policy"><a href="#privacy_policy" class="icon-up tiny"><strong class="hide">Haut de page</strong></a></dd>
							<dd data-magellan-arrival="cookies"><a href="#cookies">Cookies</a></dd>
							<dd data-magellan-arrival="user_information"><a href="#user_information">Donn&eacute;es personnelles</a></dd>
							<dd data-magellan-arrival="user_rights"><a href="#user_rights">Droit &agrave; l'oubli</a></dd>
						</dl>
					</div>
					<h2>Politique de confidentialit&eacute;</h2>
					<div class="last-edit"><small>Derni&egrave;re modification le <time datetime="2015-02-13">13 f&eacute;vrier 2015</time></small></div>
					<p>{{= $org.name }} ont entendu appliquer une politique concr&egrave;te et transparente en mati&egrave;re de confidentialit&eacute;. La protection octroy&eacute;e aux donn&eacute;es &agrave; caract&egrave;re personnel a &eacute;t&eacute; pens&eacute;e pour &ecirc;tre aussi effective que les moyens techniques mis &agrave; disposition pour la conception et le d&eacute;ploiement du site internet le permettent.</p>
					<p>{{= $org.name }} garantissent qu&rsquo;aucune donn&eacute;e de l&rsquo;utilisateur n&rsquo;est collect&eacute;e par son service &agrave; des fins commerciales ou publicitaires, ni qu&rsquo;aucune mesure d&rsquo;audience n&rsquo;est r&eacute;alis&eacute;e de leur fait &agrave; des fins similaires.</p>
					<h4 id="cookies">Cookies</h4>
					<p>Le service de communication au public en ligne fourni par {{= $org.name }} utilise des cookies. Les cookies sont des fichiers stock&eacute;s sur la machine de l&rsquo;utilisateur par son navigateur et exploit&eacute;s par lui. Les cookies transmis par {{= $org.name }} ne sont employ&eacute;s que dans le cadre strict de l&rsquo;utilisation du service et poursuivent uniquement des fins d&rsquo;acc&egrave;s au service et d&rsquo;am&eacute;lioration de l&rsquo;exp&eacute;rience utilisateur.</p>
					<p>Les cookies d&rsquo;authentification servent &agrave; reconna&icirc;tre l&rsquo;utilisateur enregistr&eacute; et &agrave; d&eacute;terminer que sa session n&rsquo;a pas expir&eacute;e. La transaction des cookies d&rsquo;authenfication est crypt&eacute;e afin d&rsquo;assurer le maximum de s&eacute;curit&eacute;. Leur persistance est variable selon que l&rsquo;utilisateur enregistr&eacute; d&eacute;cide ou non d&rsquo;&ecirc;tre reconnu par le service &agrave; l&rsquo;expiration de sa session active.</p>
					<p>Les cookies de l&rsquo;interface utilisateur servent &agrave; se souvenir des pr&eacute;f&eacute;rences d&rsquo;affichage de l&rsquo;utilisateur, comme par exemple, les options de tri ou le choix d&rsquo;affichage des effets visuels. Ils persistent jusqu&rsquo;&agrave; leur suppression.</p>
					<p>Les cookies tiers sont ind&eacute;pendants du service fourni par {{= $org.name }} et ne peuvent pas &ecirc;tre atteints par lui. Aussi, leur suppression d&eacute;pend de la plate-forme qui les a stock&eacute; sur la machine de l&rsquo;utilisateur. L&rsquo;utilisateur peut n&eacute;anmoins les effacer <em>via</em> le menu d&rsquo;options de son navigateur.</p>
					<h4 id="user_information">Donn&eacute;es personnelles</h4>
					<p>Pour s&rsquo;enregister, l&rsquo;utilisateur doit fournir une adresse &eacute;lectronique valide et choisir un mot de passe.  Ces informations confidentielles constituent le Compte de l&rsquo;utilisateur. {{= $org.name }} garantissent que ces informations ne sont employ&eacute;es que dans le cadre strict de l&rsquo;acc&egrave;s au service.</p>
					<p>&Agrave; moins qu&rsquo;il ne d&eacute;cide de la rendre publique, l&rsquo;adresse &eacute;lectronique renseign&eacute;e par l&rsquo;utilisateur n&rsquo;est connue que de lui-m&ecirc;me et des administrateurs du site. Le mot de passe n&rsquo;est connu que de lui-m&ecirc;me, et {{= $org.name }} garantissent qu&rsquo;elles ne demanderont pas &agrave; l&rsquo;utilisateur enregistr&eacute; de le leur communiquer.</p>
					<p>{{= $org.name }} mettent &agrave; disposition de l&rsquo;utilisateur enregistr&eacute; un espace personnel intitul&eacute; Profil dans lequel il peut renseigner certaines informations personnelles le concernant qui peuvent permettre aux tiers de l&rsquo;identifier. Ces informations ne font l&rsquo;objet d&rsquo;aucun traitement &agrave; des fins autres que l&rsquo;utilisation du service. Toutefois, en l&rsquo;&eacute;tat des connaissances techniques et scientifique, {{= $org.name }} ne peuvent garantir que des entit&eacute;s tierces, telles que les moteurs de recherche, ne puissent y avoir acc&egrave;s. Aussi, {{= $org.name }} recommandent de renseigner ces informations avec r&eacute;serve et ne saurait &ecirc;tre tenues pour responsables de leur divulgation. Il appartient donc &agrave; l&rsquo;utilisateur enregistr&eacute; de renseigner son Profil avec raison et discernement.</p>
					<p>L&rsquo;utilisateur enregistr&eacute; qui soumet une publication est tenu de v&eacute;rifier qu&rsquo;elle ne contient pas de donn&eacute;e &agrave; caract&egrave;re personnel et/ou permettant de l&rsquo;identifier contre son gr&eacute;. L&rsquo;utilisateur enregistr&eacute; qui soumet une publication contenant des donn&eacute;es &agrave; caract&egrave;re personnel est r&eacute;put&eacute; soumettre &agrave; l&rsquo;espace public ces donn&eacute;es en toute connaissance d&rsquo;effets et ne saurait par cons&eacute;quent tenir grief aux Ourses &agrave; plumes de la divulgation de ces informations.</p>
					<p>{{= $org.name }} mettent &agrave; disposition du public des gadgets sociaux. L&rsquo;utilisation de ces gadgets est soumise aux conditions d&rsquo;utilisation du r&eacute;seau social auquel ils appartiennent. Aussi, {{= $org.name }} d&eacute;clinent toute responsabilit&eacute; quant &agrave; l&rsquo;utilisation de ces gadgets sociaux, et notamment en regard de la protection des donn&eacute;es personnelles qui d&eacute;pend de la politique de confidentialit&eacute; du r&eacute;seau social vis&eacute;. C&rsquo;est pourquoi {{= $org.name }} pr&eacute;conisent de n&rsquo;utiliser ces gadget sociaux qu&rsquo;en toute connaissance de leurs conditions d&rsquo;utilisation respectives.</p>
					<p>{{= $org.name }} garantissent mettre en place tous les moyens n&eacute;cessaires &agrave; la r&eacute;alisation effective de la pr&eacute;sente politique de confidentialit&eacute;. N&eacute;anmoins, les technologies de l&rsquo;internet n&rsquo;&eacute;tant pas insusceptibles de d&eacute;faillance technique, ni hors de port&eacute;e d&rsquo;actes malveillants tendant &agrave; la destruction ou au d&eacute;voiement des donn&eacute;es, il se peut que survienne un &eacute;v&egrave;nement fortuit, irr&eacute;pressible et ind&eacute;pendant de la volont&eacute; des Ourses &agrave; plumes venant compromettre la protection des donn&eacute;es personnelles voulue par elles. Dans l&rsquo;&eacute;ventualit&eacute; d&rsquo;un tel cas, la responsabilit&eacute; des Ourses &agrave; plumes ne saurait &ecirc;tre recherch&eacute;e sur le fondement d&rsquo;un quelconque manquement.</p>
					<h4 id="user_rights">Droit d&rsquo;acc&egrave;s, de rectification et d&rsquo;opposition</h4>
					<p>Tout utilisateur peut exercer &agrave; toute &eacute;poque ses droits d&rsquo;acc&egrave;s, de rectification et d&rsquo;opposition aupr&egrave;s des Ourses &agrave; plumes. Ces droits s&rsquo;exercent soit directement par le service de communication <em>via</em> la ou les fonctionnalit&eacute;s pr&eacute;vues &agrave; cet effet, soit par demande expresse <em><em>via</em></em> <a href="{{= $org.mail}}" title="{{= $org.name}}" rel="contact">courrier &eacute;lectronique</a>.</p>
					<p>Toute demande de suppression d&rsquo;un compte, profil, article ou publication sera trait&eacute;e dans un d&eacute;lai raisonnable et notifi&eacute;e dans la mesure du possible &agrave; l&rsquo;adresse de r&eacute;ponse de la demande. L&rsquo;int&eacute;gralit&eacute; du compte, profil, article ou publication cibl&eacute;e sera alors supprim&eacute;e.</p>
				</section>