				<!--Privacy Policy-->
				<section id="privacy_policy">
					<h2>Politique de confidentialit&eacute;</h2>
					<h4>Données personnelles</h4>
					<p>&hellip;</p>
					<h4>Droit d'accès<h4>
					<p>&hellip;</p>
					<h4>Droit de rectification</h4>
					<p>&hellip;</p>
					<h4>Droit d'opposition</h4>
					<p>&hellip;</p>
				</section>