				<!--Privacy Policy-->
				<section id="privacy_policy">

					<h2>Politique de confidentialit&eacute;</h2>

					<h4>Cookies</h4>

					<h4>Donn&eacute;es personnelles</h4>

					<h4>Droit d&rsquo;acc&egrave;s, de rectification et d&rsquo;opposition</h4>

				</section>