				<!--User Profile-->
				<section id="user-profile">
					<!--First Row-->
					<div class="row panel radius user-profile">
						<!--First Column-->
						<div class="column small-24 medium-10 large-8 text-center">
							<!--User picture-->
							<span class="picture large cover radius max-height" data-image="{{= data.avatar.path }}">{{= data.pseudo }}</span>
						</div>
						<!--Second Column-->
						<div class="column small-24 medium-14 large-16">
							<div class="clearfix" style="position: relative;">
								<!--Pseudo-->
								<h3 class="user-name">{{= data.pseudo }}</h3>
								<!--Role-->
								<h4 class="user-role" style="display: none;"></h4>
							</div>
							<!--User links-->
							<ul id="user_links_icons" class="user-icons inline-list">
								{{~ data.socialLinks :socialLink }}
									<li><a href="{{= socialLink.path }}" class="icon-{{= socialLink.network }}" title="{{= socialLink.description }}"><span class="hide">{{= socialLink.description }}</span></a></li>
								{{~}}
							</ul>
							<p class="user-desc">{{= data.description === null ? "" : data.description }}</p>
						</div>
						<!--User Articles List-->
						<div id="articles" class="column small-24">
						</div>
					</div>
				</section>