					<!--User Profile-->
					<section id="user-profile" class="hide">
					<h2>Mon profil <small>.user-profile</small></h2>
					<div class="row panel radius user-infos">
						<div class="column small-12 medium-5 large-4 text-center">
							<span class="picture large cover radius max-height" data-image="usr/usr-nadejda.jpg">Nadejda</span>
							<blockquote class="text-justify"><span class="text-silver">[140 chars]</span> &ldquo;&#8239;The media is an important weapon for an activist in today&rsquo;s Russia, [&hellip;] It&rsquo;s a wonderful example of how the civil society can be put to work.&#8239;&rdquo;</blockquote>
							<ul class="inline-list">
								<li><a href="javascript:void(0)" class="icon-twitter medium has-tip tip-top radius" title="Voir le profil Twitter" data-tooltip>Twitter</a></li>
								<li><a href="javascript:void(0)" class="icon-facebook medium has-tip tip-top radius" title="Voir la page Facebook" data-tooltip>Facebook</a></li>
								<li><a href="javascript:void(0)" class="icon-googleplus medium has-tip tip-top radius" title="Consulter le compte Google+" data-tooltip>Google+</a></li>
								<li><a href="javascript:void(0)" class="icon-linkedin medium has-tip tip-top radius" title="Consulter le compte LinkedIn" data-tooltip>LinkedIn</a></li>
							</ul>
						</div>
						<div class="column small-12 medium-7 large-8">
							<h3>Nadejda <small>Tolokonnikova</small></h3>
							<div class="clearfix" style="line-height: 2rem;">
								<h4 class="left">R&eacute;dactrice</h4>
								<time datetime="2014-07-23" class="right text-steel"><small>Depuis le 23 juillet 2014</small></time>
							</div>
							<p class="collapse"><span class="text-silver">[1000 chars]</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique lorem porttitor orci posuere, at suscipit quam aliquam. Vestibulum tincidunt tellus non dignissim interdum. Nam in libero viverra, elementum orci eget, tincidunt nulla. Phasellus sit amet feugiat magna, non lobortis purus. Nullam dictum est urna, sit amet dictu m nisl adipiscing at. Sed vitae magna nisi.</p>
							<p class="collapse">Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Curabitur semper ullamcorper rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vel dolor non mi convallis volutpat eu eget libero.</p>
							<p>Vestibulum vestibulum faucibus ante, nec tincidunt lorem vulputate in. Integer vel nisl mauris. Donec a ante id orci tincidunt egestas eu ac ipsum. Donec volutpat, velit vel suscipit viverra, nisl velit pharetra elit, eu accumsan purus leo eu tortor. Phasellus suscipit sed.</p>
							<hr>
							<ul class="no-bullet">
								<li><span class="icon-mail small"></span><a href="javascript:void(0)">nadejda.tolokonnikova@volga-telecom.ru</a></li>
								<li><span class="icon-home small"></span><a href="javascript:void(0)">http://pussy-riot.nadejda-tolokonnikova.ru</a></li>
								<li><span class="icon-link small"></span><a href="javascript:void(0)">http://nadejda-tolokonnikova.canalblog.com</a></li>
							</ul>
						</div>
					</div>
				</section>
				<hr class="hide">
				<!--Profil Ourse Printanière-->
				<section id="user-ourse-printaniere" class="hide">
					<h2>Ourse Printani&egrave;re</h2>
					<div class="row panel radius user-infos">
						<div class="column small-12 medium-5 large-4 text-center">
							<span class="picture large cover radius max-height" data-image="usr/usr-bear.jpg">Ourse</span>
							<ul class="no-bullet text-left">
								<li><span class="icon-mail small"></span><a href="javascript:void(0)">Son adresse e-mail</a></li>
								<li><span class="icon-home small"></span><a href="javascript:void(0)">Son site internet</a></li>
							</ul>
							<hr>
							<ul class="inline-list">
								<li><a href="javascript:void(0)" class="icon-twitter medium has-tip tip-top radius" title="Voir le profil Twitter" data-tooltip>Twitter</a></li>
								<li><a href="javascript:void(0)" class="icon-facebook medium has-tip tip-top radius" title="Voir la page Facebook" data-tooltip>Facebook</a></li>
								<li><a href="javascript:void(0)" class="icon-linkedin medium has-tip tip-top radius" title="Consulter le compte LinkedIn" data-tooltip>LinkedIn</a></li>
							</ul>
						</div>
						<div class="column small-12 medium-7 large-8">
							<h3>Ourse Printani&egrave;re</h3>
							<div class="clearfix" style="line-height: 2rem;">
								<h4 class="left"><span class="icon-author medium white" style="margin-right: .5rem;"></span>Administratrice</h4>
								<time datetime="2014-03-08" class="right text-steel"><small>Depuis le 8 mars 2014</small></time>
							</div>
							<p class="collapse">Militante dans l&rsquo;&acirc;me, cette ourse est r&eacute;volt&eacute;e par l&rsquo;injustice du monde et r&ecirc;ve de lendemains qui chantent. Sans avoir fait les &eacute;tudes qu&rsquo;il faut, elle se plonge dans les lectures pour trouver des mots compliqu&eacute;s qui lui parlent&#8239;: autoorganisation, intersectionnalit&eacute;, auto&eacute;mancipation des opprim&eacute;Es&hellip; Elle s&rsquo;est engag&eacute;e corps et &acirc;me dans la politique et le syndicalisme depuis plusieurs ann&eacute;es, se sp&eacute;cialisant presque malgr&eacute; elle sur les questions f&eacute;ministes et LGBTI-Q (c&rsquo;est vrai qu&rsquo;&agrave; l&rsquo;extr&ecirc;me-gauche on devient vite sp&eacute;cialiste!), tout en cherchant &agrave; faire le lien avec la lutte antiraciste et la lutte des classes, mais aussi la lutte &eacute;cologique&nbsp;!</p>
							<p>Affam&eacute;e de savoirs et dansant de joie dans les luttes, cette ourse est connue pour son organisation sans faille et pour son exigence, et pour son sens de l&rsquo;hospitalit&eacute;.</p>
						</div>
					</div>
				</section>
				<hr class="hide">
				<!--Profil Ourse du Cheshire-->
				<section id="user-ourse-du-cheshire" class="hide">
					<h2>Ourse du Cheshire</h2>
					<div class="row panel radius user-infos">
						<div class="column small-12 medium-5 large-4 text-center">
							<span class="picture large cover radius max-height" data-image="usr/usr-bear.jpg">Ourse</span>
							<ul class="no-bullet text-left">
								<li><span class="icon-mail small"></span><a href="javascript:void(0)">Son adresse e-mail</a></li>
								<li><span class="icon-home small"></span><a href="javascript:void(0)">Son site internet</a></li>
								<li><span class="icon-link small"></span><a href="javascript:void(0)">Sa page Canal Blog</a></li>
							</ul>
							<hr>
							<ul class="inline-list">
								<li><a href="javascript:void(0)" class="icon-facebook medium has-tip tip-top radius" title="Voir la page Facebook" data-tooltip>Facebook</a></li>
								<li><a href="javascript:void(0)" class="icon-googleplus medium has-tip tip-top radius" title="Consulter le compte Google+" data-tooltip>Google+</a></li>
							</ul>
						</div>
						<div class="column small-12 medium-7 large-8">
							<h3>Ourse du Cheshire</h3>
							<div class="clearfix" style="line-height: 2rem;">
								<h4 class="left"><span class="icon-author medium white" style="margin-right: .5rem;"></span>Administratrice</h4>
								<time datetime="2014-03-08" class="right text-steel"><small>Depuis le 8 mars 2014</small></time>
							</div>
							<p>Cette ourse sait garder le sourire, mais sait aussi montrer les dents. Membre d&rsquo;un collectif de fac - et personnellement confront&eacute;e au sexisme et &agrave; la lesbophobie - elle n&rsquo;h&eacute;site pas &agrave; jouer des griffes dans les luttes f&eacute;ministes et LGBTI-Q. Plus largement, elle s&rsquo;implique dans la luttes contre les diff&eacute;rentes formes d&rsquo;oppression, du racisme et post-colonialisme au capitalisme. Quand elle ne bat pas le pav&eacute;, elle passe bien trop de temps devant un &eacute;cran d&rsquo;ordinateur ou derri&egrave;re un comic ou un livre&hellip; Il &eacute;tait donc grand temps qu&rsquo;elle pose ses pattes sur un clavier pour militer comme &ccedil;a aussi.</p>
						</div>
					</div>
				</section>
				<hr class="hide">
				<!--Profil Ourse Malléchée-->
				<section id="user-ourse-mallechee" class="hide">
					<h2>Ourse Mall&eacute;ch&eacute;e</h2>
					<div class="row panel radius user-infos">
						<div class="column small-12 medium-5 large-4 text-center">
							<span class="picture large cover radius max-height" data-image="usr/usr-bear.jpg">Ourse</span>
							<ul class="no-bullet text-left">
								<li><span class="icon-mail small"></span><a href="javascript:void(0)">Son adresse e-mail</a></li>
								<li><span class="icon-home small"></span><a href="javascript:void(0)">Son site internet</a></li>
								<li><span class="icon-link small"></span><a href="javascript:void(0)">Sa page Le Monde</a></li>
								<li><span class="icon-link small"></span><a href="javascript:void(0)">Sa page Le Parisien</a></li>
							</ul>
							<hr>
							<ul class="inline-list">
								<li><a href="javascript:void(0)" class="icon-twitter medium has-tip tip-top radius" title="Voir le profil Twitter" data-tooltip>Twitter</a></li>
								<li><a href="javascript:void(0)" class="icon-facebook medium has-tip tip-top radius" title="Voir la page Facebook" data-tooltip>Facebook</a></li>
								<li><a href="javascript:void(0)" class="icon-googleplus medium has-tip tip-top radius" title="Consulter le compte Google+" data-tooltip>Google+</a></li>
								<li><a href="javascript:void(0)" class="icon-linkedin medium has-tip tip-top radius" title="Consulter le compte LinkedIn" data-tooltip>LinkedIn</a></li>
							</ul>
						</div>
						<div class="column small-12 medium-7 large-8">
							<h3>Ourse Mall&eacute;ch&eacute;e</h3>
							<div class="clearfix" style="line-height: 2rem;">
								<h4 class="left"><span class="icon-author medium white" style="margin-right: .5rem;"></span>Administratrice</h4>
								<time datetime="2014-03-08" class="right text-steel"><small>Depuis le 8 mars 2014</small></time>
							</div>
							<p>Journaliste, cette ourse adore &eacute;crire sur les th&eacute;matiques qui lui tiennent &agrave; coeur&#8239;: injustices, discriminations, sant&eacute;, f&eacute;minisme&hellip; A son tableau de chasse, on trouve notamment la Bourse AJIS (qui r&eacute;compense un article sur une th&eacute;matique sociale). De formation litt&eacute;raire, c&rsquo;est une drogu&eacute;e de lecture et d&rsquo;&eacute;criture. Militante f&eacute;ministe et politique &agrave; ses heures perdues (ou gagn&eacute;es&nbsp;!), elle a fait &eacute;galement partie d&rsquo;un syndicat &eacute;tudiant il y a quelques ann&eacute;es.</p>
							<p>Cette ourse est une gourmande qui ne r&eacute;siste jamais &agrave; un chocolat, ou &agrave; un pot de miel&hellip; Curieuse de tout, elle tra&icirc;ne ses pattes sur les r&eacute;seaux sociaux &agrave; la recherche de la moindre info. Taquine, elle aime emb&ecirc;ter les autres ourses. Elle est aussi connue pour ses grognements et son caract&egrave;re pers&eacute;v&eacute;rant. Elle ne l&acirc;che rien.</p>
						</div>
					</div>
				</section>