					<div{{= typeof data.id !== "undefined" ? " id=" + data.id : "" }} class="alert-box radius text-center {{= typeof data.class !== 'undefined' ? ' ' + data.class : '' }}" style="display: none;">
						{{? data.icon !== null }}
						<span class="icon-{{= data.icon }} small white"></span>
						{{?}}
						<span class="text">{{= data.text }}</span>
						<a href="javascript:void(0)" class="close"></a><span class="hide">Fermer<span>
					</div>