				<!--Terms of Use-->
				<section id="terms_of_use">
					<h2>Conditions d&rsquo;utilisation</h2>
					<h4>Acceptation de la politique de confidentialité</h4>
					<p>&hellip;</p>
					<h4>Responsabilité des Ourses à plumes</h4>
					<p>&hellip;</p>
					<h4>Responsabilité personnelle</h4>
					<p>&hellip;</p>
				</section>