				<!--Terms of Use-->
				<section id="terms_of_use" class="legal-notes">
					<!--Magellan Sticky Navigation-->
					<div class="hide-for-small" data-magellan-expedition="fixed">
						<dl class="sub-nav toggle">
							<dd data-magellan-arrival="terms_of_use"><a href="#terms_of_use" class="icon-up tiny"><strong class="hide">Haut de page</strong></a></dd>
							<dd data-magellan-arrival="service_access"><a href="#service_access">Acc&egrave;s</a></dd>
							<dd data-magellan-arrival="user_licence"><a href="#user_licence">Utilisateur</a></dd>
							<dd data-magellan-arrival="publisher_licence"><a href="#publisher_licence">&Eacute;diteur</a></dd>
							<dd data-magellan-arrival="copyright"><a href="#copyright">Droit d&rsquo;auteur</a></dd>
							<dd data-magellan-arrival="reply_right"><a href="#reply_right">Droit de r&eacute;ponse</a></dd>
							<dd data-magellan-arrival="legal_scope"><a href="#legal_scope">&Eacute;tendue</a></dd>
							<dd data-magellan-arrival="terms_evolution"><a href="#terms_evolution">&Eacute;volution</a></dd>
						</dl>
					</div>
					<h2>Conditions d&rsquo;utilisation</h2>
					<div class="last-edit"><small>Derni&egrave;re modification le <time datetime="2015-02-13">13 f&eacute;vrier 2015</time></small></div>
					<p>L&rsquo;utilisation du service de communication au public en ligne fourni par {{= $org.name }} est subordonn&eacute; au respect des pr&eacute;sentes conditions d&rsquo;utilisation.</p>
					<p>Toute personne est r&eacute;put&eacute;e &ecirc;tre un utilisateur d&egrave;s lors qu&rsquo;elle acc&egrave;de au contenu diffus&eacute; par {{= $org.name }} sur son nom de domaine. Elle est &eacute;galement pr&eacute;sum&eacute;e avoir accept&eacute; inconditionnellement les termes des pr&eacute;sentes conditions d&rsquo;utilisation. Le cas contraire, elle est tenue de mettre un terme sans d&eacute;lai &agrave; son utilisation du service.</p>
					<h4 id="service_access">Acc&egrave;s au service</h4>
					<p>L&rsquo;acc&egrave;s au service de communication au public en ligne fourni par {{= $org.name }} est  gratuit. Il est &eacute;galement libre en consultation. L&rsquo;acc&egrave;s aux fonctionnalit&eacute;s d&rsquo;&eacute;dition, de publication et d&rsquo;administration est cependant strictement r&eacute;serv&eacute; aux utilisateurs enregistr&eacute;s.</p>
					<p>L&rsquo;utilisateur enregistr&eacute; est celui qui est identifi&eacute; aupr&egrave;s du service de communication au public en ligne et en a accept&eacute; les conditions d&rsquo;utilisation ainsi que la politique de confidentialit&eacute;. {{= $org.name }} d&eacute;terminent discr&eacute;tionnairement quels sont ces utilisateurs et se r&eacute;servent le droit de refuser de proc&eacute;der &agrave; l&rsquo;enregistrement de tout utilisateur, et ce, quel que soit le motif. Le cas &eacute;ch&eacute;ant, il ne sera fait aucun usage des donn&eacute;es qui auraient pu &ecirc;tre transmises durant la proc&eacute;dure d&rsquo;enregistrement, lesquelles seront supprim&eacute;es.</p>
					<p>{{= $org.name }} se r&eacute;servent le droit exclusif de suspendre, interrompre ou mettre un terme au service de communication en tout temps, et ce, quel que soit le motif, sans qu&rsquo;il en r&eacute;sulte le moindre pr&eacute;judice.</p>
					<p>{{= $org.name }} se r&eacute;servent &eacute;galement le droit exclusif de supprimer unilat&eacute;ralement et sans notification pr&eacute;alable tout ou partie d&rsquo;un compte, profil, article ou publication qui m&eacute;conna&icirc;trait les pr&eacute;sentes conditions d&rsquo;utilisation, et ce, sans qu&rsquo;il ne soit caus&eacute; pr&eacute;judice au titulaire du compte ou du profil, ou, &agrave; l&rsquo;auteur de l&rsquo;article ou de la publication.</p>
					<h4 id="user_licence">Responsabilit&eacute; de l&rsquo;utilisateur</h4>
					<p>Le service de communication au public en ligne founi par {{= $org.name }} permet aux utilisateurs de diffuser du contenu de toute nature, qu&rsquo;il soit textuel, graphique, audio ou vid&eacute;o.</p>
					<p>L&rsquo;utilisateur est pleinement responsable du contenu qu&rsquo;il diffuse sur le service, et ce, quel qu&rsquo;en soit la nature. Il appartient &agrave; l&rsquo;utilisateur de s&rsquo;assurer que le contenu qu&rsquo;il soumet &agrave; l&rsquo;espace public <em>via</em> l&rsquo;interface du service respecte la loi et le r&eacute;glement.</p>
					<p>L&rsquo;utilisateur est avis&eacute; qu&rsquo;il est civilement et p&eacute;nalement responsable du contenu qu&rsquo;il soumet &agrave; l&rsquo;espace public. Et notamment en cas de&nbsp;:</p>
					<ul>
						<li>incitation &agrave; la discrimination ethnique, raciale, politique, religieuse, sexuelle ou &agrave; raison de l&rsquo;identitit&eacute; sexuelle ou du handicap</li>
						<li>diffamation, injure, atteinte &agrave; l&rsquo;honneur ou &agrave; la probit&eacute; des personnes</li>
						<li>provocation aux crimes ou aux d&eacute;lits</li>
					</ul>
					<p>Les propos tenus par l&rsquo;utilisateur, qu&rsquo;ils s&rsquo;agissent de convictions de nature philosophique, politique ou religieuse, d&rsquo;opinions, ou de simples manifestations d&rsquo;humeur, sont ainsi soumis &agrave; cette obligation de respect de la loi et du r&eacute;glement, et ce, sans qu&rsquo;il ne soit port&eacute; atteinte &agrave; la libert&eacute; de pens&eacute;e, de conscience ou de religion, ou, &agrave; la libert&eacute; d&rsquo;expression.</p>
					<p>L&rsquo;utilisateur est averti qu&rsquo;en cas de grave manquement &agrave; cette obligation l&eacute;gale, l&rsquo;autorit&eacute; publique comp&eacute;tente pourra l&eacute;gitimement en &ecirc;tre inform&eacute;e. Et notamment en cas de&nbsp;:</p>
					<ul>
						<li>apologie des crimes contre l&rsquo;humanit&eacute; ou du terrorisme</li>
						<li>incitation &agrave; la discrimination ethnique ou sexuelle</li>
						<li>incitation &agrave; la haine raciale ou &agrave; la violence</li>
						<li>atteinte grave &agrave; la dignit&eacute; humaine</li>
						<li>pornographie enfantine</li>
					</ul>
					<h4 id="publisher_licence">Responsabilit&eacute; de l&rsquo;&eacute;diteur</h4>
					<p>Le contenu mis &agrave; disposition du public par le service des Ourses &agrave; plumes poursuit une fin essentiellement informative. Toutefois, l&rsquo;exactitude des informations soumises &agrave; l&rsquo;espace public <em>via</em> le service ne peut &ecirc;tre pleinement garantie. Aussi, la responsabilit&eacute; des Ourses &agrave; plumes ne saurait &ecirc;tre engag&eacute;e dans le cas o&ugrave; des informations s&rsquo;av&eacute;reraient inexactes ou erron&eacute;es.</p>
					<p>Les publications diffus&eacute;es en ligne <em>via</em> le service ont une vocation journalistique, artistique et/ou litt&eacute;raire. Ces publications sont l&rsquo;expression de la pens&eacute;e de leur auteur. Il ne saurait &ecirc;tre tenu grief aux Ourses &agrave; plumes ou &agrave; ses utilisateurs enregistr&eacute;s d&rsquo;avoir manqu&eacute; &agrave; un suppos&eacute; devoir de neutralit&eacute;.</p>
					<p>Le service de communication au public en ligne fourni par {{= $org.name }} autorise ses utilisateurs enregistr&eacute;s &agrave; transf&eacute;rer des images sur son serveur. En l&rsquo;&eacute;tat des connaissances techniques et scientifiques, aucune garantie ne peut &ecirc;tre raisonnablement apport&eacute;e quant au r&eacute;el respect du droit d&rsquo;auteur du propri&eacute;taire de ces images si il n&rsquo;est est pas l&rsquo;utilisateur enregistr&eacute;. Il appartient &agrave; l&rsquo;utilisateur enregistr&eacute; de s&rsquo;assurer que les image qu&rsquo;il transf&egrave;re respectent la propri&eacute;t&eacute; intellectuelle. {{= $org.name }} d&eacute;clinent toute responsabilit&eacute; le cas contraire.</p>
					<p>Le service autorise les utilisateurs enregistr&eacute;s &agrave; ins&eacute;rer des liens hypertextes et &agrave; incorporer du contenu &agrave; leurs publications. Le contenu ainsi incorpor&eacute; est de nature mixte. Il peut s&rsquo;agir de texte, d&rsquo;image, de son ou de vid&eacute;o. {{= $org.name }} ne peuvent exercer aucun contr&ocirc;le sur ces ressources stock&eacute;es sur un h&eacute;bergeur tiers. Aussi, {{= $org.name }} d&eacute;clinent toute responsabilit&eacute; quant &agrave; l&rsquo;illiceit&eacute; &eacute;ventuelle r&eacute;sultant de l&rsquo;insertion d&rsquo;un lien hypertexte ou de l&rsquo;incorporation de contenu par l&rsquo;utilisateur enregistr&eacute;. Il appartient &agrave; l&rsquo;utilisateur enregistr&eacute; qui lie ou incorpore du contenu &agrave; sa publication de s&rsquo;assurer qu&rsquo;une telle man&oelig;uvre respecte le cadre l&eacute;gal et r&eacute;glementaire en vigueur.</p>
					<h4 id="copyright">Droit d&rsquo;auteur</h4>
					<p>Toutes les publications des Ourses &agrave; plumes, de leurs contributeurs, adh&eacute;rents ou utilisateurs enregistr&eacute;s, sont soumises aux dispositions relatives &agrave; la propri&eacute;t&eacute; litt&eacute;raire et artistique. Elles ne peuvent, sauf exceptions l&eacute;gales, &ecirc;tre reproduites, copi&eacute;es, traduites, divulgu&eacute;es, repr&eacute;sent&eacute;es, commercialis&eacute;es ou exploit&eacute;es, en totalit&eacute; ou en partie, sans l&rsquo;autorisation pr&eacute;alable de leur l&eacute;gitime auteur.</p>
					<p>{{= $org.name }} fournissent une interface de diffusion et de promotion journalistique, litt&eacute;raire et artistique des &oelig;uvres de l&rsquo;esprit. En choisissant de publier une &oelig;uvre sur {{= $org.name }}, l&rsquo;auteur consent express&eacute;ment &agrave; sa divulgation. Pour autant, il ne conc&egrave;de en aucun cas ses droits patrimoniaux sur l&rsquo;oeuvre et peut &agrave; tout moment faire exercice de son droit de retrait aupr&egrave;s des Ourses &agrave; plumes par <a href="{{= $org.mail}}" title="{{= $org.name}}" rel="contact">courrier &eacute;lectronique</a>.</p>
					<p>La publication d&rsquo;un article sur le service est subordonn&eacute;e &agrave; l&rsquo;acceptation des Ourses &agrave; plumes, lequelles exigent que les articles se conforment en id&eacute;es et en forme &agrave; leur ligne &eacute;ditoriale.</p>
					<p>Il appartient &agrave; l&rsquo;auteur d&rsquo;un article d&rsquo;en conserver l&rsquo;original. Il ne saurait &ecirc;tre tenu grief aux Ourses &agrave; plumes d&rsquo;avoir, par leur volont&eacute;, par la mise &agrave; disposition du service ou les modalit&eacute;s d&rsquo;utilisation du service, port&eacute; atteinte &agrave; l&rsquo;int&eacute;grit&eacute; d&rsquo;une &oelig;uvre.</p>
					<p>{{= $org.name }} se r&eacute;servent le droit de refuser toute publication et/ou de supprimer tout ou partie d&rsquo;un article contraire aux pr&eacute;sentes conditions d&rsquo;utilisation, et ce, sans qu&rsquo;il ne soit en aucune mani&egrave;re port&eacute; atteinte au droit d&rsquo;auteur.</p>
					<p>Les articles publi&eacute;s, soit en nom propre, soit sous le couvert d&rsquo;un nom de plume, sont et demeurent la propri&eacute;t&eacute; de leur auteur qui en assume la pleine et enti&egrave;re responsabilit&eacute;.</p>
					<p>Un article publi&eacute; en co-&eacute;dition n&rsquo;est pas une &oelig;uvre de l&rsquo;esprit collaborative au sens juridique de la propri&eacute;t&eacute; intellectuelle. L&rsquo;auteur d&rsquo;un article publi&eacute; en co-&eacute;dition est celui qui soumet l&rsquo;article &agrave; publication. Les co-auteurs sont mentionn&eacute;s &agrave; titre de contributeurs et ne peuvent revendiquer aucun droit sur l&rsquo;&oelig;uvre.</p>
					<p>En cas de cession ou concession de ses droits patrimoniaux sur son &oelig;uvre, et dans l&rsquo;hypoth&egrave;se o&ugrave; sa publication ant&eacute;rieure <em>via</em> le service ferait obstacle &agrave; l&rsquo;exploitation de l&rsquo;&oelig;uvre par ses ayants droits, l&rsquo;auteur est tenu d&rsquo;en informer sans d&eacute;lai {{= $org.name }} afin qu&rsquo;il soit diligemment proc&eacute;d&eacute; au retrait de l&rsquo;&oelig;uvre litigieuse.</p>
					<h4 id="reply_right">Droit de r&eacute;ponse</h4>
					<p>Toute personne d&eacute;sign&eacute;e nomm&eacute;ment dans une publication soumise &agrave; l&rsquo;espace public <em>via</em> le service a droit &agrave; la rectification de toute information publi&eacute;e la concernant. Elle peut exercer son droit de r&eacute;ponse aupr&egrave;s des Ourses &agrave; plumes par <a href="{{= $org.mail}}" title="{{= $org.name}}" rel="contact">courrier &eacute;lectronique</a>.</p>
					<h4 id="legal_scope">Champ d&rsquo;application</h4>
					<p>Les pr&eacute;sentes conditions d&rsquo;utilisation s&rsquo;appliquent &agrave; tout utilisateur en conformit&eacute; au droit fran&ccedil;ais sur son territoire et &agrave; l&rsquo;&eacute;tranger. Elles ne sauraient engager {{= $org.name }} sur le fondement de r&egrave;gles d&rsquo;un droit autre que dans la mesure des conventions internationales &eacute;tablies entre la France et l&rsquo;&eacute;tranger.</p>
					<p>La juridiction comp&eacute;tente en cas de litige est celle d&eacute;pendante du ressort territorial d&eacute;termin&eacute; par la loi fran&ccedil;aise.</p>
					<h4 id="terms_evolution">&Eacute;volution des conditions</h4>
					<p>Poursuivant une logique d&rsquo;adaptation constante, les pr&eacute;sentes conditions d&rsquo;utilisation sont susceptibles d&rsquo;&ecirc;tre modifi&eacute;es &agrave; toute &eacute;poque afin de satisfaire aux &eacute;volutions juridiques et de se conformer au droit positif.</p>
					<p>Il appartient &agrave; l&rsquo;utilisateur de v&eacute;rifier qu&rsquo;il a eu connaissance des modifications qui auraient pu &ecirc;tre apport&eacute;es aux conditions d&rsquo;utilisation.</p>
				</section>