				<!--Terms of Use-->
				<section id="terms_of_use">

					<h2>Conditions d&rsquo;utilisation</h2>

					<h4>Acc&egrave;s au service</h4>

					<h4>Responsabilit&eacute; personnelle</h4>

					<h4>Limitations de responsabilit&eacute;</h4>

					<h4>Propri&eacute;t&eacute; intellectuelle</h4>

					<h4>Champ d&rsquo;application</h4>

				</section>