				<!--Thanks-->
				<section id="thanks">
					<div class="row">
						<div class="column small-24 medium-offset-2 medium-20 large-offset-4 large-16">
							<div class="panel radius callout text-large" style="margin-top: 1rem;">
								<p class="text-center">Cette page est dédiée à tou-te-s celles et ceux qui ont contribué à la réalisation de ce webzine féministe.</p>
								<p class="text-center">Un grand merci à vous tou-te-s !</p>
							</div>
						</div>
					</div>
					<h2 class="text-center orange" style="margin-top: 0; margin-bottom: 2.5rem;">Les Ourses &agrave; plumes remercient</h2>
					<div class="row">
						<div class="column small-24 medium-offset-1 medium-22 large-offset-2 large-20">
							<ul class="thanks-list">
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Andr&eacute;a</li>
								<li><span class="picture" data-image="img/thx/thx-anna_feher.jpg" tabindex="0"></span>Anna Feh&eacute;r</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Aude Gautheron</li>
								<li><span class="picture" data-image="img/thx/thx-aurore_valojitch.jpg" tabindex="0"></span>Aurore Valojitch</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>C&eacute;cile</li>
								<li><span class="picture" data-image="img/thx/thx-frederic_mahe.jpg" tabindex="0"></span>Fr&eacute;d&eacute;ric Mah&eacute;</li>
								<li><span class="picture" data-image="img/thx/thx-jb.jpg" tabindex="0"></span>JB.James.</li>
								<li><span class="picture" data-image="img/thx/thx-jo_de_mars.jpg" tabindex="0"></span>Jo de Mars</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Jo&euml;lle Palmieri</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Jules Falquet</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Justine_Adb</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Licia</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Lo&iuml;c</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>MagNad</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Marie Mazaudou</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Marie-Am&eacute;lie Massias</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Myriam</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Nico</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>PtitCheminot</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Salsifi</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Sarah</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Sarita</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>S&eacute;l&eacute;n&eacute;</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Shirenai</li>
								<li><span class="picture" data-image="img/thx/thx-default.jpg"></span>Solen</li>
								<li><span class="picture" data-image="img/thx/thx-tarik_safraoui.jpg" tabindex="0"></span>Tarik Safraoui</li>
								<li><span class="picture" data-image="img/thx/thx-veronique_g.jpg" tabindex="0"></span>V&eacute;ronique G.</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="column small-24 medium-offset-2 medium-20 large-offset-4 large-16">
							<p class="text-center" style="margin-bottom: .5rem;">Sans oublier tou-te-s celles et ceux qui ont particip&eacute; &agrave; la collecte sur <a href="http://fr.ulule.com/ourses-a-plumes/">Ulule</a> et nous manifestent leur soutien au quotidien&nbsp;!</p>
						</div>
					</div>
				</section>