		<!--Dev Toolbar-->
		<div id="toolbar" class="hide hide-for-print">
			<div class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1 class="text-white" style="margin-left: 1rem;">Dev Toolbar</a></h1>
					</li>
				</ul>
				<section class="top-bar-section">
					<nav class="toolbar-nav">
						<ul class="right">
							<li class="has-dropdown">
								<a href="javascript:void(0)">Dev Pages</a>
								<ul class="dropdown">
									<li><a href="{{= $app_root + 'dev_kitchen_sink.html'}}"><strong>Kitchen Sink</strong> <small class="text-silver">core</small></a></li>
									<li><a href="{{= $app_root + 'dev_templating.html'}}">JS templating <small class="text-silver">core</small></a></li>
									<li style="border-top: 1px solid dimgray;"><a href="{{= $app_root + 'dev_test_fieldset.html'}}">Fieldset <small class="text-silver">form</small></a></li>
									<li><a href="{{= $app_root + 'dev_test_textarea.html'}}">Textarea <small class="text-silver">form</small></a></li>
									<li><a href="{{= $app_root + 'dev_test_select.html'}}">Select <small class="text-silver">form</small></a></li>
									<li style="border-top: 1px solid dimgray;"><a href="{{= $app_root + 'dev_test_profile.html'}}">Profile <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app_root + 'dev_test_editor.html'}}">Editor <small class="text-silver">feature</small></a></li>
									<li><a href="{{= $app_root + 'dev_test_articles.html'}}">Articles List <small class="text-silver">feature</small></a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="javascript:void(0)">Dev Features</a>
								<ul class="dropdown">
									<!--UNUSED-->
									<!--<li><a href="javascript:void(0)" id="_crystal_scheme_toggle">Crystal Scheme</a></li>-->
									<li><a href="javascript:void(0)" id="_null_links_toggle">Null Links</a></li>
									<li><a href="javascript:void(0)" id="_css_fx_toggle">CSS effects</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="javascript:void(0)">CSS Debug</a>
								<ul class="dropdown">
									<li><a href="javascript:void(0)" id="_css_debug_icons_toggle">Icons</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_nav_pane_toggle">Nav Pane</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_fast_nav_toggle">Fast Nav</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_site_nav_toggle">Site Nav</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_orbit_slider_toggle">Orbit Slider</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_breadcrumbs_toggle">Breadcrumbs</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_accessibility_toggle">Accessibility</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_user_account_toggle">User Account</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_article_toggle">Articles</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_articles_list_toggle">Articles List</a></li>
									<li><a href="javascript:void(0)" id="_css_debug_comment_list_toggle">Comments</a></li>
								</ul>
							</li>
							<li><a href="javascript:void(0)" id="_toolbar_stick_toggle">Toolbar</a></li>
							<li><span class="hide">Close</span><a href="javascript:void(0)" class="close"></a></li>
						</ul>
					</nav>
				</section>
			</div>
		</div>