				<!--User Profile-->
				<section id="user-update-profile">
					<!--First Row-->
					<div class="row panel radius user-profile">
						<!--First Column-->
						<div class="column small-12 medium-5 large-4 text-center">
							<!--User picture-->
							<span class="picture large cover radius max-height" data-image="{{= data.avatar.path}}">{{= data.pseudo }}</span>
						</div>
						<!--Second Column-->
						<div class="column small-12 medium-7 large-8">
							<div class="clearfix" style="position: relative;">
								<!--Pseudo-->
								<input id="pseudo" class="user-name" type="text" value="{{= data.pseudo }}" class="validation-icon disable" title="Nom d&rsquo;utilisatrice" placeholder="Votre nom d&rsquo;utilistratice">
								<small id="pseudoError" class="error hide">Le nom d&rsquo;utilistatrice doit obligatoirement &ecirc;tre renseign&eacute;</small>
								<!--Role-->
								<h4 id="role" class="user-role">{{= window.localStorage.getItem($oursesUserRole) }}</h4>
							</div>
							<!--User links-->
							<div id="user-link">
								<span class="prefix text-small left"></span>
								<input class="left" type="text" placeholder="L&rsquo;URL de votre lien">
							</div>
							<ul id="user_links_icons" class="inline-list block">
								<li><a href="javascript:void(0)" class="icon-mail medium" title="adresse email">Mail</a></li>
								<li><a href="javascript:void(0)" class="icon-link medium" title="blog ou page perso" data-url-prefix="http://">Link</a></li>
								<li><a href="javascript:void(0)" class="icon-twitter medium" title="compte Twitter" data-url-prefix="https://www.twitter.com/">Twitter</a></li>
								<li><a href="javascript:void(0)" class="icon-facebook medium" title="compte Facebook" data-url-prefix="https://www.facebook.com/">Facebook</a></li>
								<li><a href="javascript:void(0)" class="icon-googleplus medium" title="page Google+" data-url-prefix="https://plus.google.com/">GooglePlus</a></li>
								<li><a href="javascript:void(0)" class="icon-linkedin medium" title="profil LinkedIn" data-url-prefix="https://www.linkedin.com/">LinkedIn</a></li>
							</ul>
							<!--Description-->
							<textarea id="description" class="user-desc min disable" maxlength="1000" placeholder="Votre description (1000 caract&egrave;res maximum)">{{= data.description }}</textarea>
						</div>
					</div>
				</section>