				<!--User Nav-->
				<nav class="user-nav hide">
					<h3 class="hide">Menu utilisateur</h3>
					<h4 class="user-name">{{= $user_name }}</h4>
					<ul class="clearfix">
						<li><span class="picture medium" data-image="usr/{{= $user_picture }}">Image</span></li>
						<li><a href="profile.html#user-profile">Mon profil</a></li>
						<li><a href="javascript:void(0)" class="disabled">R&eacute;diger un article</a></li>
						<li><a href="javascript:void(0)" class="disabled">Publier un article</a></li>
						<li class="small"><a href="javascript:void(0)" class="disabled"><s>Modifier les cat&eacute;gories</s></a></li>
						<li class="small"><a href="javascript:void(0)" class="disabled"><s>Modifier les rubriques</s></a></li>
						<li><a href="users.html">Lister les comptes</a></li>
						<li><a href="bug-tracker.html">Signaler un bug</a></li>
						<li class="text-large"><a href="javascript:void(0)" class="connect-switch no-current red">D&eacute;connexion</a></li>
					</ul>
				</nav>