					<div class="validation-bar clearfix">
						<span class="text-tiny text-steel left hide-for-touch"><kbd class="text-medium">Ctrl+Enter</kbd> pour valider. <kbd class="text-medium">Esc</kbd> pour annuler.</span>
						<div class="right">
							<a class="icon-confirm small" title="Valider" data-valid><span class="hide">Valider</span></a>
							<a class="icon-cancel small" title="Annuler" data-cancel><span class="hide">Annuler</span></a>
						</div>
					</div>