					<!--Validation Bar-->
					<div class="validation-bar clearfix">
						<span class="text-tiny text-steel left hide-for-touch"><kbd class="text-medium">Ctrl+Enter</kbd> pour valider. <kbd class="text-medium">Esc</kbd> pour annuler.</span>
						<ul class="inline-list right">
							<li><a class="icon-reply small white" title="Valider" data-valid>Valider</a></li>
							<li><a class="icon-undefined small white" title="Annuler" data-cancel>Annuler</a></li>
						</ul>
					</div>