					<!--Facebook Likebox-->
					<div class="hide-for-small" style="width: 100%; height: 182px; overflow: hidden;">
						<iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FLes-Ourses-%25C3%25A0-plumes%2F223829591145074&#038;colorscheme=light&#038;show_faces=true&#038;stream=false&#038;show_border=false&#038;header=false&#038;force_wall=false" scrolling="no" frameborder="0" style="width: 100%; height: 236px;"></iframe>
					</div>