					<!--Twitter Timeline Plugin-->
					<div style="width: 100%; overflow: hidden;">
						<div class="twitter-timeline" data-widget-id="459348418981134337" data-tweet-limit="{{= $conf.timeline.tweet_limit }}" data-theme="{{= $conf.timeline.theme }}" data-link-color="{{= $conf.timeline.link_color }}" data-border-color="{{= $conf.timeline.border_color }}" width="282"></div>
					</div>