<!DOCTYPE html>
<!--
 !-- VERSION
 !-- Les Ourses à plumes
 !-- HTLM Template File
 !-- ver. alpha 1
  -->

<html class="no-js" lang="fr">

  <head>

    <!-- Meta Data -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Document Title -->
    <title>Les Ourses à plumes • Alpha 1</title>

    <!-- Style Sheets -->
    <!--[if gte IE 9]>
      <style type="text/css">.gradient{filter:none;}</style>
    <![endif]-->
    <link href="css/foundation.css" rel="stylesheet" />
    <link href="css/loap-standard.css" rel="stylesheet" />
    <link href="css/loap-responsive.css" rel="stylesheet" />
    <link href="css/loap-fx.css" rel="stylesheet" />

    <!-- Favorite Icon -->
    <link href="img/ico/loap-icon.png" type="image/x-icon" rel="icon" />

    <!-- Pre Loading Scripts -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/modernizr.js"></script>

  </head>

  <body>

    <!------------------------------------------------------------------------->
    <!-- Container -->
    <!------------------------------------------------------------------------->

    <div class="wrapper">

      <!----------------------------------------------------------------------->
      <!-- Sidebar -->
      <!----------------------------------------------------------------------->

     <aside class="sidebar text-center">

        <!-- Logo -->
        <div class="logo">
          <a href="#"><img src="img/svg/logo.svg" alt="Les Ourses à plumes" /></a>
        </div>

        <!-- Search -->
        <h4 class="hide">Rechercher</h4>
        <div id="_search_form" class="row collapse search">
          <div class="column">
            <input type="text" placeholder="Rechercher&hellip;">
          </div>
          <div class="hide">
            <button class="button postfix">Recherche</button>
          </div>
        </div>

        <!-- Connect -->
        <h4 id="_auth_toggle" class="">Authentification</h4>
        <div id="_auth_form" class="row collapse auth hide">
          <div class="column">
            <input type="text" placeholder="Nom d&rsquo;utilisateur ou Adresse mail">
          </div>
          <div class="column small-8 medium-8 large-8">
            <input type="password" placeholder="Mot de passe">
          </div>
          <div class="column small-4 medium-4 large-4">
            <button id="_connect_switch" class="button small postfix">Connexion</button>
          </div>
        </div>

        <!-- User Nav -->
        <h4 class="hide">Menu utilisateur</h4>
        <nav class= "usernav clearfix hide">
          <h5>Nom d&rsquo;utilisateur</h5>
          <ul>
            <li id="_disconnect_switch" class="large"><a href="#" class="red">D&eacute;connexion</a></li>
            <li class=""><a href="#">Mon profil</a></li>
            <li class=""><a href="#">R&eacute;diger un article</a></li>
            <li class=""><a href="#">Publier un article</a></li>
            <li class=""><a href="#"><s>Modifier les cat&eacute;gories</s></a></li>
            <li class=""><a href="#"><s>Modifier les rubriques</s></a></li>
            <li class=""><a href="#">Lister les comptes</a></li>

          </ul>
        </nav>

        <hr>

        <!-- Navigation -->
        <h4 class="hide">Navigation</h4>
        <nav class="sidenav">
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">&Agrave; la une</a></li>
            <li><a href="#" id="_cat_toggle">Articles</a></li>
            <ul id="_cat_list" class="hide">
              <li><a href="#">Br&egrave;ves</a></li>
              <li><a href="#">Reportages</a></li>
              <li><a href="#">Dossiers</a></li>
              <li><a href="#">Spotlights</a></li>
              <li><a href="#">Interviews</a></li>
              <li><a href="#">Tribunes</a></li>
              <li><a href="#">Revues du web</a></li>
            </ul>
            <!--
            <li><a href="#">Rechercher</a></li>
            -->
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

      </aside>

      <!--<hr class="hide">-->

      <!----------------------------------------------------------------------->
      <!-- Content -->
      <!----------------------------------------------------------------------->

      <div class="content">

        <!--------------------------------------------------------------------->
        <!-- Header -->
        <!--------------------------------------------------------------------->

        <header class="header text-center">

          <!-- Rubrics -->
          <h4 class="hide">Rubriques</h4>
          <nav class="supnav">
            <ul class="inline-list">
              <li class="orange"><a href="#">Luttes</a></li>
              <li class="magenta"><a href="#">Nos corps, nous-m&ecirc;mes</a></li>
              <li class="red"><a href="#">Intersectionnalit&eacute;</a></li>
              <li class="blue"><a href="#">International</a></li>
              <li class="cyan"><a href="#">&Eacute;ducation &amp; Culture</a></li>
              <li class="purple"><a href="#">Id&eacute;es</a></li>
            </ul>
          </nav>

          <!-- News List -->
          <h4 class="hide">Actualit&eacute;s</h4>
          <div class="hide-for-small">
            <ul data-orbit data-options="
              animation:slide;
              timer_speed:4000;
              pause_on_hover:false;
              animation_speed:500;
              navigation_arrows:true;
              bullets:false;">

              <!-- Orbit Slider Headline # 1 -->
              <li data-orbit-slide="headline-1">
                <div class="orbit-image">
                  <img src="img/pub/afp_mlf_1982_paris.jpg" alt="AFP MLF 1982 Paris">
                </div>
                <div class="orbit-caption">
                  Manifestation du MLF contre le travail &agrave; temps partiel, 6 mars 1982 &agrave; Paris, AFP-FAGET
                </div>
              </li>

              <!-- Orbit Slider Headline # 2 -->
              <li data-orbit-slide="headline-2">
                <div class="headline magenta">
                  <h3>&laquo;&#8239;Casse-toi pov&rsquo; con&#8239;&raquo; en cinq le&ccedil;ons&nbsp;!</h3>
                  <h6>Les mots justes pour rembarrer les relous et les astuces pour pas se faire p&eacute;cho&nbsp;!</h6>
                </div>
              </li>

              <!-- Orbit Slider Headline # 3 -->
              <li data-orbit-slide="headline-3">
                <div class="orbit-image">
                  <img src="img/pub/mouzon_la_barbe_2012_paris.jpg" alt="Mouzon La Barbe 2012 Paris" />
                </div>
                <div class="orbit-caption">
                  Action du groupe f&eacute;ministe La Barbe, 14 juillet 2012 &agrave; Paris (Place de la Nation), C&eacute;line Mouzon
                </div>
              </li>

              <!-- Orbit Slider Headline # 4 -->
              <li data-orbit-slide="headline-4">
                <div class="headline red">
                  <h3>Entretien avec Vandana Shiva&nbsp;!</h3>
                  <h6>&laquo;&#8239;Sous le patriarcat capitaliste, le développement technologique progresse sans répit&hellip;&#8239;&raquo;</h6>
                </div>
              </li>

              <!-- Orbit Slider Headline # 5 -->
              <li data-orbit-slide="headline-5">
                <div class="orbit-image">
                  <img src="img/pub/afp_femen_2013_madrid.jpg" alt="AFP Femen 2013 Madrid" />
                </div>
                <div class="orbit-caption">
                  Militantes du Femen devant une &eacute;glise, 23 d&eacute;cembre 2013 &agrave; Madrid, P.-P. Marcou pour AFP
                </div>
              </li>

              <!-- Orbit Slider Headline # 6 -->
              <li data-orbit-slide="headline-6">
                <div class="headline cyan">
                  <h3>Les quenelles de la col&egrave;re&#8239;: indignez-vous&nbsp;!</h3>
                  <h6>D&eacute;couvrez un remake moderne et pol&eacute;mique du chef d&rsquo;&oelig;uvre de Steinbeck&nbsp;!</h6>
                </div>
              </li>
            </ul>
          </div>

          <!-- Breadcrumbs -->
          <h4 class="hide">Fil d&rsquo;Ariane</h4>
          <div>
            <ul class="breadcrumbs">
              <li><a href="#">Accueil</a></li>
              <li class="unavailable"><a href="#">&Agrave; propos</a></li>
              <li class="current"><a href="#">Pr&eacute;sentation</a></li>
            </ul>
          </div>

          <!-- Accessibility -->
          <h4 class="hide">Accessibilit&eacute;</h4>
          <div class="accessibility">
            <ul class="right inline-list icons-access">
              <li><a href="#"><span class="icon-brightness">Contraste</span></a></li>
              <li><a href="#"><span class="icon-text-increase">Plus grand</span></a></li>
              <li><a href="#"><span class="icon-text-decrease">Plus petit</span></a></li>
              <li><a href="#"><span class="icon-print">Imprimer</span></a></li>
            </ul>
          </div>

        </header>

        <hr>

        <!--------------------------------------------------------------------->
        <!-- Body -->
        <!--------------------------------------------------------------------->

        <div class="body">

          <div data-alert class="alert-box radius text-center">
            <span data-tooltip title="Vous pouvez fermer cette bo&icirc;te de dialogue en cliquant sur la croix &agrave; droite" class="has-tip tip-bottom">Les Ourses &agrave; plumes &ndash; Gabarit HTML ver. Alpha 1</span>
            <a href="#" class="close">&times;</a>
          </div>

          <dl class="accordion" data-accordion>
            <dd>

              <a href="#panel1" class="">TEST</a>

              <!-- Accordion Panel 1-->
              <div id="panel1" class="content">

                <!-- TEST section -->
                <section>

                  <!-- Typography -->
                  <h2>Typographie</h2>

                  <!-- Titles -->
                  <h4>Titres</h4>
                  <h6>Titre de niveau 6 <small><sup>75%</sup></small></h6>
                  <h5>Titre de niveau 5 <small><sup>83%</sup></small></h5>
                  <h4>Titre de niveau 4 <small><sup>100%</sup></small></h4>
                  <h3>Titre de niveau 3 <small><sup>117%</sup></small></h3>
                  <h2>Titre de niveau 2 <small><sup>150%</sup></small></h2>
                  <h1>Titre de niveau 1 <small><sup>200%</sup></small></h1>

                  <!-- Paragraphs -->

                  <!-- Links -->
                  <h4>Liens hypertextes</h4>
                  <p>Ceci est un <a href="#">hyperlien</a></p>
                  <p>Ceci est un hyperlien vers la rubrique <a href="#" class="red">Intersectionnalit&eacute;</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="orange">Luttes</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="yellow">&lt;inutilis&eacute;&gt;</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="green">&lt;inutilis&eacute;&gt;</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="cyan">&Eacute;ducation &amp; Culture</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="blue">International</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="magenta">Nos corps, nous-m&ecirc;mes</a><br>
                  Ceci est un hyperlien vers la rubrique <a href="#" class="purple">Idé&eacute;s</a></p>

                  <!-- Quotations -->
                  <h4>Citations</h4>
                  <blockquote>Sous le patriarcat capitaliste, le d&eacute;veloppement technologique [&hellip;] progresse sans r&eacute;pit de ce qu&rsquo;il a transform&eacute; et &eacute;puis&eacute; vers ce qu&rsquo;il a n&rsquo;a pas encore consomm&eacute; &mdash; <span class="author">Vandana Shiva</span></blockquote>
                  <p>L&rsquo;apparition du slogan <q>Un enfant si je veux, quand je veux</q> est concomitant de la publication du <cite>Manifeste des 343</cite> r&eacute;dig&eacute; par <span class="author">Simone de Beauvoir</span>.</p>

                  <!-- Abbreviations and Acronyms -->
                  <h4>Abr&eacute;viations et acronymes</h4>
                  <p>Le mouvement f&eacute;ministe am&eacute;ricain <abbr title="National Organization for Women">NOW</abbr> a &eacute;t&eacute; fond&eacute; en 1966 par <span class="author">Betty Friedan</span>. Son pendant fran&ccedil;ais, le <acronym title="Mouvement de lib&eacute;ration des femmes">MLF</acronym>, a &eacute;t&eacute; form&eacute; au cours des ann&eacute;es 1968.<p>

                  <!-- Formatted Texts -->
                  <h4>Texte enrichi</h4>
                  <pre>
def helloworld (universe) {
  for each @world in universe do {
    print "hello"
  }
}</pre>
                  <p>La variable <var>universe</var> est locale tandis que la variable <var>@world</var> est instanci&eacute;e.</p>
                  <p>La m&eacute;thode <code>print "hello"</code> va sortir <samp>hello</samp> sur la console de l&rsquo;application.</p>
                  <p><span class="label radius">Astuce</span> Vous pouvez appuyer sur la touche <kbd>Tab</kbd> et sur <kbd>Shift+Tab</kbd> pour naviguer.</p>

                  <!-- Alert Boxes -->
                  <h4>Bo&icirc;tes d&rsquo;alerte</h4>
                  <div class="row">
                    <div class="column small-6 medium-4 large-3">
                      <div data-alert class="alert-box text-center">Primaire<a href="#" class="close">&times;</a></div>
                    </div>
                    <div class="column small-6 medium-4 large-3">
                      <div data-alert class="alert-box secondary text-center">Secondaire<a href="#" class="close">&times;</a></div>
                    </div>
                    <div class="column small-6 medium-4 large-3">
                      <div data-alert class="alert-box success text-center">Succ&egrave;s<a href="#" class="close">&times;</a></div>
                    </div>
                    <div class="column small-6 medium-4 large-3">
                      <div data-alert class="alert-box alert text-center">Alerte<a href="#" class="close">&times;</a></div>
                    </div>
                    <div class="column small-6 medium-4 large-6">
                      <div data-alert class="alert-box warning text-center">Attention<a href="#" class="close">&times;</a></div>
                    </div>
                    <div class="column small-6 medium-4 large-6">
                      <div data-alert class="alert-box info text-center">Info<a href="#" class="close">&times;</a></div>
                    </div>
                  </div>

                  <!-- Labels -->
                  <h4>&Eacute;tiquettes</h4>
                  <p>
                    <span class="label">D&eacute;faut</span>
                    <span class="label radius">Arrondi</span>
                    <span class="label round">Rond</span>
                    <span class="label secondary">Secondaire</span>
                    <span class="label success">Succ&egrave;s</span>
                    <span class="label alert">Alerte</span>
                  </p>

                  <!-- Form -->
                  <h4>Formulaires</h4>
                  <form>
                    <fieldset>
                      <legend>Cr&eacute;ation d&rsquo;un compte</legend>
                      <form id="bearAccount" onsubmit="return createBearAccount()">
                        <div class="row">
                          <div class="column medium-4 large-push-2 large-2">
                            <label for="pseudo">Pseudo&#8239;:</label>
                          </div>
                          <div class="column medium-8 large-pull-2 large-6">
                            <input id="pseudo" type="text" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="column medium-4 large-push-2 large-2">
                            <label for="mail">Adresse mail&#8239;:</label>
                          </div>
                          <div class="column medium-8 large-pull-2 large-6">
                            <input id="mail" type="text" required="required"
                              pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="column medium-4 large-push-2 large-2">
                            <label for="password">Mot de passe&#8239;:</label>
                          </div>
                          <div class="column medium-8 large-pull-2 large-6">
                            <input id="password" type="text" required="required" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="column medium-4 large-push-2 large-2">
                              <label for="description">Description&#8239;:</label>
                          </div>
                          <div class="column medium-8 large-pull-2 large-6">
                            <textarea id="description" maxlength="1000"></textarea>
                          </div>
                        </div>
                        <div class="row">
                          <div class="column medium-4 large-push-2 large-2">
                            <label for="role">R&ocirc;le&#8239;:</label>
                          </div>
                          <div class="column medium-8 large-pull-2 large-6">
                            <select id="role" >
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="column medium-offset-4 medium-8 large-offset-4 large-6 text-right">
                            <input id="confirm" type="submit" value="Créer le compte" class="button" />
                          </div>
                        </div>
                      </form>
                    </fieldset>
                  </form>

                  <!-- Buttons -->
                  <h2>Boutons</h2>
                  <h4>Position</h4>
                  <div>
                    <span class="button expand">&Eacute;tendu</span>
                  </div>
                  <div>
                    <span class="button left-align">&Agrave; gauche</span>
                    <span style="margin-left: .5rem; font-weight: bold; color: darkred;">BUG</span> &rarr; Not to be used &hellip; Use .left class or float property instead.
                  </div>
                  <div>
                    <span class="button right-align">&Agrave; droite</span>
                    <span style="margin-left: .5rem; font-weight: bold; color: darkred;">BUG</span> &rarr; Not to be used &hellip; Use .right class or float property instead.
                  </div>
                  <h4>Types</h4>
                  <div class="column small-8">
                    <ul class="button-group">
                      <li class="button">D&eacute;faut</li>
                      <li class="button secondary">Secondaire</li>
                      <li class="button success">Succ&egrave;s</li>
                      <li class="button alert">Alerte</li>
                    </ul>
                  </div>
                  <div class="column small-4 text-center">
                      <span class="button disabled">D&eacute;sactiv&eacute;</span>
                  </div>
                  <h4>Taille</h4>
                  <div class="row text-center">
                    <div class="column small-3">
                      <span class="button tiny">Minuscule</span>
                    </div>
                    <div class="column small-3">
                      <span class="button small">Petit</span>
                    </div>
                    <div class="column small-3">
                      <span class="button">D&eacute;faut</span>
                    </div>
                    <div class="column small-3">
                      <span class="button large">Grand</span>
                    </div>
                  </div>
                  <h4>Forme</h4>
                  <div class="row text-center">
                    <div class="column small-4">
                      <span class="button">D&eacute;faut</span>
                    </div>
                    <div class="column small-4">
                      <span class="button radius">Arrondi</span>
                    </div>
                    <div class="column small-4">
                      <span class="button round">Rond</span>
                    </div>
                  </div>

                  <!-- Media Support -->
                  <h2>M&eacute;dias</h2>

                  <!-- Clearing Lightbox -->
                  <h4>Thumbnails <small>Clearing Lightbox</small></h4>
                  <ul class="clearing-thumbs" data-clearing>
                    <li><a href="img/web/martine_decouvre_le_kamasutra_by_martine_cover_generator.jpg" class="th radius medium"><img src="img/web/martine_decouvre_le_kamasutra_by_martine_cover_generator.jpg" data-caption="Martine Cover Generator"></a></li>
                    <li><a href="img/web/martine_denonce_ses_voisins_communistes_by_martine_cover_generator.jpg" class="th radius medium"><img src="img/web/martine_denonce_ses_voisins_communistes_by_martine_cover_generator.jpg" data-caption="Martine Cover Generator"></a></li>
                    <li><a href="img/web/martine_merde_ma_pilule_by_martine_cover_generator.jpg" class="th radius medium"><img src="img/web/martine_merde_ma_pilule_by_martine_cover_generator.jpg" data-caption="Martine Cover Generator"></a></li>
                    <li><a href="img/web/martine_na_plus_de_pq_mais_improvise_by_martine_cover_generator.jpg" class="th radius medium"><img src="img/web/martine_na_plus_de_pq_mais_improvise_by_martine_cover_generator.jpg" data-caption="Martine Cover Generator"></a></li>
                    <li><a href="img/web/martine_shabille_comme_diams_by_martine_cover_generator.jpg" class="th radius medium"><img src="img/web/martine_shabille_comme_diams_by_martine_cover_generator.jpg" data-caption="Martine Cover Generator"></a></li>
                    <li><a href="img/web/martine_travaille_plus_pour_gagner_plus_by_martine_cover_generator.jpg" class="th radius medium"><img src="img/web/martine_travaille_plus_pour_gagner_plus_by_martine_cover_generator.jpg" data-caption="Martine Cover Generator"></a></li>
                  </ul>

                  <!-- Flex Video -->
                  <h4>Vid&eacute;os intégr&eacute;es <small>Flex Video</small></h4>
                  <div class="flex-video">
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/Xrh91gmh3_s?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>

                </section>

              </div>
            </dd>
            <dd>

              <a href="#panel2" class="current">&Eacute;dito [article]</a>

              <!-- Accordion Panel 2-->
              <div id="panel2" class="content active">

                <!-- Standard Section -->
                <section>

                  <!-- Section Title -->
                  <h2>Pr&eacute;sentation</h2>

                  <!-- Call Out -->
                  <div class="panel callout text-center">
                    <h5>Exprimez librement votre droit d&rsquo;&ecirc;tre femme</h5>
                    <h2 class="subheader"><a href="#">Devenez r&eacute;dactrice&nbsp;!</a></h2>
                  </div>

                  <!-- Article -->
                  <article>

                    <!-- Article Header -->
                    <header>
                      <h3 class="title">Les Ourses &agrave; plumes, une br&egrave;ve pr&eacute;sentation du projet</h3>
                      <h4 class="author magenta">La r&eacute;daction</h4>
                      <div class="date"><time datetime="2014-02-01">Publi&eacute; le 8 mars 2014</time></div>
                      <div class="summary">
                        <span class="label secondary">En bref</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut fermentum neque, vitae porta nibh. Nulla facilisi. Ut malesuavda velit quis magna cursus imperdiet. Aenean sed libero mollis orci sagittis sodales. Duis sed blandit tellus. Praesent diam velit, rutrum ut mauris et, posuere euismod nulla. Cras tincidunt magna et libero feugiat, tincidunt eleifend massa convallis.
                      </div>
                    </header>

                    <!-- Article Body -->
                    <div class="row">
                      <div class="column medium-6 large-offset-2 large-4">
                        <p><strong>Aujourd&rsquo;hui nous avons le projet de cr&eacute;er une revue f&eacute;ministe en ligne</strong>, un site internet d&rsquo;actualit&eacute; et de r&eacute;flexion. L&rsquo;espace &eacute;tait libre, nous avons saisi l&rsquo;opportunit&eacute; de le remplir pour traiter de l&rsquo;&eacute;mancipation des femmes sous tous ses aspects.</p>
                        <p class="collide">Nous voulons nous adresser &agrave; un public large, d&eacute;passant les mondes militant et universitaire. Nous avons l&rsquo;ambition d&rsquo;en faire un lieu d&rsquo;&eacute;changes et d&rsquo;&eacute;laboration, en &eacute;tant compr&eacute;hensibles de tou-te-s, avec des r&eacute;f&eacute;rences explicit&eacute;es.</p>
                        <p><strong>Notre ligne &eacute;ditoriale s&rsquo;ancre dans les f&eacute;minismes mat&eacute;rialiste et lutte de classes</strong>&#8239;: antipatriarcal et anticapitaliste.</p>
                        <p class="collide">L&rsquo;intersectionnalit&eacute; est au c&oelig;ur de notre d&eacute;marche&#8239;: nous nous inscrivons &agrave; la fois dans les luttes contre le sexisme, le racisme (dont l&rsquo;islamophobie), la lesbophobie, la biphobie, la transphobie, et l&rsquo;handiphobie, et dans la lutte de classes. Nous faisons &eacute;galement le lien, sans essentialisme, avec les luttes &eacute;cologistes.</p>
                        <p class="collide">Nous avons &agrave; c&oelig;ur de mettre en valeur les luttes d&rsquo;hier, d&rsquo;aujourd&rsquo;hui et de demain.</p>
                      </div>
                      <div class="column medium-6 large-pull-2 large-4">
                        <p><strong>Les types de contenus du site seront vari&eacute;s au possible</strong>, laissant la porte ouverte aux id&eacute;es nouvelles.</p>
                        <p class="collide">Nous accueillerons des tribunes de diff&eacute;rent-e-s actrices /acteurs du f&eacute;minisme et d&rsquo;autres th&eacute;matiques li&eacute;es, mais aussi des reportages, des dossiers, des portraits, des analyses, des r&eacute;sum&eacute;s d&rsquo;articles ou d&rsquo;ouvrages universitaires, des interviews, des critiques, des photographies, des dessins, des comptes-rendus de manifestations culturelles ou politiques&hellip;</p>
                        <p class="collide">Une rubrique sera d&eacute;di&eacute;e &agrave; ce qui se passe ailleurs dans le monde, avec notamment des traductions. Nous ne nous interdisons aucun sujet : une place sera laiss&eacute;e aux sujets &laquo;&#8239;d&eacute;cal&eacute;s&#8239;&raquo;, qui vont sur des territoires encore inexplor&eacute;s ou avec des angles d&rsquo;attaques originaux. Une revue du web sera aussi propos&eacute;e r&eacute;guli&egrave;rement.</p>
                        <p><strong>Nous voulons ce projet participatif</strong>, c&rsquo;est pourquoi nous ouvrons la possibilit&eacute; d&rsquo;y proposer des articles d&egrave;s lors que ces derniers respectent nos valeurs (et les crit&egrave;res de fond et de forme), et de contribuer &agrave; l&rsquo;&eacute;laboration d&rsquo;un agenda f&eacute;ministe culturel et militant.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="column medium-8 medium-centered large-6 large-uncentered panel radius">
                        <p><em>Les Ourses &agrave; plumes</em> ont vocation &agrave; devenir une interface d&rsquo;&eacute;changes,</strong> d&rsquo;&eacute;laboration, de partage, pour contribuer, &agrave; notre &eacute;chelle &agrave; l&rsquo;essor du f&eacute;minisme. N&rsquo;h&eacute;sitez pas &agrave; nous contacter pour participer &agrave; l&rsquo;aventure&#8239;: <a href="mailto:oursesaplumes@gmail.com.">oursesaplumes@gmail.com.</a></p>
                      </div>
                      <div class="column large-6 text-center">
                        <img src="img/web/owlbear_by_joel_carroll_2009.jpg" alt="Ours-hibou" style="width: 300px;" />
                        <span class="hide">Par <a href="http://www.joelcarroll.com/" rel="author">Joel Carroll</a>, <time>2009</time></span>
                      </div>
                    </div>
                  </article>

                </section>

            </dd>
            <dd>

              <a href="#panel3" class="">&Agrave; la une [grid-block-list]</a>

              <!-- Accordion Panel 3-->
              <div id="panel3" class="content">

                <!-- Section Title -->
                <h2>&Agrave; la une</h2>

                <!-- Articles List -->
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 articles-list">

                  <!-- Articles List Item #1 -->
                  <li>
                    <h4 class="cyan">&Eacute;ducation &amp; Culture</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;1</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;1</li>
                    </ul>
                    <div class="href-block clearfix cyan">
                      <h4 class="title">Du nouveau chez Grammarion&nbsp;! Un ouvrage de r&eacute;f&eacute;rence &agrave; conseiller d&rsquo;urgence &agrave; tous vos proches&nbsp;!</h4>
                      <p class="summary">
                        <time datetime="2014-02-28" class="left date">28 f&eacute;vrier 2014<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Jacqueline Veille</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #2 -->
                  <li>
                    <h4 class="magenta">Nos corps, nous-m&ecirc;mes</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;22</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;3</li>
                    </ul>
                    <div class="href-block clearfix magenta">
                      <h4 class="title">Aide-m&eacute;moire&#8239;: la contraception pour les nulles</h4>
                      <p class="summary">
                        <time datetime="2014-02-23" class="left date">23 f&eacute;vrier 2014<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Francine Tuperware</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #3 -->
                  <li>
                    <h4 class="orange">Luttes</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;13</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;5</li>
                    </ul>
                    <div class="href-block clearfix orange">
                      <h4 class="title">Au boulot les filles&nbsp;!</h4>
                      <p class="summary">
                        <time datetime="2014-01-15" class="left date">15 janvier 2014<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Fernande Raymond</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #4 -->
                  <li>
                    <h4 class="cyan">&Eacute;ducation &amp; Culture</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;1</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;0</li>
                    </ul>
                    <div class="href-block clearfix cyan">
                      <h4 class="title">Les sanglots longs des violons</h4>
                      <p class="summary">
                        <time datetime="2013-12-03" class="left date">3 d&eacute;cembre 2013<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Jeanne-Claude Duss</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #5 -->
                  <li>
                    <h4 class="magenta">Nos corps, nous m&ecirc;mes</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;17</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;4</li>
                    </ul>
                    <div class="href-block clearfix magenta">
                      <h4 class="title">Le monologue du pubis</h4>
                      <p class="summary">
                        <time datetime="2013-12-01" class="left date">1<sup>er</sup> d&eacute;cembre 2013<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Francine Tuperware</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                </ul>

              </div>
            </dd>

            <dd>

              <a href="#panel4" class="">&Agrave; la une [block-list]</a>

              <!-- Accordion Panel 4-->
              <div id="panel4" class="content">

                <!-- Section Title -->
                <h2>&Agrave; la une</h2>

                <!-- Articles List -->
                <ul class="no-bullet articles-list">

                  <!-- Articles List Item #1 -->
                  <li>
                    <h4 class="cyan">&Eacute;ducation &amp; Culture</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;1</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;1</li>
                    </ul>
                    <div class="href-block clearfix cyan">
                      <h4 class="title">Du nouveau chez Grammarion&nbsp;! Un ouvrage de r&eacute;f&eacute;rence &agrave; conseiller d&rsquo;urgence &agrave; tous vos proches&nbsp;!</h4>
                      <p class="summary">
                        <time datetime="2014-02-28" class="left date">28 f&eacute;vrier 2014<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Jacqueline Veille</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #2 -->
                  <li>
                    <h4 class="magenta">Nos corps, nous-m&ecirc;mes</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;22</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;3</li>
                    </ul>
                    <div class="href-block clearfix magenta">
                      <h4 class="title">Aide-m&eacute;moire&#8239;: la contraception pour les nulles</h4>
                      <p class="summary">
                        <time datetime="2014-02-23" class="left date">23 f&eacute;vrier 2014<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Francine Tuperware</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #3 -->
                  <li>
                    <h4 class="orange">Luttes</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;13</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;5</li>
                    </ul>
                    <div class="href-block clearfix orange">
                      <h4 class="title">Au boulot les filles&nbsp;!</h4>
                      <p class="summary">
                        <time datetime="2014-01-15" class="left date">15 janvier 2014<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Fernande Raymond</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #4 -->
                  <li>
                    <h4 class="cyan">&Eacute;ducation &amp; Culture</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;1</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;0</li>
                    </ul>
                    <div class="href-block clearfix cyan">
                      <h4 class="title">Les sanglots longs des violons</h4>
                      <p class="summary">
                        <time datetime="2013-12-03" class="left date">3 d&eacute;cembre 2013<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Jeanne-Claude Duss</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                  <!-- Articles List Item #5 -->
                  <li>
                    <h4 class="magenta">Nos corps, nous m&ecirc;mes</h4>
                    <ul class="right inline-list icons-share hide-for-small">
                      <li><span class="icon-facebook">Facebook&#8239;:</span>&nbsp;17</li>
                      <li><span class="icon-googleplus">GooglePlus&#8239;:</span>&nbsp;4</li>
                    </ul>
                    <div class="href-block clearfix magenta">
                      <h4 class="title">Le monologue du pubis</h4>
                      <p class="summary">
                        <time datetime="2013-12-01" class="left date">1<sup>er</sup> d&eacute;cembre 2013<span class="hide">&#8239;&ndash;</span></time>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus lorem eu justo fermentum tristique. Nam bibendum, tortor massa nunc.
                        <span class="right author"><strong>Francine Tuperware</strong></span>
                      </p>
                      <a href="#">Lire l&rsquo;article</a>
                    </div>
                  </li>

                </ul>

              </div>

            </dd>

            <dd>
              <a href="#panel5" class="">Listes des utilisateurs [users-list]</a>

              <!-- Accordion Panel 5-->
              <div id="panel5" class="content">
                <table id="accountsTable" class="">
                  <thead>
                    <tr>
                      <th>Login</th>
                      <th>Mail</th>
                      <th>R&ocirc;le</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Admin1</td>
                      <td><a href="#">admin1@ourses-plumes.fr</a></td>
                      <td>Administratrice</td>
                    </tr>
                    <tr>
                      <td>Modo1</td>
                      <td><a href="#">modo1@ourses-plumes.fr</a></td>
                      <td>Mod&eacute;ratrice</td>
                    </tr>
                    <tr>
                      <td>User1</td>
                      <td><a href="#">user@ourses-plumes.fr</a></td>
                      <td>Lectrice</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </dd>

          </dl>

        </div>

        <hr class="hide">

        <!--------------------------------------------------------------------->
        <!-- Footer -->
        <!--------------------------------------------------------------------->

        <footer class="footer text-center">

          <!-- Site Links -->
          <h4 class="hide">Les Ourses &agrave; plumes</h4>
          <nav class="subnav">
            <ul>
              <li><a href="#">&Agrave; propos</a></li>
              <li><a href="#">Plan du site</a></li>
              <li><a href="#">Partenaires</a></li>
              <li><a href="#">Mentions l&eacute;gales</a></li>
              <li class="icon-mailto"><a href="#">Contact</a></li>
              <li class="icon-twitter"><a href="#">Twitter</a></li>
              <li class="icon-facebook"><a href="#">Facebook</a></li>
            </ul>
          </nav>

          <!-- Copyright -->
          <div class="endnote">&copy; 2013-2014 - Les Ourses &agrave; plumes, tous droits r&eacute;serv&eacute;s.</div>
        </footer>

      </div>

    </div>

    <!-- Post Loading Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/loap.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>

